.mat-column-state {
  max-width: 2.2rem;
  width: 2.2rem;
  text-overflow: unset;
}

.mat-column-private, .mat-column-is_keysend, .mat-column-is_amp {
  max-width: 2.2rem;
  width:2.2rem;
  text-overflow: unset;
}
