<div fxLayout="column" fxFlex="50" fxLayoutAlign="center start">
  <div fxFlex="33">
    <h4 fxLayoutAlign="start" class="font-bold-500">Daily</h4>
    <div class="foreground-secondary-text">{{fees?.day_fee_sum | number}} (Sats)</div>
  </div>
  <div fxFlex="33">
    <h4 fxLayoutAlign="start" class="font-bold-500">Weekly</h4>
    <div class="foreground-secondary-text">{{fees?.week_fee_sum | number}} (Sats)</div>
  </div>
  <div fxFlex="33">
    <h4 fxLayoutAlign="start" class="font-bold-500">Monthly</h4>
    <div class="foreground-secondary-text">{{fees?.month_fee_sum | number}} (Sats)</div>
  </div>
</div>
<div fxLayout="column" fxFlex="50" fxLayoutAlign="center start" style="background-color:cadetblue;height:67%;border-radius: 500px;"></div>
