<div fxLayout="column">
  <div class="padding-gap">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <h2>Transactions</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="table-card-content">
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field fxFlex="30">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <div perfectScrollbar class="table-container mat-elevation-z8">
          <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          <table mat-table #table [dataSource]="listTransactions" matSort [ngClass]="{'mat-elevation-z8 overflow-auto error-border': flgLoading[0]==='error','mat-elevation-z8 overflow-auto': true}">
            <ng-container matColumnDef="dest_addresses">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination Addresses</th>
              <td mat-cell *matCellDef="let trans">{{trans?.dest_addresses?.length || 0}} Addr</td>
            </ng-container>
            <ng-container matColumnDef="time_stamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
              <td mat-cell *matCellDef="let trans"> {{trans.time_stamp_str}}</td>
            </ng-container>
            <ng-container matColumnDef="num_confirmations">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Num Confirmations </th>
              <td mat-cell *matCellDef="let trans"><span fxLayoutAlign="end center"> {{trans.num_confirmations | number}} </span></td>
            </ng-container>
            <ng-container matColumnDef="total_fees">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Total Fees </th>
              <td mat-cell *matCellDef="let trans"><span fxLayoutAlign="end center"> {{trans.total_fees | number}} </span></td>
            </ng-container>
            <ng-container matColumnDef="block_hash">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Block Hash </th>
              <td mat-cell *matCellDef="let trans"> {{trans.block_hash | slice:0:10}}...</td>
            </ng-container>
            <ng-container matColumnDef="block_height">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Block Height </th>
              <td mat-cell *matCellDef="let trans"><span fxLayoutAlign="end center"> {{trans.block_height | number}} </span></td>
            </ng-container>
            <ng-container matColumnDef="tx_hash">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Txn Hash </th>
              <td mat-cell *matCellDef="let trans"><div>{{trans.tx_hash | slice:0:10}}...</div></td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Amount </th>
              <td mat-cell *matCellDef="let trans"><span fxLayoutAlign="end center"> {{trans.amount | number}} </span></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onTransactionClick(row, $event)"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
