.mat-column-channel_point, .mat-column-remote_alias, .mat-column-remote_node_pub,
.mat-column-commitment_type, .mat-column-closing_txid {
  flex: 1 1 10%;
  white-space: nowrap;
  overflow: hidden;  
  text-overflow: ellipsis;
}

tr.mat-footer-row td.mat-footer-cell {
  border-bottom: none;
}
