<div fxLayout="column">
  <div fxFlex="100" class="padding-gap">
    <span class="page-title">Total Limbo Balance: {{pendingChannels.total_limbo_balance | number}} {{information?.smaller_currency_unit}}</span>
    <div class="">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Pending Open Channels({{pendingOpenChannelsLength}})</mat-panel-title>
            <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          </mat-expansion-panel-header>
          <div perfectScrollbar fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="table-container">
            <mat-table #table [dataSource]="pendingOpenChannels" matSort [ngClass]="{'overflow-auto error-border bordered-box': flgLoading[0]==='error','overflow-auto bordered-box': true}">
              <ng-container matColumnDef="remote_node_pub">
                <mat-header-cell class="pl-2" *matHeaderCellDef mat-sort-header> Remote Node Pub </mat-header-cell>
                <mat-cell class="pl-2" *matCellDef="let channel">{{channel.channel.remote_node_pub}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="local_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Local Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.local_balance |
                      number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="commit_fee">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Commit Fee </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.commit_fee | number}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="remote_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Remote Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.remote_balance |
                          number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="capacity">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Capacity </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.capacity |
                            number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="commit_weight">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Commit Weight </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.commit_weight | number}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="fee_per_kw">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Fee Per KW </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.fee_per_kw | number}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="confirmation_height">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Confirmation Height </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.confirmation_height |
                  number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="channel_point">
                <mat-header-cell class="pl-2" *matHeaderCellDef mat-sort-header> Channel Point </mat-header-cell>
                <mat-cell class="pl-2" *matCellDef="let channel">{{channel.channel.channel_point}}</mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedOpenColumns"></mat-header-row>
              <mat-row fxLayoutAlign="stretch stretch" *matRowDef="let row; columns: displayedOpenColumns;"
                (click)="onOpenClick(row, $event)"></mat-row>
            </mat-table>
          </div>            
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Pending Force Closing Channels({{pendingForceClosingChannelsLength}})</mat-panel-title>
            <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          </mat-expansion-panel-header>
          <div perfectScrollbar fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="table-container">
            <mat-table #table [dataSource]="pendingForceClosingChannels" matSort
              [ngClass]="{'overflow-auto error-border bordered-box': flgLoading[0]==='error','overflow-auto bordered-box': true}">
              <ng-container matColumnDef="remote_node_pub">
                <mat-header-cell class="pl-2" *matHeaderCellDef mat-sort-header> Remote Node Pub </mat-header-cell>
                <mat-cell class="pl-2" *matCellDef="let channel">{{channel.channel.remote_node_pub}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="recovered_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Recovered Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.recovered_balance |
                        number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="limbo_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Limbo Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.limbo_balance | number}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="blocks_til_maturity">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Block Till Maturity </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.blocks_til_maturity |
                            number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="maturity_height">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Maturity Height </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.maturity_height | number}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="local_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Local Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.local_balance |
                            number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="remote_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Remote Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.remote_balance |
                          number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="capacity">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Capacity </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.capacity |
                          number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="closing_txid">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id </mat-header-cell>
                <mat-cell *matCellDef="let channel">
                  <div class="flex-ellipsis">{{channel.closing_txid}}</div>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="channel_point">
                <mat-header-cell class="pl-2" *matHeaderCellDef mat-sort-header> Channel Point </mat-header-cell>
                <mat-cell class="pl-2" *matCellDef="let channel">{{channel.channel.channel_point}}</mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedForceClosingColumns"></mat-header-row>
              <mat-row fxLayoutAlign="stretch stretch" *matRowDef="let row; columns: displayedForceClosingColumns;"
                (click)="onForceClosingClick(row, $event)"></mat-row>
            </mat-table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Pending Closing Channels({{pendingClosingChannelsLength}})</mat-panel-title>
            <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          </mat-expansion-panel-header>
          <div perfectScrollbar fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="table-container">
            <mat-table #table [dataSource]="pendingClosingChannels" matSort
              [ngClass]="{'overflow-auto error-border bordered-box': flgLoading[0]==='error','overflow-auto bordered-box': true}">
              <ng-container matColumnDef="remote_node_pub">
                <mat-header-cell class="pl-2" *matHeaderCellDef mat-sort-header> Remote Node Pub </mat-header-cell>
                <mat-cell class="pl-2" *matCellDef="let channel">{{channel.channel.remote_node_pub}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="local_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Local Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.local_balance |
                  number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="remote_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Remote Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.remote_balance |
                  number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="capacity">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Capacity </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.capacity |
                    number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="closing_txid">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id </mat-header-cell>
                <mat-cell *matCellDef="let channel">
                  <div class="flex-ellipsis">{{channel.closing_txid}}</div>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="channel_point">
                <mat-header-cell class="pl-2" *matHeaderCellDef mat-sort-header> Channel Point </mat-header-cell>
                <mat-cell class="pl-2" *matCellDef="let channel">{{channel.channel.channel_point}}</mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedClosingColumns"></mat-header-row>
              <mat-row fxLayoutAlign="stretch stretch" *matRowDef="let row; columns: displayedClosingColumns;"
                (click)="onClosingClick(row, $event)"></mat-row>
            </mat-table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Waiting Close Channels({{pendingWaitClosingChannelsLength}})</mat-panel-title>
            <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          </mat-expansion-panel-header>
          <div perfectScrollbar fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="table-container">
              <mat-table #table [dataSource]="pendingWaitClosingChannels" matSort
              [ngClass]="{'overflow-auto error-border bordered-box': flgLoading[0]==='error','overflow-auto bordered-box': true}">
              <ng-container matColumnDef="remote_node_pub">
                <mat-header-cell class="pl-2" *matHeaderCellDef mat-sort-header> Remote Node Pub </mat-header-cell>
                <mat-cell class="pl-2" *matCellDef="let channel">{{channel.channel.remote_node_pub}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="limbo_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Limbo Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.limbo_balance | number}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="local_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Local Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.local_balance |
                  number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="remote_balance">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Remote Balance </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.remote_balance |
                number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="capacity">
                <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header arrowPosition="before">
                  Capacity </mat-header-cell>
                <mat-cell fxLayoutAlign="end center" *matCellDef="let channel">{{channel.channel.capacity |
                  number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="channel_point">
                <mat-header-cell class="pl-2" *matHeaderCellDef mat-sort-header> Channel Point </mat-header-cell>
                <mat-cell class="pl-2" *matCellDef="let channel">{{channel.channel.channel_point}}</mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedWaitClosingColumns"></mat-header-row>
              <mat-row fxLayoutAlign="stretch stretch" *matRowDef="let row; columns: displayedWaitClosingColumns;"
                (click)="onWaitClosingClick(row, $event)"></mat-row>
            </mat-table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>