<div fxLayout="column" fxFlex="100" class="mt-2 bordered-box">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span matBadge="{{openChannels}}" matBadgeColor="primary" matBadgeOverlap="false" class="tab-badge">Open</span>
      </ng-template>
      <rtl-channel-open-table></rtl-channel-open-table>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span matBadge="{{pendingChannels}}" matBadgeColor="primary" matBadgeOverlap="false" class="tab-badge">Pending</span>
      </ng-template>
      <rtl-channel-pending-table></rtl-channel-pending-table>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span matBadge="{{closedChannels}}" matBadgeColor="primary" matBadgeOverlap="false" class="tab-badge">Closed</span>
      </ng-template>
      <rtl-channel-closed-table></rtl-channel-closed-table>
    </mat-tab>
  </mat-tab-group>
</div>
