<mat-tree [dataSource]="navMenus" [treeControl]="treeControlNested" class="mt-2"
  *ngIf="settings.menuType === 'Regular'">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle routerLinkActive="active-link" routerLink="{{node.link}}">
    <div (click)="onChildNavClicked(node)">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
        <fa-icon [icon]="node.icon" class="fa-icon-small mr-4"></fa-icon>
        <span *ngIf="settings.menuType === 'Regular'">{{node.name}}</span><span
          *ngIf="node.name === 'Peers/Channels'" [matBadgeHidden]="numPendingChannels<1"
          matBadge="{{numPendingChannels}}" matBadgeOverlap="false" matBadgeColor="primary"></span>
      </div>
    </div>
  </mat-tree-node>
  <mat-nested-tree-node fxLayout="column" *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle>
    <div fxLayout="row" fxLayoutAlign="start center" class="mat-nested-tree-node-parent">
      <div fxFlex="89" fxLayoutAlign="start center">
        <fa-icon [icon]="node.icon" class="fa-icon-small mr-4"></fa-icon>
        <span>{{node.name}}</span>
      </div>
      <button fxFlex="11" fxLayoutAlign="end center" mat-icon-button [attr.aria-label]="'toggle ' + node.name"
        fxLayoutAlign="end center">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControlNested.isExpanded(node) ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
      </button>
    </div>
    <div [class.tree-children-invisible]="!treeControlNested.isExpanded(node)" class="mat-nested-tree-node-child">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
<mat-tree [dataSource]="navMenusLogout" [treeControl]="treeControlLogout"
  *ngIf="settings.menuType === 'Regular' && showLogout" class="mt-minus-1">
  <mat-tree-node *matTreeNodeDef="let node" (click)="onClick(node)">
    <fa-icon [icon]="node.icon" class="fa-icon-small mr-4" matTooltip="{{node.name}}" matTooltipPosition="right"></fa-icon>
    <span>{{node.name}}</span>
  </mat-tree-node>
</mat-tree>

<mat-tree [dataSource]="navMenus" [treeControl]="treeControlNested" class="mt-2"
  *ngIf="settings.menuType === 'Compact'">
  <mat-tree-node fxLayout="row" matTreeNodeToggle fxLayoutAlign="start center" *matTreeNodeDef="let node"
    (click)="onChildNavClicked(node)" routerLinkActive="active-link" routerLink="{{node.link}}">
    <fa-icon [icon]="node.icon" class="fa-icon-small mr-1"></fa-icon>
    <span>{{node.name}}<span *ngIf="node.name === 'Peers/Channels'" [matBadgeHidden]="numPendingChannels<1"
        matBadge="{{numPendingChannels}}" matBadgeOverlap="false" matBadgeColor="primary"></span></span>
  </mat-tree-node>

  <mat-nested-tree-node fxLayout="column" *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle>
    <div fxLayout="row" fxLayoutAlign="start center" class="mat-nested-tree-node-parent">
      <div fxFlex="89" fxLayoutAlign="start center">
        <fa-icon [icon]="node.icon" class="fa-icon-small mr-1"></fa-icon>
        <span>{{node.name}}</span>
      </div>
      <button fxFlex="11" fxLayoutAlign="end center" mat-icon-button [attr.aria-label]="'toggle ' + node.name"
        fxLayoutAlign="end center">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControlNested.isExpanded(node) ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
      </button>
    </div>
    <div [class.tree-children-invisible]="!treeControlNested.isExpanded(node)" class="mat-nested-tree-node-child">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
<mat-tree [dataSource]="navMenusLogout" [treeControl]="treeControlLogout"
  *ngIf="settings.menuType === 'Compact' && showLogout" class="mt-minus-1">
  <mat-tree-node fxLayout="row" fxLayoutAlign="start center" *matTreeNodeDef="let node"
    (click)="onClick(node)">
    <fa-icon [icon]="node.icon" class="fa-icon-small mr-1"></fa-icon>
    <span>{{node.name}}</span>
  </mat-tree-node>
</mat-tree>

<mat-tree [dataSource]="navMenus" [treeControl]="treeControlNested" class="mt-2"
  *ngIf="settings.menuType === 'Mini'">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle routerLinkActive="active-link" routerLink="{{node.link}}">
    <div (click)="onChildNavClicked(node)">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
        <fa-icon [icon]="node.icon" class="fa-icon-regular" matTooltip="{{node.name}}" matTooltipPosition="right"><span
            *ngIf="node.name === 'Peers/Channels'"
            [matBadgeHidden]="numPendingChannels<1" matBadge="{{numPendingChannels}}" matBadgeOverlap="false"
            matBadgeColor="primary"></span></fa-icon>
      </div>
    </div>
  </mat-tree-node>
  <mat-nested-tree-node fxLayout="column" *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle>
    <div fxLayout="row" fxLayoutAlign="start center" class="mat-nested-tree-node-parent">
      <div fxFlex="89" fxLayoutAlign="start center">
        <fa-icon [icon]="node.icon" class="fa-icon-regular" matTooltip="{{node.name}}" matTooltipPosition="right"></fa-icon>
      </div>
      <button fxFlex="11" fxLayoutAlign="end center" mat-icon-button [attr.aria-label]="'toggle ' + node.name"
        fxLayoutAlign="end center">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControlNested.isExpanded(node) ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
      </button>
    </div>
    <div [class.tree-children-invisible]="!treeControlNested.isExpanded(node)" class="mat-nested-tree-node-child">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
<mat-tree [dataSource]="navMenusLogout" [treeControl]="treeControlLogout"
  *ngIf="settings.menuType === 'Mini' && showLogout" class="mt-minus-1">
  <mat-tree-node *matTreeNodeDef="let node" (click)="onClick(node)" fxLayoutAlign="start center">
    <fa-icon [icon]="node.icon" class="fa-icon-regular" matTooltip="{{node.name}}" matTooltipPosition="right"></fa-icon>
  </mat-tree-node>
</mat-tree>