.mat-column-active {
  max-width: 1.2rem;
  width:1.2rem;
}

.mat-column-offer_id, .mat-column-bolt12 {
  flex: 0 0 35%;
  width: 35%;
  & .ellipsis-parent {
    display: flex;
  }
}

.mat-column-actions {
  min-height: 4.8rem;
}
