<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
    <fa-icon [icon]="faMapSigns" class="page-title-img mr-1"></fa-icon>
    <span class="page-title">Routing</span>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="padding-gap-x">
    <mat-card fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
      <mat-card-content fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxFlex="100">
          <nav mat-tab-nav-bar fxFlex="100">
            <div role="tab" mat-tab-link *ngFor="let link of links" class="mat-tab-label" [active]="activeLink === link.link" (click)="activeLink = link.link" routerLink="{{link.link}}">{{link.name}}</div>
          </nav>
        </div>
        <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" class="padding-gap-x-large">
          <router-outlet></router-outlet>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
