<div fxLayout="column">
  <div class="padding-gap">
    <mat-card>
      <mat-card-content *ngIf="lookupResult">
        <div fxLayout="column">
          <mat-list fxLayoutAlign="start start">
            <mat-list-item fxFlex="50" fxLayoutAlign="start start">ID</mat-list-item>
            <mat-list-item fxFlex="40" fxLayoutAlign="start start">{{lookupResult?.nodeid}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <mat-list fxLayoutAlign="start start">
            <mat-list-item fxFlex="50" fxLayoutAlign="start start">Alias</mat-list-item>
            <mat-list-item fxFlex="40" fxLayoutAlign="start start">{{lookupResult?.alias}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <mat-list fxLayoutAlign="start start">
            <mat-list-item fxFlex="50" fxLayoutAlign="start start">Last Timestamp</mat-list-item>
            <mat-list-item fxFlex="40" fxLayoutAlign="start start">{{lookupResult?.last_timestamp_str}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <mat-list fxLayoutAlign="start start">
            <mat-list-item fxFlex="50" fxLayoutAlign="start start">Color</mat-list-item>
            <mat-list-item fxFlex="40" fxLayoutAlign="start start"><span
                [ngStyle]="{'background-color': '#' + lookupResult.color}">{{lookupResult?.color}}</span></mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <mat-list fxLayoutAlign="start start">
            <mat-list-item fxFlex="50" fxLayoutAlign="start start">Global Features</mat-list-item>
            <mat-list-item fxFlex="40" fxLayoutAlign="start start">{{lookupResult?.globalfeatures}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <mat-list fxLayoutAlign="start start">
            <mat-list-item fxFlex="50" fxLayoutAlign="start start">Global_Features</mat-list-item>
            <mat-list-item fxFlex="40" fxLayoutAlign="start start">{{lookupResult?.global_features}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <mat-list fxLayout="column" fxLayoutAlign="start start">
            <mat-divider></mat-divider>
            <mat-list-item fxFlex="100" fxLayoutAlign="start start">Addresses</mat-list-item>
            <mat-table [dataSource]="lookupResult?.addresses" matSort class="mat-elevation-z8 overflow-auto">
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                <mat-cell *matCellDef="let address">
                  <div>{{address?.type}}</div>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                <mat-cell *matCellDef="let address">
                  <div>{{address?.address}}</div>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="port">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Port</mat-header-cell>
                <mat-cell *matCellDef="let address">
                  <div>{{address?.port}}</div>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
              <mat-row fxLayoutAlign="stretch stretch" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>