<div fxLayout="column">
  <div class="padding-gap">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <h2>Query Routes</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="space-between stretch" fxLayout.gt-md="row wrap"
          (ngSubmit)="queryRoutesForm.form.valid && onQueryRoutes()" #queryRoutesForm="ngForm">
          <mat-form-field fxFlex="50" fxLayoutAlign="start end">
            <input matInput placeholder="Destination Pubkey" name="destinationPubkey" [(ngModel)]="destinationPubkey"
              tabindex="1" required #destPubkey="ngModel">
          </mat-form-field>
          <mat-form-field fxFlex="20" fxLayoutAlign="start end">
            <input matInput placeholder="Amount (mSats)" name="amount" [(ngModel)]="amount" tabindex="2" type="number"
              step="1000" min="0" required #destAmount="ngModel">
          </mat-form-field>
          <div fxFlex="15" fxLayoutAlign="start start">
            <button fxFlex="90" fxLayoutAlign="center center" mat-raised-button color="primary"
              [disabled]="destPubkey.invalid || destAmount.invalid" type="submit" tabindex="3">
              <p
                *ngIf="(destPubkey.invalid && (destPubkey.dirty || destPubkey.touched) || (destAmount.invalid && (destAmount.dirty || destAmount.touched))); else queryText">
                Invalid Pubkey/Amount
              </p>
              <ng-template #queryText>
                <p>Query</p>
              </ng-template>
            </button>
          </div>
          <div fxFlex="15" fxLayoutAlign="start start">
            <button fxFlex="90" fxLayoutAlign="center center" mat-stroked-button color="primary" tabindex="4" type="reset"
              (click)="resetData()">Clear</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="padding-gap">
    <mat-card>
      <mat-card-content class="table-card-content">
        <div perfectScrollbar class="table-container">
          <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          <table mat-table #table [dataSource]="qRoutes" matSort
            [ngClass]="{'overflow-x-auto error-border': flgLoading[0]==='error','overflow-x-auto': true}">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let route"> {{route?.id}} </td>
            </ng-container>
            <ng-container matColumnDef="alias">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Alias </th>
              <td mat-cell *matCellDef="let route"> {{route?.alias}} </td>
            </ng-container>
            <ng-container matColumnDef="channel">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Channel </th>
              <td mat-cell *matCellDef="let route"> {{route?.channel}} </td>
            </ng-container>
            <ng-container matColumnDef="direction">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Direction </th>
              <td mat-cell *matCellDef="let route"> {{route?.direction}} </td>
            </ng-container>
            <ng-container matColumnDef="msatoshi">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> mSatoshi </th>
              <td mat-cell *matCellDef="let route"><span fxLayoutAlign="end center"> {{route?.msatoshi | number}}
                </span></td>
            </ng-container>
            <ng-container matColumnDef="amount_msat">
              <th mat-header-cell class="pl-4" *matHeaderCellDef mat-sort-header> Amount mSat </th>
              <td mat-cell class="pl-4" *matCellDef="let route"> {{route?.amount_msat}} </td>
            </ng-container>
            <ng-container matColumnDef="delay">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Delay </th>
              <td mat-cell *matCellDef="let route"><span fxLayoutAlign="end center"> {{route?.delay | number}} </span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: flgSticky;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRouteClick(row, $event)"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>