<div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch">
  <div>
    <h4 class="dashboard-info-title">Alias</h4>
    <div class="overflow-wrap dashboard-info-value">
      {{information.alias}}
      <span *ngIf="!showColorFieldSeparately" class="dashboard-node-dot dot" [ngStyle]="{'backgroundColor': information.color}"></span>
    </div>
  </div>
  <div *ngIf="showColorFieldSeparately">
    <h4 class="dashboard-info-title">Color</h4>
    <div class="overflow-wrap dashboard-info-value">
      <span class="dashboard-node-square" [ngStyle]="{'backgroundColor': information.color}"></span>
      {{information.color | uppercase}}
    </div>
  </div>
  <div>
    <h4 class="dashboard-info-title">Implementation</h4>
    <div class="overflow-wrap dashboard-info-value">{{(information.lnImplementation || information.version) ? information.lnImplementation + ' ' + information.version : ''}}</div>
  </div>
  <div>
    <h4 class="dashboard-info-title">Chain</h4>
    <span class="overflow-wrap dashboard-info-value" *ngFor="let chain of chains">{{chain}}</span>
  </div>
</div>
