<div fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxLayoutAlign="start center" class="padding-gap-x page-title-container">
    <fa-icon [icon]="faCog" class="page-title-img mr-1"></fa-icon>
    <span class="page-title">Show Configurations</span>
  </div>
  <div fxLayout="row" class="padding-gap-x" fxLayoutAlign="start start">
    <mat-card fxLayout="column" fxFlex="100" class="padding-gap-large">
      <mat-card-content class="card-content-gap">
        <form fxLayout="column" fxLayoutAlign="space-between stretch" fxLayout.gt-md="row wrap">
          <mat-radio-group color="primary" fxFlex="20" fxLayoutAlign="start" (change)="onSelectionChange($event)" class="mt-1 mb-1">
            <mat-radio-button tabindex="1" class="pr-5" value="rtl" [checked]="selectedNodeType=='rtl'">RTL</mat-radio-button>
            <mat-radio-button tabindex="2" class="pr-5" value="ln" *ngIf="showLnConfig" [checked]="selectedNodeType=='ln'">{{lnImplementationStr}}</mat-radio-button>
            <mat-radio-button tabindex="3" class="pr-5" value="bitcoind" *ngIf="showBitcoind" [checked]="selectedNodeType=='bitcoind'">BITCOIND</mat-radio-button>
          </mat-radio-group>
          <div fxFlex="30" fxLayoutAlign="space-between center">
            <button fxFlex="48" fxLayoutAlign="center center" mat-stroked-button color="primary" tabindex="4" type="reset" (click)="resetData()">Clear</button>
            <button fxFlex="48" fxLayoutAlign="center center" mat-raised-button color="primary" (click)="onShowConfig()" tabindex="5">Show Config</button>
          </div>
        </form>     
        <mat-divider *ngIf="configData !== ''" class="my-1"></mat-divider>
        <div *ngIf="configData !== '' && fileFormat === 'JSON'" class="mt-2 mb-6">
          <pre class="pre-wrap">{{configData | json}}</pre>
          <mat-divider *ngIf="configData !== ''" class="my-1"></mat-divider>
        </div>
        <div *ngIf="configData !== '' && fileFormat === 'INI'" class="mt-2">
          <mat-list>
            <mat-list-item *ngFor="let conf of configData; index as i;">
              <mat-card-subtitle class="my-1">
                <h2 *ngIf="conf.indexOf('[') >= 0">{{conf}}</h2>
              </mat-card-subtitle>
              <mat-card-subtitle class="m-0">
                <h4 *ngIf="conf.indexOf('[') < 0" class="ml-4">{{conf}}</h4>
              </mat-card-subtitle>
              <mat-divider [inset]="true" *ngIf="conf.indexOf('[') < 0"></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
  