.mat-column-alias {
  flex: 0 0 20%;
  width: 20%;
  & .ellipsis-parent {
    display: flex;
  }
}

.mat-column-balancedness {
  padding-left: 3rem;
  flex: 0 0 22%;
  width: 22%;
}

.mat-column-short_channel_id, .mat-column-state, .mat-column-msatoshi_to_us, .mat-column-msatoshi_to_them {
  flex: 0 0 15%;
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-actions {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
