<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
  <div fxFlex="30" fxLayoutAlign="center start" class="modal-qr-code-container padding-gap-large" [ngClass]="{'display-none': screenSize === screenSizeEnum.XS || screenSize === screenSizeEnum.SM}">
    <qrcode qrdata="{{selInfoType.infoID === 0 ? information.identity_pubkey : information.uris[(selInfoType.infoID - 1)]}}" [margin]="2" [width]="qrWidth" [errorCorrectionLevel]="'L'" [allowEmptyString]="true"></qrcode>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="70">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="modal-info-header">
      <div fxFlex="95" fxLayoutAlign="start start">
        <fa-icon [icon]="faReceipt" class="page-title-img mr-1"></fa-icon>
        <span class="page-title">{{selInfoType.infoName}}</span>
      </div>
      <button tabindex="3" fxFlex="5" fxLayoutAlign="center" class="btn-close-x p-0" (click)="onClose()" mat-button>X</button>
    </mat-card-header>
    <mat-card-content class="padding-gap-x-large">
      <div fxLayout="column">
        <div fxFlex="50" fxLayoutAlign="center start" class="modal-qr-code-container padding-gap-large" [ngClass]="{'display-none': screenSize !== screenSizeEnum.XS && screenSize !== screenSizeEnum.SM}">
          <qrcode qrdata="{{selInfoType.infoID === 0 ? information.identity_pubkey : information.uris[(selInfoType.infoID - 1)]}}" [margin]="2" [width]="qrWidth" [errorCorrectionLevel]="'L'" [allowEmptyString]="true"></qrcode>
        </div>
        <div fxLayout="row" *ngIf="information.uris && information.uris.length > 0">
          <mat-form-field fxFlex="100" fxFlex.gt-sm="40" fxLayoutAlign="start end">
            <mat-select tabindex="1" [(value)]="selInfoType">
              <mat-option *ngFor="let infoType of infoTypes" [value]="infoType">
                {{infoType.infoName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <h4 fxLayoutAlign="start" class="font-bold-500">{{selInfoType.infoName}}</h4>
            <span class="foreground-secondary-text">{{selInfoType.infoID === 0 ? information.identity_pubkey : information.uris[(selInfoType.infoID - 1)]}}</span>
          </div>
        </div>
        <mat-divider class="w-100 my-1"></mat-divider>
        <div class="mt-2" fxLayout="row" fxLayoutAlign="end center">
          <button autoFocus mat-flat-button color="primary" tabindex="2" type="submit" rtlClipboard payload="{{selInfoType.infoID === 0 ? information.identity_pubkey : information.uris[(selInfoType.infoID - 1)]}}" (copied)="onCopyPubkey($event)">Copy {{selInfoType.infoKey}}</button>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>