<div fxLayout="column">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign="start stretch" class="page-sub-title-container">
    <div fxFlex="70"></div>
    <div fxFlex.gt-xs="30" fxLayoutAlign.gt-xs="space-between center" fxLayout="row" fxLayoutAlign="space-between stretch">
      <mat-form-field fxLayout="column" fxFlex="49">
        <mat-label>Filter By</mat-label>
        <mat-select tabindex="1" name="filterBy" [(ngModel)]="selFilterBy" (selectionChange)="selFilter=''; applyFilter()">
          <perfect-scrollbar><mat-option *ngFor="let column of ['all'].concat(displayedColumns.slice(0, -1))" [value]="column">{{getLabel(column)}}</mat-option></perfect-scrollbar>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxLayout="column" fxFlex="49">
        <mat-label>Filter</mat-label>
        <input matInput name="filter" [(ngModel)]="selFilter" (input)="applyFilter()" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column" fxFlex="100" class="table-container" [perfectScrollbar]>
    <mat-progress-bar *ngIf="apiCallStatus.status === apiCallStatusEnum.INITIATED" mode="indeterminate" />
    <table #table mat-table fxFlex="100" matSort [matSortActive]="tableSetting.sortBy" [matSortDirection]="tableSetting.sortOrder" [dataSource]="closedChannels" [ngClass]="{'error-border': errorMessage !== '', 'overflow-auto': true}">
      <ng-container matColumnDef="close_type">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Close Type</th>
        <td *matCellDef="let channel" mat-cell>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="info-icon info-icon-text" [matTooltip]="channelClosureType[channel.close_type].tooltip">info_outline</mat-icon>
            {{channelClosureType[channel.close_type].name}}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="remote_alias">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Peer</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.remote_alias}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="remote_pubkey">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Pubkey</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.remote_pubkey}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="channel_point">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Channel Point</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.channel_point}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="chan_id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Channel ID</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.chan_id}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="closing_tx_hash">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Closing Tx Hash</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.closing_tx_hash}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="chain_hash">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Chain Hash</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.chain_hash}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="open_initiator">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Open Initiator</th>
        <td *matCellDef="let channel" mat-cell>{{channel.open_initiator | camelcaseWithReplace:'initiator_'}}</td>
      </ng-container>
      <ng-container matColumnDef="close_initiator">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Close Initiator</th>
        <td *matCellDef="let channel" mat-cell>{{channel.close_initiator | camelcaseWithReplace:'initiator_'}}</td>
      </ng-container>
      <ng-container matColumnDef="time_locked_balance">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Timelocked Balance (Sats)</th>
        <td *matCellDef="let channel" mat-cell><span fxLayoutAlign="end center">{{channel.time_locked_balance | number}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="capacity">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Capacity (Sats)</th>
        <td *matCellDef="let channel" mat-cell><span fxLayoutAlign="end center">{{channel.capacity | number}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="close_height">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Close Height</th>
        <td *matCellDef="let channel" mat-cell><span fxLayoutAlign="end center">{{channel.close_height | number}}
          </span></td>
      </ng-container>
      <ng-container matColumnDef="settled_balance">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Settled Balance (Sats)</th>
        <td *matCellDef="let channel" mat-cell><span fxLayoutAlign="end center">{{channel.settled_balance | number}}
          </span></td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>
          <div class="bordered-box table-actions-select" fxLayoutAlign="center center">
            <mat-select placeholder="Actions" tabindex="1" class="mr-0">
              <mat-select-trigger />
              <mat-option (click)="onDownloadCSV()">Download CSV</mat-option>
            </mat-select>
          </div>
       </th>
        <td *matCellDef="let channel" mat-cell>
          <span fxLayoutAlign="end center">
            <button mat-stroked-button color="primary" type="button" tabindex="4" class="table-actions-button" (click)="onClosedChannelClick(channel,$event)">View Info</button>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="no_closed_channel">
        <td *matFooterCellDef  mat-footer-cell colspan="4">
          <p *ngIf="(!closedChannels?.data || closedChannels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.COMPLETED">No closed channel available.</p>
          <p *ngIf="(!closedChannels?.data || closedChannels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.INITIATED">Getting closed channels...</p>
          <p *ngIf="(!closedChannels?.data || closedChannels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.ERROR">{{errorMessage}}</p>
        </td>
      </ng-container>
      <tr *matFooterRowDef="['no_closed_channel']" mat-footer-row [ngClass]="{'display-none': closedChannels?.data && closedChannels?.data?.length>0}"></tr>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <mat-paginator class="mb-1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="screenSize === screenSizeEnum.XS ? false : true" />
</div>
