<div fxLayout="column">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign="start stretch" class="page-sub-title-container">
    <div fxFlex="70"></div>
    <mat-form-field fxFlex="30">
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div [perfectScrollbar] fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="table-container">
    <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
    <table mat-table #table [dataSource]="closedChannels" matSort [ngClass]="{'error-border': flgLoading[0]==='error'}">
      <ng-container matColumnDef="close_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Close Type </th>
        <td mat-cell *matCellDef="let channel" [matTooltip]="channelClosureType[channel.close_type].tooltip">{{channelClosureType[channel.close_type].name}} </td>
      </ng-container>
      <ng-container matColumnDef="remote_alias">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Peer </th>
        <td mat-cell *matCellDef="let channel" [ngStyle]="{'max-width': (screenSize === screenSizeEnum.XS) ? '10rem' : '20rem'}"> {{channel.remote_alias}} </td>
      </ng-container>
      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Capacity </th>
        <td mat-cell *matCellDef="let channel"><span fxLayoutAlign="end center"> {{channel.capacity | number}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="close_height">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Close Height </th>
        <td mat-cell *matCellDef="let channel"><span fxLayoutAlign="end center"> {{channel.close_height | number}}
          </span></td>
      </ng-container>
      <ng-container matColumnDef="settled_balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Settled Balance </th>
        <td mat-cell *matCellDef="let channel"><span fxLayoutAlign="end center"> {{channel.settled_balance | number}}
          </span></td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="pl-1">
          <div class="bordered-box table-actions-select">
            <mat-select placeholder="Actions" tabindex="1" class="mr-0">
              <mat-select-trigger></mat-select-trigger>
              <mat-option (click)="onDownloadCSV()">Download CSV</mat-option>
            </mat-select>
          </div>
        </th>
        <td mat-cell *matCellDef="let channel" class="pl-1">
          <span fxLayoutAlign="end center">
            <button mat-stroked-button color="primary" type="button" tabindex="4" (click)="onClosedChannelClick(channel,$event)">View Info</button>          
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="no_closed_channel">
        <td mat-footer-cell *matFooterCellDef colspan="4">
          <p *ngIf="!closedChannels?.data || closedChannels?.data?.length<1">No closed channels available.</p>
        </td>
      </ng-container>
      <tr mat-footer-row *matFooterRowDef="['no_closed_channel']" [ngClass]="{'display-none': closedChannels?.data && closedChannels?.data?.length>0}"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: flgSticky;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="screenSize === screenSizeEnum.XS ? false : true" class="mb-1"></mat-paginator>
</div>