<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" class="padding-gap-x page-sub-title-container">
    <div fxFlex="70"></div>
    <mat-form-field fxFlex="30">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div perfectScrollbar fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="table-container">
    <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
    <table mat-table #table [dataSource]="closedChannels" matSort
      [ngClass]="{'overflow-auto error-border': flgLoading[0]==='error','overflow-auto': true}">
      <ng-container matColumnDef="close_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Close Type </th>
        <td mat-cell *matCellDef="let channel"> {{channel.close_type}} </td>
      </ng-container>
      <ng-container matColumnDef="chan_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let channel"> {{channel.chan_id}} </td>
      </ng-container>
      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Capacity </th>
        <td mat-cell *matCellDef="let channel"><span fxLayoutAlign="end center"> {{channel.capacity | number}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="close_height">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Close Height </th>
        <td mat-cell *matCellDef="let channel"><span fxLayoutAlign="end center"> {{channel.close_height | number}}
          </span></td>
      </ng-container>
      <ng-container matColumnDef="settled_balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Settled Balance </th>
        <td mat-cell *matCellDef="let channel"><span fxLayoutAlign="end center"> {{channel.settled_balance | number}}
          </span></td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="pl-4 pr-3"><span fxLayoutAlign="end center">Actions</span></th>
        <td mat-cell *matCellDef="let channel" class="pl-4">
          <span fxLayoutAlign="end center">
            <button mat-stroked-button color="primary" type="button" tabindex="4" (click)="onClosedChannelClick(channel,$event)">View Info</button>          
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="no_closed_channel">
        <td mat-footer-cell *matFooterCellDef colspan="4">
          <p *ngIf="!closedChannels.data || closedChannels.data.length<1">No closed channels available.</p>
        </td>
      </ng-container>
      <tr mat-footer-row *matFooterRowDef="['no_closed_channel']" [ngClass]="{'display-none': closedChannels.data && closedChannels.data.length>0}"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: flgSticky;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons class="mb-4"></mat-paginator>
</div>