<div fxLayout="row">
  <div fxFlex="100">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="modal-info-header">
      <div fxFlex="95" fxLayoutAlign="start start">
        <span class="page-title">Create Offer</span>
      </div>
      <button tabindex="6" fxFlex="5" fxLayoutAlign="center" class="btn-close-x p-0" [mat-dialog-close]="false" default mat-button>X</button>
    </mat-card-header>
    <mat-card-content class="padding-gap-x-large">
      <form fxLayout="row wrap" fxLayoutAlign="start space-between" fxFlex="100" #addOfferForm="ngForm">
        <mat-form-field fxFlex="100" fxLayoutAlign="start end">
          <input matInput autoFocus [(ngModel)]="description" placeholder="Description" tabindex="1" name="description">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100">
          <mat-form-field fxFlex="40">
            <input matInput [(ngModel)]="offerValue" (keyup)="onOfferValueChange()" placeholder="Amount" type="number" [step]="100" [min]="1" tabindex="2" name="offerValue">
            <span matSuffix>  Sats </span>
            <mat-hint>{{offerValueHint}}</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="58" fxLayoutAlign="start end">
            <input matInput [(ngModel)]="vendor" placeholder="Vendor" tabindex="3" name="vendor">
          </mat-form-field>
          </div>
        <div fxFlex="100" class="alert alert-danger mt-1" *ngIf="offerError !== ''">
          <fa-icon [icon]="faExclamationTriangle" class="mr-1 alert-icon"></fa-icon>
          <span *ngIf="offerError !== ''">{{offerError}}</span>
        </div>
        <div fxLayout="row" fxFlex="100" class="mt-1" fxLayoutAlign="end center">
          <button class="mr-1" mat-button color="primary" tabindex="4" type="reset" (click)="resetData()">Clear Field</button>
          <button mat-button color="primary" (click)="onAddOffer()" tabindex="5">Create Offer</button>
        </div>
      </form>
    </mat-card-content>
  </div>      
</div>