<div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch">
  <form #peersForm="ngForm" fxLayout="row">
    <button mat-flat-button color="primary" type="submit" tabindex="1" (click)="onConnectPeer({})">Add Peer</button>
  </form>
  <div fxLayout="column">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign="start stretch" class="page-sub-title-container">
      <div fxFlex="70">
        <fa-icon class="page-title-img mr-1" [icon]="faUsers"></fa-icon>
        <span class="page-title">Connected Peers</span>
      </div>
      <div fxFlex.gt-xs="30" fxLayoutAlign.gt-xs="space-between center" fxLayout="row" fxLayoutAlign="space-between stretch">
        <mat-form-field fxFlex="49">
          <mat-select placeholder="Filter By" tabindex="1" name="filterBy" [(ngModel)]="selFilterBy" (selectionChange)="selFilter=''; applyFilter()">
            <mat-option *ngFor="let column of ['all'].concat(displayedColumns.slice(0, -1))" [value]="column">{{getLabel(column)}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="49">
          <input matInput name="filter" placeholder="Filter" [(ngModel)]="selFilter" (input)="applyFilter()" (keyup)="applyFilter()">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="column" fxFlex="100" class="table-container" [perfectScrollbar]>
      <mat-progress-bar *ngIf="apiCallStatus.status === apiCallStatusEnum.INITIATED" mode="indeterminate"></mat-progress-bar>
      <table #table mat-table matSort [dataSource]="peers" [ngClass]="{'error-border': errorMessage !== ''}">
        <ng-container matColumnDef="connected">
          <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before" matTooltip="Connected"></th>
          <td *matCellDef="let peer" mat-cell> 
            <span *ngIf="peer?.connected" class="dot green" matTooltip="Connected" matTooltipPosition="right" [ngClass]="{'mr-0': screenSize === screenSizeEnum.XS}"></span>
            <span *ngIf="!peer?.connected" class="dot red" matTooltip="Disconnected" matTooltipPosition="right" [ngClass]="{'mr-0': screenSize === screenSizeEnum.XS}"></span>
          </td>
        </ng-container>
        <ng-container matColumnDef="alias">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Alias</th>
          <td *matCellDef="let peer" mat-cell> 
            <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '10rem' : colWidth}">
              <span class="ellipsis-child">{{peer?.alias}}</span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
          <td *matCellDef="let peer" mat-cell>
            <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '10rem' : colWidth}">
              <span class="ellipsis-child">{{peer?.id}}</span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="netaddr">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Network Address</th>
          <td *matCellDef="let peer" mat-cell>
            <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '10rem' : colWidth}">
              <span *ngFor="let addr of peer?.netaddr; last as isLast" class="ellipsis-child">{{addr}}<span *ngIf="!isLast">,<br></span></span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell>
            <div class="bordered-box table-actions-select" fxLayoutAlign="center center">
              <mat-select placeholder="Actions" tabindex="1" class="mr-0">
                <mat-select-trigger></mat-select-trigger>
                <mat-option (click)="onDownloadCSV()">Download CSV</mat-option>
              </mat-select>
            </div>
         </th>
          <td *matCellDef="let peer" mat-cell fxLayoutAlign="end center">
            <div class="bordered-box table-actions-select" fxLayoutAlign="center center">
              <mat-select placeholder="Actions" tabindex="1" class="mr-0">
                <mat-select-trigger></mat-select-trigger>
                <mat-option (click)="onPeerClick(peer, $event)">View Info</mat-option>
                <mat-option (click)="onOpenChannel(peer)">Open Channel</mat-option>
                <mat-option *ngIf="peer.connected" (click)="onPeerDetach(peer)">Disconnect</mat-option>
                <mat-option *ngIf="!peer.connected" (click)="onConnectPeer(peer)">Reconnect</mat-option>
              </mat-select>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="no_peer">
          <td *matFooterCellDef  mat-footer-cellcolspan="4">
            <p *ngIf="(!peers?.data || peers?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.COMPLETED">No connected peer.</p>
            <p *ngIf="(!peers?.data || peers?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.INITIATED">Getting peers...</p>
            <p *ngIf="(!peers?.data || peers?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.ERROR">{{errorMessage}}</p>
          </td>
        </ng-container>
        <tr *matFooterRowDef="['no_peer']" mat-footer-row [ngClass]="{'display-none': peers?.data && peers?.data?.length>0}"></tr>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
    <mat-paginator class="mb-1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="screenSize === screenSizeEnum.XS ? false : true"></mat-paginator>
  </div>
</div>