@import "../../theme/styles/mixins.scss";

.login-container {
  height: 60vh;
  margin-top: 15%;

  & .mat-mdc-card {
    height: 30rem;
  }

  & .rtl-logo-svg {
    width: 100%;
    @include for_screensize(tab-port) {
      width: 37%;
    }
    @include for_screensize(phone) {
      width: 70%;
    }
  }

  & .material-icons.mat-icon {
    font-size: 90%;
    cursor: pointer;
  }
  
}
