<div fxLayout="column" fxFlex="100" fxLayoutAlign="center stretch" class="login-container">
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="center stretch">
    <mat-card fxLayout="row" fxFlex="50" fxLayoutAlign="center stretch">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="stretch stretch">
        <div fxFlex="35" fxLayoutAlign="center center" class="bg-primary">
          <img src="assets/images/RTL-Horse-BY.svg" alt="RTL Logo" class="rtl-logo-svg">
        </div>
        <div fxFlex="65" fxLayout="column" fxLayoutAlign="center stretch" class="padding-gap-large">
          <mat-card-header fxLayout="row" fxLayoutAlign="center center" class="page-title-container p-0">
            <mat-card-title class="font-size-300 font-bold-500">
              <span class="page-title">Welcome</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="mt-5px mb-0 pr-2">
            <form #loginForm="ngForm"  fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="start" fxLayoutAlign.gt-sm="space-between">
              <mat-form-field fxFlex="100" fxLayoutAlign="start">
                <input autoFocus matInput placeholder="Password" [type]="flgShow ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password" tabindex="1" required>
                <mat-icon tabindex="2" matSuffix (click)="flgShow = !flgShow">{{flgShow ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="!password">Password is required.</mat-error>
              </mat-form-field>
              <p *ngIf="loginErrorMessage !== ''" fxFlex="100" class="color-warn pre-wrap" fxLayoutAlign="start start">
                <mat-icon class="mr-1 icon-small">close</mat-icon>
                {{loginErrorMessage}}
              </p>
              <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" class="mt-2">
                <button class="mr-1" mat-stroked-button color="primary" tabindex="2" type="reset" (click)="resetData()">Clear</button>
                <button mat-flat-button color="primary" tabindex="3" type="submit" (click)="onLogin()">Login</button>
              </div> 
            </form>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>
