.mat-column-amount, .mat-column-expiration_height, .mat-column-htlc_index, .mat-column-forwarding_htlc_index {
  flex: 0 0 10%;
  width: 10%;
}

.mat-column-incoming, .mat-column-hash_lock, .mat-column-forwarding_channel {
  flex: 0 0 15%;
  width: 15%;
  text-overflow: ellipsis;
}

.mat-column-amount {
  .htlc-row-span:not(:first-of-type) {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

.htlc-row-span {
  min-height: 4.2rem;
  place-content: center flex-start;
  align-items: center;
}

.mat-column-actions {
  & .btn-htlc-expand {
    min-width: 10rem;
    width: 10rem;
  }

  & .btn-htlc-info {
    margin-top: 0.5rem;
    min-width: 9rem;
    width: 9rem; 
  }
}
