.mat-column-amount, .mat-column-expiration_height {
  flex: 0 0 30%;
  width: 30%;
}

.mat-column-incoming, .mat-column-hash_lock {
  flex: 0 0 25%;
  width: 25%;
  text-overflow: ellipsis;
}

.htlc-row-span {
  min-height: 4.2rem;
  place-content: center flex-start;
  align-items: center;
}

.mat-column-actions {
  min-height: 4.8rem;

  & .btn-htlc-expand {
    min-width: 10rem;
    width: 10rem;
  }

  & .btn-htlc-info {
    margin-top: 0.5rem;
    min-width: 9rem;
    width: 9rem; 
  }
}
