.mat-column-amount, .mat-column-expiration_height {
  flex: 0 0 30%;
  width: 30%;
}

.mat-column-incoming, .mat-column-hash_lock {
  flex: 0 0 25%;
  width: 25%;
  text-overflow: ellipsis;
}

.htlc-row-span {
  min-height: 4.2rem;
}

.mat-column-actions {
  min-height: 4.8rem;

  & .btn-htlc-expand {
    width: 9rem; 
  }

  & .btn-htlc-info {
    margin-top: 0.5rem; 
    width: 9rem; 
  }
}
