@import "../../../../theme/styles/theme-color.scss";

.setup-node-container {
  max-height: 65rem;
  min-height: 65rem;
}

svg.svg {
  height: 50%;
  min-height: 50%;
  max-width: 100%;
}

.dots-stepper-block {
  width: 3rem;
}

.mat-icon-help {
  height: auto;
}