<div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch">
  <div>
    <h4 class="dashboard-info-title">Alias</h4>
    <div class="dashboard-info-value">
      {{information.alias}}
      <span class="dashboard-node-dot dot" [ngStyle]="{'backgroundColor': information.color}"></span>
    </div>
  </div>
  <div>
    <h4 class="dashboard-info-title">Implementation</h4>
    <div class="dashboard-info-value">{{(information.lnImplementation || information.version) ? information.lnImplementation + ' v' + information.version : ''}}</div>
  </div>
  <div>
    <h4 class="dashboard-info-title">Chain</h4>
    <span class="overflow-wrap dashboard-info-value" *ngFor="let chain of chains">{{chain}}</span>
  </div>
</div>
