<div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">
  <div fxFlex="33">
    <h4 fxLayoutAlign="start" class="font-bold-500">Alias</h4>
    <div class="foreground-secondary-text" [ngStyle]="{'backgroundColor': information.color}">{{information.alias}}</div>
  </div>
  <div fxFlex="33">
    <h4 fxLayoutAlign="start" class="font-bold-500">Implementation</h4>
    <div class="foreground-secondary-text">{{information.lnImplementation + ' v' + information.version}}</div>
  </div>
  <div fxFlex="34">
    <h4 fxLayoutAlign="start" class="font-bold-500">Chain</h4>
    <span class="overflow-wrap foreground-secondary-text" *ngFor="let chain of chains">{{chain}}</span>
  </div>
</div>
