<div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
  <fa-icon class="page-title-img mr-1" [icon]="faUserCheck"></fa-icon>
  <span class="page-title">Sign/Verify Message</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column">
      <nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" [tabPanel]="tabPanel">
        <div *ngFor="let link of links" mat-tab-link role="tab" class="mat-tab-label" [active]="activeLink === link.link" routerLink="{{link.link}}" (click)="activeLink = link.link">{{link.name}}</div>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch" class="mat-tab-body-wrapper mb-2">
        <router-outlet></router-outlet>
      </div>
    </mat-card-content>
  </mat-card>
</div>
  