<div fxLayout="row" fxLayoutAlign="start center" class="padding-gap-x page-title-container">
  <fa-icon [icon]="faUnlockAlt" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">Signin to RTL</span>
</div>
<div fxLayout="column">
  <div class="padding-gap">
    <mat-card>
      <mat-card-content class="card-content-gap">
        <form (ngSubmit)="onSignin()" #signinForm="ngForm"  fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="start" fxLayoutAlign.gt-sm="space-between">
          <mat-form-field fxFlex="100" fxLayoutAlign="start">
            <input matInput placeholder="Password" type="password" id="password" name="password" [(ngModel)]="password"
              tabindex="1" required>
            <mat-hint>{{hintStr}}</mat-hint>
          </mat-form-field>
          <div fxLayout="row" fxFlex="100" fxFlex.gt-sm="30" fxLayoutAlign="space-between stretch" class="mt-2">
            <button fxFlex="48" fxLayoutAlign="center center" mat-stroked-button color="primary" tabindex="2" type="reset" (click)="resetData()">Clear</button>
            <button fxFlex="48" fxLayoutAlign="center center" mat-raised-button color="primary" tabindex="3" type="submit" [disabled]="!password">Login</button>
          </div> 
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
