<div fxLayout="row" fxLayoutAlign="start center" class="padding-gap-x page-title-container">
  <fa-icon [icon]="faUnlockAlt" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">Signin to RTL</span>
</div>
<div fxLayout="column">
  <div class="padding-gap">
    <mat-card>
      <mat-card-content class="card-content-gap">
        <form (ngSubmit)="onSignin()" #signinForm="ngForm" fxLayoutAlign="start center">
          <mat-form-field fxFlex="50" fxLayoutAlign="start">
            <input matInput placeholder="Password" type="password" id="password" name="password" [(ngModel)]="password"
              tabindex="1" required>
            <mat-hint>{{hintStr}}</mat-hint>
          </mat-form-field>
          <button fxFlex="10" class="mr-2" fxLayoutAlign="center center" mat-raised-button color="primary" tabindex="2"
            type="submit" [disabled]="!password">Login</button>
          <button fxFlex="10" fxLayoutAlign="center center" mat-stroked-button color="accent" tabindex="3" type="reset"
            (click)="resetData()">Clear</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
