<div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
  <fa-icon [icon]="faWallet" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">Wallet</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-tab-group>
        <mat-tab label="Unlock"><rtl-unlock-wallet></rtl-unlock-wallet></mat-tab>
        <mat-tab label="Initialize"><rtl-initialize-wallet></rtl-initialize-wallet></mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
