@import '../../../../shared/theme/styles/mixins.scss';

.mat-column-status {
  max-width: 1rem;
  & .dot {
    @include for_screensize(tab-port) {
      width:0.6rem;
      height: 0.6rem;
      left: 2.8rem;
      margin-top: -0.3rem;
      position: absolute;
    }
    @include for_screensize(phone) {
      width:0.6rem;
      height: 0.6rem;
      left: 0.8rem;
      margin-top: -0.3rem;
      position: absolute;
    }  
  }
}

.mat-column-description, .mat-column-label, .mat-column-payment_hash, .mat-column-bolt11 {
  flex: 0 0 15%;
  width: 15%;
  & .ellipsis-parent {
    display: flex;
  }
}

.mat-column-actions {
  min-height: 4.8rem;
}
