.mat-column-close, .mat-column-update, .mat-column-active, .mat-column-private {
  flex: 0 0 6%;
  min-width: 60px;
}

.mat-column-private {
  padding-left: 10px;
}

.mat-cell.mat-column-close, .mat-column-update {
  cursor: pointer;
}
  
.mat-column-chan_id {
  flex: 0 0 16%;
  min-width: 160px;
}

.mat-checkbox-inner-container:focus, .mat-checkbox-input:focus {
  outline: none !important;
}

.size-40 {
  font-size: 40px;
  margin-left: -30%;
}

.mat-button-text {
  font-size: 24px;
  padding-bottom: 20px;
}

.flex-ellipsis {
  padding-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  width:100%;
}

.chkbox-options:focus {
  outline: none !important;
}

.flip {
  position: relative;
  backface-visibility: hidden;
  animation: spin 1.5s cubic-bezier(.175, .885, .32, 1.275) 1;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
}

@-moz-keyframes spin {
  from { -moz-transform: rotateX(0deg); }
  to { -moz-transform: rotateX(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateX(0deg); }
  to { -webkit-transform: rotateX(360deg); }
}
@keyframes spin {
  from { transform:rotateX(0deg); }
  to { transform:rotateX(360deg); }
}
