.mat-progress-bar.dashboard-progress-bar {
  height: 6px;
}

.dashboard-divider {
  margin-top: 4rem;
  border-top-width: 2px;
}

.channels-capacity-scroll {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}