<div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch">
  <div fxLayout="row">
    <button mat-flat-button color="primary" (click)="onOpenChannel()" type="submit" tabindex="1">Open Channel</button>
  </div>
  <div fxLayout="column" fxFlex="100" class="my-2 bordered-box">
    <mat-tab-group [(selectedIndex)]="activeLink" (selectedTabChange)="onSelectedTabChange($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{openChannels}}" matBadgeOverlap="false" class="tab-badge">Open</span>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{pendingChannels}}" matBadgeOverlap="false" class="tab-badge">Pending/Inactive</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch" class="padding-gap-x-large">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
