<mat-menu #topMenu="matMenu" [overlapTrigger]="false" class="top-menu">
  <p mat-menu-item>
    <fa-icon [icon]="faCodeBranch" class="fa-icon-small mr-1"></fa-icon>
    <span>Version: {{version}}</span>
  </p>
  <p mat-menu-item *ngIf="information?.api_version">
    <fa-icon [icon]="faCode" class="fa-icon-small mr-1"></fa-icon>
    <span>API Version: {{information?.api_version}}</span>
  </p>
  <a *ngIf="showLogout" mat-menu-item routerLink="/settings">
    <fa-icon [icon]="faUserCog" class="fa-icon-small mr-1"></fa-icon>
    <span routerLink="/settings">Settings</span>
  </a>
  <a *ngIf="showLogout" mat-menu-item routerLink="/help">
    <fa-icon [icon]="faLifeRing" class="fa-icon-small mr-1"></fa-icon>
    <span routerLink="/help">Help</span>
  </a>
  <a *ngIf="showLogout" mat-menu-item (click)="onClick()">
    <fa-icon [icon]="faEject" class="fa-icon-small mr-1"></fa-icon>
    <span>Logout</span>
  </a>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="topMenu" class="top-toolbar-icon">
  <img src="assets/images/RTL-Horse-BY.svg" alt="RTL Logo">
  <mat-icon class="logo-icon">arrow_drop_down</mat-icon>
</button>