.mat-menu-content {
  cursor: default;
  p.mat-menu-item {
    cursor: default;
    fa-icon, span, div {
      cursor: default;
    }
  }
  p.mat-menu-item:hover {
    cursor: default !important;
  }
}
