<div fxLayout="column" class="padding-gap mb-2">
  <form fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="start" fxLayoutAlign.gt-sm="space-between">
    <mat-form-field fxFlex="100" fxLayoutAlign="start">
      <input autoFocus matInput type="password" autocomplete="current-password" placeholder="Password" name="walletPassword" [(ngModel)]="walletPassword" tabindex="1" required>
      <mat-hint>Enter Wallet Password</mat-hint>
      <mat-error *ngIf="!walletPassword">Wallet password is required.</mat-error>
    </mat-form-field>
    <div fxLayout="row" class="mt-2">
      <button class="mr-1" mat-stroked-button color="primary" tabindex="2" type="reset" (click)="resetData()">Clear Field</button>
      <button mat-flat-button color="primary" type="submit" (click)="onUnlockWallet()" tabindex="3">Unlock Wallet</button>
    </div> 
  </form>
</div>
