<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.gt-sm="start center">
    <mat-form-field fxLayout="column" fxFlex="48" fxFlex.gt-md="25" fxLayoutAlign="start end" class="mr-2">
      <mat-select placeholder="Address Type" name="address_type" tabindex="1" [(ngModel)]="selectedAddressType">
        <mat-option *ngFor="let addressType of addressTypes" [value]="addressType">
          {{addressType.addressTp}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" tabindex="2" (click)="onGenerateAddress()">Generate Address</button>
    </div>
  </div>
</div>
