<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start end">
    <mat-form-field fxFlex="48" fxFlex.gt-md="25" fxLayoutAlign="start end" class="mr-2">
      <mat-select [(ngModel)]="selectedAddressType" placeholder="Address Type" name="address_type" tabindex="1">
        <mat-option *ngFor="let addressType of addressTypes" [value]="addressType">
          {{addressType.addressTp}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mt-2">
      <button mat-flat-button color="primary" (click)="onGenerateAddress()" tabindex="2" class="top-minus-15px">Generate Address</button>
    </div>
  </div>
</div>
