<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" class="padding-gap-x page-title-container">
    <fa-icon [icon]="faCircleNotch" class="page-title-img mr-1"></fa-icon>
    <span class="page-title">Loop Monitor</span>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="padding-gap-x">
    <mat-card fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
      <mat-card-content fxLayout="column" fxFlex="100" fxLayoutAlign="start start" class="card-content-gap">
        <div fxFlex="50" fxLayoutAlign="space-between center">
          <button fxFlex="48" fxLayoutAlign="center center" mat-stroked-button color="primary" tabindex="1" (click)="onStopMonitor()">Stop Monitor</button>
          <button fxFlex="48" fxLayoutAlign="center center" mat-raised-button color="primary" tabindex="2" (click)="onStartMonitor()">Start Monitor</button>
        </div>
        <div fxLayout="column" fxLayoutAlign="center start" class="mt-2">
          <span fxFlex="100" fxLayoutAlign="center center" *ngFor="let log of loopMonitorLogs" class="loop-monitor-logs">
            <mat-divider class="w-100 mt-2"></mat-divider>
            <h5>{{log | json}}</h5>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
