<div fxLayout="row" fxLayoutAlign="start center" class="padding-gap-x page-title-container">
  <fa-icon [icon]="faCircleNotch" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">Loop</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-tab-group fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
        <mat-tab label="Loop Out"><rtl-loop-out></rtl-loop-out></mat-tab>
        <mat-tab label="Loop In"><rtl-loop-in></rtl-loop-in></mat-tab>
      </mat-tab-group>
      <rtl-swaps fxLayout="row" fxFlex="100"></rtl-swaps>
    </mat-card-content>
  </mat-card>
</div>
