.mat-column-label, .mat-column-block_hash, .mat-column-tx_hash {
  flex: 1 1 20%;
  white-space: nowrap;
  overflow: hidden;  
  text-overflow: ellipsis;
}

.mat-column-actions {
  min-height: 4.8rem;
}
