<div [perfectScrollbar] fxLayout="column" fxFlex="100">
  <div fxFlex="100" class="alert alert-info mt-1">
    <fa-icon [icon]="faInfoCircle" class="mr-1 alert-icon"></fa-icon>
    <span>Please ensure that <strong>loopd</strong> is running and accessible to RTL before enabling this service. Click <strong><a href="https://github.com/lightninglabs/loop" target="_blank">here</a></strong> to learn more about the installation.</span>
  </div>
  <form fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" class="settings-container page-sub-title-container mt-1" #form="ngForm">
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="start stretch">
      <mat-slide-toggle autoFocus class="mb-1" tabindex="1" color="primary" [(ngModel)]="enableLoop" (change)="onEnableServiceChanged($event)" name="loop">Enable Loop Service</mat-slide-toggle>
      <mat-form-field class="mb-2">
        <input matInput placeholder="Loop Server URL" type="text" id="swapServerUrl" [(ngModel)]="selNode.settings.swapServerUrl" name="srvrUrl" #srvrUrl="ngModel" tabindex="2" [required]="enableLoop" [disabled]="!enableLoop">
        <mat-hint>Service url for loop server REST APIs, eg. https://localhost:8081</mat-hint>
        <mat-error *ngIf="!selNode.settings.swapServerUrl && enableLoop">Loop server URL is required.</mat-error>
        <mat-error *ngIf="srvrUrl?.errors?.invalid && enableLoop">Specify the loop server url with 'https://'.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Loop Macaroon Path" type="text" id="swapMacaroonPath" name="swapMacaroonPath" [(ngModel)]="selNode.authentication.swapMacaroonPath" tabindex="3" [required]="enableLoop" [disabled]="!enableLoop">
        <mat-hint>Path for the folder containing service 'loop.macaroon', eg. D:\\xyz\\AppData\\Local\\Loop\\testnet</mat-hint>
        <mat-error *ngIf="!selNode.authentication.swapMacaroonPath && enableLoop">Loop macaroon path is required.</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div fxLayout="row" class="mt-2">
    <button class="mr-1" mat-stroked-button color="primary" type="reset" (click)="onReset()" tabindex="4">Reset</button>
    <button mat-flat-button color="primary" type="submit" (click)="onUpdateService()" tabindex="5">Update</button>
  </div>
</div>
