<div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
  <fa-icon class="page-title-img mr-1" [icon]="faHandshake"></fa-icon>
  <span class="page-title">Peerswap</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="activeLink" (selectedTabChange)="onSelectedTabChange($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadgeOverlap="false" class="tab-badge" matBadge="{{links[0].num_records}}">Peers</span>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadgeOverlap="false" class="tab-badge" matBadge="{{links[1].num_records}}">Swap Out</span>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadgeOverlap="false" class="tab-badge" matBadge="{{links[2].num_records}}">Swap In</span>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadgeOverlap="false" class="tab-badge" matBadge="{{links[3].num_records}}">Swap Canceled</span>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch" class="mat-tab-body-wrapper mb-2">
        <mat-tab-nav-panel #tabPanel>
          <rtl-peerswap-peers *ngIf="activeLink === 0"></rtl-peerswap-peers>
          <rtl-peerswap-swaps-list *ngIf="activeLink !== 0"></rtl-peerswap-swaps-list>
        </mat-tab-nav-panel>
      </div>
    </mat-card-content>
  </mat-card>
</div>
