.mat-column-status, .mat-column-group_status {
  max-width: 2.1rem;
  width:2.1rem;
  text-overflow: unset;
}

.mat-column-group_actions {
  min-height: 4.8rem;

  & .btn-mpp-expand {
    min-width: 10rem;
    width: 10rem; 
  }

  & .btn-mpp-info {
    margin-top: 0.5rem;
    min-width: 9rem;
    width: 9rem;
  }
}

.mat-column-group_status, .mat-column-group_created_at {
  .mpp-row-span:not(:first-of-type) {
    padding-left: 3rem;
  }
}

.mpp-row-span {
  min-height: 4.2rem;
  place-content: center flex-start;
  align-items: center;
  &.ellipsis-parent {
    display: flex;
  }
  & .dot {
    margin-top: -0.4rem;
    position: absolute;
  }
}

.mat-column-group_created_at {
  min-width: 17rem;
}
