<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
  <div fxFlex="35" fxLayoutAlign="center start" class="modal-qr-code-container padding-gap-large" [ngClass]="{'display-none': screenSize === screenSizeEnum.XS || screenSize === screenSizeEnum.SM}">
    <qrcode [qrdata]="address" [margin]="2" [width]="qrWidth" [errorCorrectionLevel]="'L'" [allowEmptyString]="true"></qrcode>
  </div>
  <div fxFlex="65">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="modal-info-header">
      <div fxFlex="95" fxLayoutAlign="start start">
        <fa-icon [icon]="faReceipt" class="page-title-img mr-1"></fa-icon>
        <span class="page-title">{{screenSize === screenSizeEnum.XS ? 'Address' : 'Generated Address'}}</span>
      </div>
      <button tabindex="2" fxFlex="5" fxLayoutAlign="center" class="btn-close-x p-0" (click)="onClose()" mat-button>X</button>
    </mat-card-header>
    <mat-card-content class="padding-gap-x-large">
      <div fxLayout="column">
        <div fxFlex="50" fxLayoutAlign="center start" class="modal-qr-code-container padding-gap-large" [ngClass]="{'display-none': screenSize !== screenSizeEnum.XS && screenSize !== screenSizeEnum.SM}">
          <qrcode [qrdata]="address" [margin]="2" [width]="qrWidth" [errorCorrectionLevel]="'L'" [allowEmptyString]="true"></qrcode>
        </div>
        <div fxLayout="row" *ngIf="addressType!==''">
          <div fxFlex="100">
            <h4 fxLayoutAlign="start" class="font-bold-500">Address Type</h4>
            <span class="foreground-secondary-text">{{addressType}}</span>
          </div>
        </div>
        <mat-divider class="w-100 my-1" *ngIf="addressType!==''"></mat-divider>        
        <div fxLayout="row">
          <div fxFlex="100">
            <h4 fxLayoutAlign="start" class="font-bold-500">Address</h4>
            <span class="overflow-wrap foreground-secondary-text">{{address}}</span>
          </div>
        </div>
        <mat-divider class="w-100 my-1"></mat-divider>        
        <div class="mt-1" fxLayout="row" fxLayoutAlign="end center">
          <button autoFocus mat-flat-button color="primary" tabindex="1" type="submit" rtlClipboard [payload]="address" (copied)="onCopyAddress($event)">Copy Address</button>
        </div>
      </div>
      </mat-card-content>
  </div>
</div>
