<div fxLayout="row">
  <div fxFlex="100">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="modal-info-header">
      <div fxFlex="95" fxLayoutAlign="start start">
        <span class="page-title">Connect to a new peer</span>
      </div>
      <button tabindex="8" fxFlex="5" fxLayoutAlign="center" class="btn-close-x p-0" (click)="onClose()" mat-button>X</button>
    </mat-card-header>    
    <mat-card-content class="padding-gap-x-large">
      <div fxLayout="column">
        <mat-vertical-stepper [linear]="true" #stepper (selectionChange)="stepSelectionChanged($event)">
          <mat-step [stepControl]="peerFormGroup" [editable]="flgEditable">
            <form [formGroup]="peerFormGroup" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="start" fxLayoutAlign.gt-sm="space-between" class="my-1">
              <ng-template matStepLabel>{{peerFormLabel}}</ng-template>              
              <mat-form-field fxFlex="100">
                <input autoFocus matInput placeholder="Lightning Address (pubkey OR pubkey@ip:port)" formControlName="peerAddress" tabindex="1" required>
                <mat-error *ngIf="peerFormGroup.controls.peerAddress.errors?.required">Address is required.</mat-error>
              </mat-form-field>
              <div fxFlex="100" class="alert alert-danger mt-1" *ngIf="peerConnectionError !== ''">
                <fa-icon [icon]="faExclamationTriangle" class="mr-1 alert-icon"></fa-icon>
                <span>{{peerConnectionError}}</span>
              </div>
              <div class="mt-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <button mat-stroked-button color="primary" tabindex="3" type="button" (click)="onConnectPeer()">{{peerConnectionError !== '' ? 'Retry' : 'Add Peer'}}</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="channelFormGroup" [editable]="flgEditable">
            <form [formGroup]="channelFormGroup" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="start" fxLayoutAlign.gt-sm="space-between" class="mb-1">
              <ng-template matStepLabel disabled="true">{{channelFormLabel}}</ng-template>
              <div fxLayout="column" fxLayout.gt-sm="row wrap" fxFlex="100" fxLayoutAlign="space-between stretch">
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex="60" fxLayoutAlign="start end">
                    <input matInput autoFocus formControlName="fundingAmount" placeholder="Amount" type="number" [step]="1000" tabindex="1" required>
                    <mat-hint>Remaining Bal: {{totalBalance - ((channelFormGroup.controls.fundingAmount.value) ? channelFormGroup.controls.fundingAmount.value : 0)}}</mat-hint>
                    <span matSuffix> Sats </span>
                    <mat-error *ngIf="channelFormGroup.controls.fundingAmount.errors?.required">Amount is required.</mat-error>
                    <mat-error *ngIf="channelFormGroup.controls.fundingAmount.errors?.min">Amount must be a positive number.</mat-error>
                    <mat-error *ngIf="channelFormGroup.controls.fundingAmount.errors?.max">Amount must be less than or equal to {{totalBalance}}.</mat-error>
                  </mat-form-field>
                  <div fxFlex="35" fxLayoutAlign="start center">
                    <mat-slide-toggle tabindex="2" color="primary" formControlName="isPrivate" name="isPrivate">Private Channel</mat-slide-toggle>
                  </div>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" class="mt-1">
                  <mat-form-field fxFlex="48" fxLayoutAlign="start end">
                    <mat-select tabindex="4" placeholder="Fee Rate" formControlName="selFeeRate">
                      <mat-option *ngFor="let feeRateType of feeRateTypes" [value]="feeRateType.feeRateId">
                        {{feeRateType.feeRateType}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div fxFlex="48" fxLayout="row" fxLayoutAlign="start center">
                    <mat-checkbox fxFlex="2" tabindex="5" color="primary" formControlName="flgMinConf" name="flgMinConf" fxLayoutAlign="stretch start" class="mr-2"></mat-checkbox>
                    <mat-form-field fxFlex="98">
                      <input matInput formControlName="minConfValue" placeholder="Min Confirmation Blocks" type="number" name="blocks" [step]="1" [min]="0" tabindex="8" [required]="channelFormGroup.controls.flgMinConf.value">
                      <mat-error *ngIf="channelFormGroup.controls.flgMinConf.value && !channelFormGroup.controls.minConfValue.value">Min Confirmation Blocks is required.</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="100" class="alert alert-danger mt-1" *ngIf="channelConnectionError !== ''">
                <fa-icon [icon]="faExclamationTriangle" class="mr-1 alert-icon"></fa-icon>
                <span>{{channelConnectionError}}</span>
              </div>
              <div class="mt-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <button mat-stroked-button color="primary" tabindex="8" type="button" (click)="onOpenChannel()">{{channelConnectionError !== '' ? 'Retry' : 'Open Channel'}}</button>
              </div>
            </form>
          </mat-step>
        </mat-vertical-stepper>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">        
          <button mat-stroked-button color="primary" tabindex="12" type="button" [mat-dialog-close]="false" default>{{newlyAddedPeer?.id ? 'Do It Later' : 'Close'}}</button>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>
