.mat-column-type {
  max-width: 1.2rem;
  width:1.2rem;
  & svg {
    max-width: 1.6rem;
    width:1.6rem;
  }
}

.mat-column-fromChannelId, .mat-column-fromChannelAlias, .mat-column-toChannelId, .mat-column-toChannelAlias, .mat-column-paymentHash {
  padding-left: 1rem;
  flex: 0 0 25%;
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-actions {
  min-height: 4.8rem;
}
