<div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start start">
    <div *ngFor="let menuNode of menuNodes">
      <button mat-button *ngIf="undefined === menuNode.children" fxLayoutAlign="center center" class="horizontal-button" routerLinkActive="h-active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="{{menuNode.link}}" (click)="onClick(menuNode)">
        <fa-icon *ngIf="menuNode.iconType === 'FA'" [icon]="menuNode.icon" class="fa-icon-small"></fa-icon>
      </button>
      <div *ngIf="undefined !== menuNode.children" fxLayoutAlign="start start" [matMenuTriggerFor]="childMenu">
        <button mat-button class="horizontal-button" fxLayoutAlign="center center">
          <fa-icon *ngIf="menuNode.iconType === 'FA'" [icon]="menuNode.icon" class="fa-icon-small"></fa-icon>
        </button>
        <mat-menu #childMenu="matMenu" xPosition="after" overlapTrigger="false" class="child-menu">
          <div *ngFor="let childNode of menuNode.children">
            <button mat-button class="horizontal-button bg-primary px-2" fxFlex="100" fxLayoutAlign="center center" [routerLinkActive]="'h-active-link'" routerLink="{{childNode.link}}" [routerLinkActiveOptions]="{exact: true}">
              <fa-icon *ngIf="childNode.iconType === 'FA'" matTooltip="{{childNode.name}}" [icon]="childNode.icon" class="fa-icon-small"></fa-icon>
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="end center">
    <button fxLayoutAlign="center center" mat-stroked-button color="primary" class="horizontal-button-show" tabindex="20" (click)="onShowPubkey()">Show Public Key</button>
    <rtl-top-menu></rtl-top-menu>
  </div>
</div>
