<div fxLayout="column" *ngIf="selNode.userPersona === userPersonaEnum.OPERATOR; else merchantDashboard">
  <div fxLayout="row" fxLayoutAlign="start start" class="page-title-container mb-0">
    <fa-icon [icon]="!flgLoading[0] ? faSmile : faFrown" class="page-title-img mr-1"></fa-icon>
    <span class="page-title">{{!flgLoading[0] ? 'Welcome ' + information.alias + '! Your node is up and running.' : 'Error! Please check the server connection.'}}</span>
  </div>
  <mat-grid-list cols="10" [rowHeight]="operatorCardHeight">
    <mat-grid-tile *ngFor="let card of operatorCards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch" class="h-100 dashboard-card mt-4">
        <mat-card-header>
          <mat-card-title fxLayoutAlign="space-between center">
            <div>
              <fa-icon [icon]="card.icon" class="mr-1"></fa-icon>
              <span>{{card.title}}</span>
            </div>
            <div>
              <button *ngIf="card.link" mat-icon-button class="more-button" [matMenuTriggerFor]="menuOperator" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuOperator="matMenu" class="dashboard-vert-menu" xPosition="before">
                <button mat-menu-item (click)="onNavigateTo(card.link)">Go To {{card.goTo}}</button>
                <button *ngIf="card.id === 'fee'" (click)="onNavigateTo('/lnd/reports')" mat-menu-item>Fees Summary</button>
                <button *ngIf="card.id === 'capacity'" (click)="onsortChannelsBy()" mat-menu-item>Sort By {{sortField === 'Balance Score' ? 'Capacity' : 'Balance Score'}}</button>
              </mat-menu>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" fxLayout="column" fxFlex="{{card.id === 'node' || card.id === 'balance' ? 70 : card.id === 'fee' || card.id === 'status' ? 78 : 90}}">
          <div [ngSwitch]="card.id" fxLayout="column" fxFlex="100">
            <rtl-node-info fxFlex="100" *ngSwitchCase="'node'" [information]="information" [showColorFieldSeparately]="false" [ngClass]="{'error-border': flgLoading[0]==='error'}"></rtl-node-info>
            <rtl-balances-info fxFlex="100" *ngSwitchCase="'balance'" [balances]="balances" [ngClass]="{'error-border': flgLoading[2]==='error' || flgLoading[3]==='error'}"></rtl-balances-info>
            <rtl-channel-capacity-info fxFlex="100" *ngSwitchCase="'capacity'" [sortBy]="sortField" [channelBalances]="channelBalances" [allChannels]="allChannelsCapacity" [ngClass]="{'error-border': flgLoading[3]==='error'}"></rtl-channel-capacity-info>
            <rtl-fee-info fxFlex="100" *ngSwitchCase="'fee'" [fees]="fees" [ngClass]="{'error-border': flgLoading[1]==='error'}"></rtl-fee-info>
            <rtl-channel-status-info fxFlex="100" *ngSwitchCase="'status'" [channelsStatus]="channelsStatus" [ngClass]="{'error-border': flgLoading[3]==='error' || flgLoading[4]==='error'}"></rtl-channel-status-info>
            <h3 *ngSwitchDefault>Error! Unable to find information!</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<ng-template #merchantDashboard>
  <div fxLayout="row" fxLayoutAlign="start end" class="page-title-container mb-0">
    <fa-icon [icon]="faSmile" class="page-title-img mr-1"></fa-icon>
    <span class="page-title">Welcome {{information.alias}}! Your node is up and running.</span>
  </div>
  <mat-grid-list cols="6" [rowHeight]="merchantCardHeight">
    <mat-grid-tile *ngFor="let card of merchantCards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch" class="h-100 dashboard-card mt-4" [ngClass]="{'p-0': card.id === 'transactions'}">
        <mat-card-header *ngIf="card.id !== 'transactions'">
          <mat-card-title fxLayoutAlign="space-between center">
            <div>
              <fa-icon [icon]="card.icon" class="mr-1"></fa-icon>
              <span>{{card.title}}</span>
            </div>
            <div>
              <button *ngIf="card.link" mat-icon-button class="more-button" [matMenuTriggerFor]="menuMerchant" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuMerchant="matMenu" class="dashboard-vert-menu" xPosition="before">
                <button mat-menu-item (click)="onNavigateTo(card.link)">Go To {{card.goTo}}</button>
              </mat-menu>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="{{card.id === 'transactions' ? 100 : card.id === 'balance' ? 70: 90}}">
          <div [ngSwitch]="card.id" fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
            <rtl-node-info fxFlex="100" *ngSwitchCase="'node'" [information]="information" [ngClass]="{'error-border': flgLoading[0]==='error'}"></rtl-node-info>
            <rtl-balances-info fxFlex="100" *ngSwitchCase="'balance'" [balances]="balances" [ngClass]="{'error-border': flgLoading[2]==='error' || flgLoading[3]==='error'}"></rtl-balances-info>
            <rtl-channel-liquidity-info fxFlex="100" *ngSwitchCase="'inboundLiq'" [direction]="'In'" [totalLiquidity]="totalInboundLiquidity" [allChannels]="allInboundChannels" [ngClass]="{'error-border': flgLoading[3]==='error'}"></rtl-channel-liquidity-info>
            <rtl-channel-liquidity-info fxFlex="100" *ngSwitchCase="'outboundLiq'" [direction]="'Out'" [totalLiquidity]="totalOutboundLiquidity" [allChannels]="allOutboundChannels" [ngClass]="{'error-border': flgLoading[3]==='error'}"></rtl-channel-liquidity-info>
            <span [perfectScrollbar] fxLayout="column" fxFlex="100" fxLayoutAlign="start start" *ngSwitchCase="'transactions'">
              <mat-tab-group fxLayout="column" fxFlex="100" class="w-100 dashboard-tabs-group">
                <mat-tab label="Receive"><rtl-lightning-invoices [calledFrom]="'home'"></rtl-lightning-invoices></mat-tab>
                <mat-tab label="Pay"><rtl-lightning-payments [calledFrom]="'home'"></rtl-lightning-payments></mat-tab>
                <mat-tab [disabled]="true">
                  <ng-template mat-tab-label>
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuTransactions" aria-label="Toggle menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuTransactions="matMenu" class="dashboard-vert-menu" xPosition="before">
                      <button mat-menu-item (click)="onNavigateTo(card.link)">Go To {{card.goTo}}</button>
                      <button mat-menu-item (click)="onNavigateTo('/lnd/reports/transactions')">Transactions Summary</button>
                    </mat-menu>
                  </ng-template>
                </mat-tab>
              </mat-tab-group>
            </span>
            <h3 *ngSwitchDefault>Error! Unable to find information!</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>