.mat-column-amt_in {
  flex: 0 0 15%;
  min-width: 120px;
  padding-right: 20px;
}

table {
  width:100%;
}

.table-container {
  height: 72vh;
  overflow: auto;
}

@media screen and (max-width: 414px) {
  .table-container {
    height: 53vh;
    overflow: auto;
  }
}
