.dashboard-card {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
}

.more-button {
  position: absolute;
  top: 7px;
  right: 7px;
}

.dashboard-card-content {
  text-align: left;
}
