<div fxLayout="row">
  <div fxFlex="100">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="modal-info-header">
      <div fxFlex="95" fxLayoutAlign="start start">
        <span class="page-title">Send Payment</span>
      </div>
      <button tabindex="12" fxFlex="5" fxLayoutAlign="center" class="btn-close-x p-0" [mat-dialog-close]="false" default mat-button>X</button>
    </mat-card-header>
    <mat-card-content class="padding-gap-x-large" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-radio-group *ngIf="isCompatibleVersion" class="my-1" color="primary" name="paymentType" [(ngModel)]="paymentType" (change)="onPaymentTypeChange()" fxFlex="100" fxLayoutAlign="start stretch">
        <mat-radio-button fxFlex="25" tabindex="1" value="invoice" class="mr-2">Invoice Payment</mat-radio-button>
        <mat-radio-button fxFlex="25" tabindex="2" value="keysend">Keysend Payment</mat-radio-button>
      </mat-radio-group>
      <form fxLayoutAlign="space-between stretch" fxLayout="column" #sendPaymentForm="ngForm">
        <ng-container *ngTemplateOutlet="paymentType === 'keysend' ? keysendBlock : invoiceBlock"></ng-container>
        <div fxFlex="100" class="alert alert-danger mt-1" *ngIf="paymentError !== ''">
          <fa-icon [icon]="faExclamationTriangle" class="mr-1 alert-icon"></fa-icon>
          <span *ngIf="paymentError !== ''">{{paymentError}}</span>
        </div>
        <div class="mt-2" fxLayout="row" fxLayoutAlign="end center">
          <button class="mr-1" mat-stroked-button color="primary" tabindex="8" type="reset" (click)="resetData()">Clear Fields</button>
          <button mat-flat-button color="primary" (click)="onSendPayment()" tabindex="7">Send Payment</button>
        </div>
      </form>
    </mat-card-content>
  </div>
</div>
<ng-template #invoiceBlock>
  <mat-form-field fxFlex="100">
    <textarea autoFocus matInput placeholder="Payment Request" name="paymentRequest" tabindex="3" [ngModel]="paymentRequest" (ngModelChange)="onPaymentRequestEntry($event)" (matTextareaAutosize)="true" required #paymentReq="ngModel"></textarea>
    <mat-hint *ngIf="paymentRequest && paymentDecodedHint !== ''">{{paymentDecodedHint}}</mat-hint>
    <mat-error *ngIf="!paymentRequest">Payment request is required.</mat-error>
    <mat-error *ngIf="paymentReq.errors?.decodeError">{{paymentDecodedHint}}</mat-error>
  </mat-form-field>
  <mat-form-field fxFlex="100" *ngIf="zeroAmtInvoice">
    <input matInput placeholder="Amount (Sats)" name="amount" [(ngModel)]="paymentAmount" (change)="onAmountChange($event)" tabindex="4" required #paymentAmt="ngModel">
    <mat-hint>It is a zero amount invoice, enter amount to be paid.</mat-hint>
    <mat-error *ngIf="!paymentAmount">Payment amount is required.</mat-error>
  </mat-form-field>
</ng-template>
<ng-template #keysendBlock>
  <mat-form-field fxFlex="100">
    <input autoFocus matInput placeholder="Pubkey" [(ngModel)]="pubkey" name="pubkey" tabindex="5" required>
    <mat-error *ngIf="!pubkey">Pubkey is required.</mat-error>
  </mat-form-field>
  <mat-form-field fxFlex="100">
    <input matInput placeholder="Amount (Sats)" name="keysendAmount" [(ngModel)]="keysendAmount" tabindex="6" required #keysendAmt="ngModel">
    <mat-error *ngIf="!keysendAmount">Keysend amount is required.</mat-error>
  </mat-form-field>
</ng-template>
