.chkbox-wallet:focus {
    outline: none !important;
}

.blinker {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation { to { visibility: hidden; }}

@-webkit-keyframes blink-animation { to { visibility: hidden; }}
