<div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
  <fa-icon [icon]="faChartPie" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">On-chain Balance</span>
</div>
<div fxLayout="column" class="padding-gap-x mb-4">
  <mat-card>
    <mat-card-content fxLayout="column">
      <rtl-currency-unit-converter [values]="balances"></rtl-currency-unit-converter>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
  <fa-icon [icon]="faExchangeAlt" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">On-chain Transactions</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column">
      <nav mat-tab-nav-bar>
        <div role="tab" mat-tab-link *ngFor="let link of links" class="mat-tab-label" [active]="activeLink === link.link" (click)="activeLink = link.link" [routerLink]="[link.link, selectedTable.name]">{{link.name}}</div>
      </nav>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch" class="mat-tab-body-wrapper">
        <router-outlet></router-outlet>
      </div>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch" class="padding-gap-x-large">
        <rtl-utxo-tables [selectedTableIndex]="selectedTable.id" (selectedTableIndexChange)="onSelectedTableIndexChanged($event)" fxLayout="row" fxFlex="100"></rtl-utxo-tables>
      </div>
    </mat-card-content>
  </mat-card>
</div>
