<div fxLayout="column" id="rtl-container" class="rtl-container" [ngClass]="settings.theme" [class.horizontal]="settings.menu === 'Horizontal'" [class.compact]="settings.menuType === 'Compact'" [class.mini]="settings.menuType === 'Mini'">
  <mat-sidenav-container>
    <mat-sidenav perfectScrollbar *ngIf="settings.menu === 'Vertical'" [opened]="settings.flgSidenavOpened" [mode]="(settings.flgSidenavPinned) ? 'side' : 'over'"
      #sideNavigation class="sidenav mat-elevation-z6 overflow-auto">
      <rtl-side-navigation (ChildNavClicked)="onNavigationClicked($event)"></rtl-side-navigation>
    </mat-sidenav>
    <mat-sidenav-content perfectScrollbar class="overflow-auto">
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary" class="padding-gap-x">
        <div fxLayoutAlign="center center">
          <button *ngIf="settings.menu === 'Vertical'" mat-icon-button (click)="sideNavToggle(sideNavigation)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div>
          <h2>Ride The Lightning <span class="font-60-percent">(Beta)</span></h2>
        </div>
        <div fxLayoutAlign="space-between center">
          <div *ngIf="appConfig.nodes.length > 1" tabindex="1" fxLayoutAlign="start start" class="nodes-list">
            <mat-form-field fxFlex="99">
              <mat-select (selectionChange)="onSelectionChange($event.value)" [value]="selNode">
                <mat-option *ngFor="let node of appConfig.nodes; index as idx" [value]="node">
                  {{node.index}}: {{node.lnNode}} ({{node.lnImplementation}})
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <rtl-top-menu></rtl-top-menu>
        </div>
      </mat-toolbar>
      <div fxLayout="row" fxLayoutAlign="center center" class="bg-primary flex-wrap pubkey-info-top" rtlClipboard [payload]="information?.identity_pubkey" (copied)="copiedText($event)">
        <mat-icon [ngClass]="{'icon-smaller': smallScreen}">vpn_key</mat-icon>
        <div [ngClass]="{'word-break font-9px': smallScreen, 'word-break': !smallScreen}">&nbsp;{{information?.identity_pubkey}}
          <mat-spinner [diameter]="20" *ngIf="flgLoading[0]" class="inline-spinner foreground"></mat-spinner>
          <mat-icon [ngClass]="{'icon-smaller cursor-pointer copy-icon-smaller': smallScreen, 'icon-small cursor-pointer copy-icon': !smallScreen}">file_copy</mat-icon><span [hidden]="!flgCopied">Copied</span>
        </div>
      </div>
      <mat-toolbar color="primary" *ngIf="settings.menu === 'Horizontal'" class="padding-gap-x horizontal-nav">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="h-100">
          <rtl-horizontal-navigation></rtl-horizontal-navigation>
        </div>
      </mat-toolbar>
      <div [ngClass]="{'mt-minus-1': smallScreen, 'inner-sidenav-content': true}">
        <router-outlet></router-outlet>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="bg-primary settings-icon" (click)="settingSidenav.toggle()">
        <mat-icon class="animate-settings">settings</mat-icon>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #settingSidenav position="end" class="settings mat-elevation-z6" mode="side">
      <rtl-settings-nav (done)="settingSidenav.toggle()"></rtl-settings-nav>
    </mat-sidenav>  
  </mat-sidenav-container>
  <div class="rtl-spinner" *ngIf="undefined === settings.theme">
    <mat-spinner color="accent"></mat-spinner>
    <h4>Loading RTL...</h4>
  </div>
</div>
