<div fxLayout="row" fxFlex="100" fxLayoutAlign="stretch" class="h-100">
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-between stretch">
    <div>
      <h4 fxLayoutAlign="start" class="dashboard-info-title">Urgent</h4>
      <div class="overflow-wrap dashboard-info-value">{{perkbw?.urgent | number}}</div>
    </div>
    <div>
      <h4 fxLayoutAlign="start" class="dashboard-info-title">Normal</h4>
      <div class="overflow-wrap dashboard-info-value">{{perkbw?.normal | number}}</div>
    </div>
    <div>
      <h4 fxLayoutAlign="start" class="dashboard-info-title">Slow</h4>
      <div class="overflow-wrap dashboard-info-value">{{perkbw?.slow | number}}</div>
    </div>
    <div>
      <h4 fxLayoutAlign="start" class="dashboard-info-title">Opening Channel</h4>
      <div class="overflow-wrap dashboard-info-value">{{feeRates?.onchain_fee_estimates?.opening_channel_satoshis | number}}</div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-between stretch">
    <div>
      <h4 fxLayoutAlign="start" class="dashboard-info-title">Min Acceptable</h4>
      <div class="overflow-wrap dashboard-info-value">{{perkbw?.min_acceptable | number}}</div>
    </div>
    <div>
      <h4 fxLayoutAlign="start" class="dashboard-info-title">Max Acceptable</h4>
      <div class="overflow-wrap dashboard-info-value">{{perkbw?.max_acceptable | number}}</div>
    </div>
    <div>
      <h4 fxLayoutAlign="start" class="dashboard-info-title">Mutual Close</h4>
      <div class="overflow-wrap dashboard-info-value">{{feeRates?.onchain_fee_estimates?.mutual_close_satoshis | number}}</div>
    </div>
    <div>
      <h4 fxLayoutAlign="start" class="dashboard-info-title">Unilateral Close</h4>
      <div class="overflow-wrap dashboard-info-value">{{feeRates?.onchain_fee_estimates?.unilateral_close_satoshis | number}}</div>
    </div>
  </div>
</div>
