<div fxLayout="row">
  <div fxFlex="100">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="modal-info-header">
      <div fxFlex="95" fxLayoutAlign="start start">
        <span class="page-title">Create Invoice</span>
      </div>
      <button tabindex="8" fxFlex="5" fxLayoutAlign="center" class="btn-close-x p-0" [mat-dialog-close]="false" default mat-button>X</button>
    </mat-card-header>
    <mat-card-content class="padding-gap-x-large">
      <form fxLayout="row wrap" fxLayoutAlign="start space-between" fxFlex="100" #addInvoiceForm="ngForm">
        <mat-form-field fxFlex="100" fxLayoutAlign="start end">
          <input matInput autoFocus [(ngModel)]="description" placeholder="Description" tabindex="2" name="description" required>
          <mat-error *ngIf="!description">Description is required.</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100">
          <mat-form-field fxFlex="40">
            <input matInput [(ngModel)]="invoiceValue" (keyup)="onInvoiceValueChange()" placeholder="Amount" type="number" [step]="100" [min]="1" tabindex="3" name="invValue">
            <span matSuffix> {{information?.smaller_currency_unit}} </span>
            <mat-hint>{{invoiceValueHint}}</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="30">
            <input matInput [(ngModel)]="expiry" placeholder="Expiry" type="number" [step]="selTimeUnit === timeUnitEnum.SECS ? 300 : selTimeUnit === timeUnitEnum.MINS ? 10 : selTimeUnit === timeUnitEnum.HOURS ? 2 : 1" [min]="1" name="exp" tabindex="4">
            <span matSuffix> {{selTimeUnit | titlecase}} </span>
          </mat-form-field>
          <mat-form-field fxFlex="26">
            <mat-select [value]="selTimeUnit" tabindex="5" name="timeUnit" (selectionChange)="onTimeUnitChange($event)">
              <mat-option *ngFor="let timeUnit of timeUnits" [value]="timeUnit">{{timeUnit | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="alert alert-danger mt-1" *ngIf="invoiceError !== ''">
          <fa-icon [icon]="faExclamationTriangle" class="mr-1 alert-icon"></fa-icon>
          <span *ngIf="invoiceError !== ''">{{invoiceError}}</span>
        </div>
        <div fxLayout="row" fxFlex="100" class="mt-2" fxLayoutAlign="end center">
          <button class="mr-1" mat-stroked-button color="primary" tabindex="7" type="reset" (click)="resetData()">Clear Field</button>
          <button mat-flat-button color="primary" (click)="onAddInvoice(addInvoiceForm)" tabindex="8">Create Invoice</button>
        </div>
      </form>
    </mat-card-content>
  </div>      
</div>
