<form fxLayout="column" fxFlex="98" fxLayout.gt-sm="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.gt-sm="space-between start" class="padding-gap overflow-x-hidden">
  <mat-form-field fxFlex.gt-sm="55">
    <input matInput [(ngModel)]="transaction.address" placeholder="Bitcoin Address" tabindex="1" name="address" required #address="ngModel">
    <mat-error *ngIf="!transaction.address">Bitcoin address is required.</mat-error>
  </mat-form-field>
  <mat-form-field fxFlex.gt-sm="30">
    <input matInput [(ngModel)]="transaction.satoshis" placeholder="Amount" name="amount" type="number" step="100" min="0" tabindex="2" required #amount="ngModel">
    <span matSuffix> {{selAmountUnit}} </span>
    <mat-error *ngIf="!transaction.satoshis">Amount is required.</mat-error>
  </mat-form-field>
  <mat-form-field fxFlex.gt-sm="10" fxLayoutAlign="start end">
    <mat-select [value]="selAmountUnit" tabindex="3" required name="amountUnit" (selectionChange)="onAmountUnitChange($event)">
      <mat-option *ngFor="let amountUnit of amountUnits" [value]="amountUnit">{{amountUnit}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="10" fxLayoutAlign="start end">
    <mat-select tabindex="6" placeholder="Fee Rate" [(value)]="transaction.feeRate">
      <mat-option *ngFor="let feeRateType of feeRateTypes" [value]="feeRateType.feeRateId">
        {{feeRateType.feeRateType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox fxFlex="20" fxFlex.lt-lg="35" tabindex="7" [(ngModel)]="flgMinConf" name="flgMinConf">
    <mat-form-field fxFlex="100">
      <input matInput [(ngModel)]="transaction.minconf" placeholder="Min Confirmation Blocks" type="number"
        name="blocks" step="1" min="0" tabindex="8" #blocks="ngModel" [required]="flgMinConf"
        [disabled]="!flgMinConf">
    </mat-form-field>
  </mat-checkbox>
  <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="40" fxLayout.gt-sm="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.gt-sm="space-between start"></div>
  <div fxLayout="row" fxFlex="100" fxFlex.gt-sm="30" fxLayoutAlign="space-between stretch" class="mt-2">
    <button fxFlex="48" fxLayoutAlign="center center" mat-stroked-button color="primary" tabindex="7" type="reset" (click)="resetData()">Clear Fields</button>
    <button fxFlex="48" fxLayoutAlign="center center" mat-raised-button color="primary" type="submit" tabindex="8" (click)="onSendFunds()">Send Funds</button>
  </div>
</form>
