<div fxLayout="row">
  <div fxFlex="100">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="modal-info-header">
      <div fxFlex="95" fxLayoutAlign="start start">
        <span class="page-title">Label UTXO</span>
      </div>
      <button tabindex="8" fxFlex="5" fxLayoutAlign="center" class="btn-close-x p-0" [mat-dialog-close]="false" default mat-button>X</button>
    </mat-card-header>
    <mat-card-content class="padding-gap-x-large">
      <form fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="overflow-x-hidden" (submit)="onLabelUTXO()" (reset)="resetData()" #form="ngForm">
        <mat-form-field fxFlex.gt-sm="100">
          <input autoFocus matInput [(ngModel)]="label" placeholder="UTXO Label" name="label" tabindex="1" required>
          <mat-error *ngIf="!label">UTXO Label is required.</mat-error>
        </mat-form-field>
        <div fxFlex="100" class="alert alert-danger mt-1" *ngIf="labelError !== ''">
          <fa-icon [icon]="faExclamationTriangle" class="mr-1 alert-icon"></fa-icon>
          <span *ngIf="labelError !== ''">{{labelError}}</span>
        </div>
        <div fxLayout="row" fxFlex="100" class="mt-2" fxLayoutAlign="end center">
          <button class="mr-1" mat-stroked-button color="primary" tabindex="7" type="reset">Clear</button>
          <button mat-flat-button color="primary" type="submit" tabindex="8">Label UTXO</button>
        </div>
      </form>
    </mat-card-content>
  </div>
</div>
