<ng-container *ngTemplateOutlet="swapTransactionDetails?.error ? swapTransactionFailedBlock : swapTransactionSuccessfulBlock"></ng-container>
<ng-template #swapTransactionFailedBlock>
  <div fxLayout="column"><span
      class="foreground-secondary-text">{{'Error: ' + (swapTransactionDetails?.error?.error?.error?.error ? swapTransactionDetails.error.error.error.error : swapTransactionDetails?.error?.error?.error ? swapTransactionDetails.error.error.error : swapTransactionDetails?.error?.error ? swapTransactionDetails.error.error : swapTransactionDetails?.error ? swapTransactionDetails.error : 'Unknown')}}</span>
  </div>
</ng-template>
<ng-template #swapTransactionSuccessfulBlock>
  <div fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="100">
        <h4 fxLayoutAlign="start" class="font-bold-500">ID</h4>
        <span class="foreground-secondary-text">{{swapTransactionDetails?.id}}</span>
      </div>
    </div>
    <mat-divider class="w-100 my-1"></mat-divider>
    <div fxLayout="row">
      <div fxFlex="100">
        <h4 fxLayoutAlign="start" class="font-bold-500">HEX</h4>
        <span class="foreground-secondary-text">{{swapTransactionDetails?.hex}}</span>
      </div>
    </div>
  </div>
</ng-template>
