<div fxLayout="column">
  <div class="padding-gap">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <h2>Connect Peer</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form fxLayout="column" fxLayout.gt-sm="row wrap" (ngSubmit)="connectPeerForm.form.valid && onConnectPeer()" #connectPeerForm="ngForm">
          <mat-form-field fxFlex="70" fxLayoutAlign="start end">
            <input matInput placeholder="Lightning Address (pubkey OR pubkey@ip:port)" name="peerAddress" [(ngModel)]="peerAddress" tabindex="1" required #peerAdd="ngModel">
          </mat-form-field>
          <div fxFlex="15" fxLayoutAlign="start start">
            <button fxFlex="90" fxLayoutAlign="center center" mat-raised-button color="primary" [disabled]="peerAdd.invalid" type="submit" tabindex="2">
              <p *ngIf="peerAdd.invalid && (peerAdd.dirty || peerAdd.touched); else connectText">Invalid Address</p>
              <ng-template #connectText><p>Connect</p></ng-template>
            </button>
          </div>
          <div fxFlex="15" fxLayoutAlign="start start">
            <button fxFlex="90" fxLayoutAlign="center center" mat-raised-button color="accent" tabindex="2" type="reset" (click)="resetData()">Clear</button>
          </div>
        </form>                              
      </mat-card-content>
    </mat-card>
  </div>
  <div class="padding-gap">
    <mat-card>
      <mat-card-content class="table-card-content">
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field fxFlex="30">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <div perfectScrollbar class="table-container mat-elevation-z8">
          <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          <table mat-table #table [dataSource]="peers" matSort [ngClass]="{'mat-elevation-z8 overflow-x-auto error-border': flgLoading[0]==='error','mat-elevation-z8 overflow-x-auto': true}">
            <ng-container matColumnDef="detach">
              <th mat-header-cell *matHeaderCellDef>Detach</th>
              <td mat-cell *matCellDef="let peer"><mat-icon color="accent" (click)="onPeerDetach(peer)">link_off</mat-icon></td>
            </ng-container>
            <ng-container matColumnDef="open_channel">
              <th mat-header-cell *matHeaderCellDef>Open Channel</th>
              <td mat-cell *matCellDef="let peer"><mat-icon color="accent" (click)="onOpenChannel(peer)">playlist_add</mat-icon></td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let peer">
                <div> {{peer?.id | slice:0:10}}... </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="alias">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Alias </th>
              <td mat-cell *matCellDef="let peer"> {{peer?.alias}} </td>
            </ng-container>
            <ng-container matColumnDef="connected">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Connected </th>
              <td mat-cell *matCellDef="let peer"> {{peer?.connected}} </td>
            </ng-container>
            <ng-container matColumnDef="netaddr">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Network Address </th>
              <td mat-cell *matCellDef="let peer">
                <span *ngFor="let addr of peer?.netaddr; last as isLast">{{ addr}}<span *ngIf="!isLast">,<br></span></span>
              </td>
            </ng-container>
            <ng-container matColumnDef="globalfeatures">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Global Features </th>
              <td mat-cell *matCellDef="let peer"> {{peer?.globalfeatures}} </td>
            </ng-container>
            <ng-container matColumnDef="localfeatures">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Local Features </th>
              <td mat-cell *matCellDef="let peer"> {{peer?.localfeatures}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: flgSticky;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [@newlyAddedRowAnimation]="(row.id === newlyAddedPeer && flgAnimate) ? 'added' : 'notAdded'" (click)="onPeerClick(row, $event)"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
