.p-2 {
  padding: 1rem;
}

.pb-1 {
  padding-bottom: 0.3rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.wrap-text {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;  
}

.mat-icon[type="button"] {
  cursor: pointer;
}

.new-line {
  white-space: pre-wrap;
}

.title-message {
  font-size: 110%;
}

.mt-minus-40px {
  margin-top:-40px;
}
