.ml-minus-24px {
  margin-left: -24px;
}

table {
  width:100%;
}

.mat-column-block_hash, .mat-column-tx_hash {
  flex: 1 1 25%;
  min-width: 100px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
}

.mat-column-dest_addresses, .mat-column-time_stamp {
  flex: 1 1 10%;
  min-width: 75px;
  max-width: 75px;
}

.mat-column-num_confirmations, .mat-column-total_fees, .mat-column-block_height, .mat-column-amount {
  flex: 1 1 10%;
  min-width: 65px;
  max-width: 65px;
}