.mat-column-detach {
  flex: 0 0 5%;
  min-width: 50px;
}

.mat-column-alias, .mat-column-address {
  flex: 0 0 15%;
  min-width: 100px;
}

.mat-cell.mat-column-detach {
  cursor: pointer;
}

table {
  width:100%;
}
