.mat-column-alias {
  flex: 0 0 15%;
  width: 15%;
  white-space: nowrap;
  overflow: hidden;  
  text-overflow: ellipsis;
}

.mat-column-pub_key {
  flex: 0 0 35%;
  width: 35%;
  white-space: nowrap;
  overflow: hidden;  
  text-overflow: ellipsis;
  padding: 0 2rem;
}

.mat-column-ping_time {
  padding-right: 2rem;
}
