$blue-primary: (
    50 : #e4e5e6,
    100 : #bdbfc1,
    200 : #919498,
    300 : #64696f,
    400 : #434850,
    500 : #222831,
    600 : #1e242c,
    700 : #191e25,
    800 : #14181f,
    900 : #0c0f13,
    A100 : #589bff,
    A200 : #257cff,
    A400 : #0060f1,
    A700 : #0056d7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
