$custom-day-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background:map_get($mat-gray, 100),
  hover:      rgba(black, 0.04),
  card:       map_get($mat-gray, 100),
  dialog:     map_get($mat-gray, 100),
  disabled-button: rgba(black, 0.12),
  raised-button: map_get($mat-grey, 50),
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);
