$custom-day-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 1),
  icons:             rgba(black, 1),
  text:              rgba(black, 1),
  slider-min:        rgba(black, 1),
  slider-off:        rgba(black, 0.5),
  slider-off-active: rgba(black, 0.6),
);
