$green-primary: (
    50 : #e3eae5,
    100 : #bacbbe,
    200 : #8ca893,
    300 : #5d8568,
    400 : #3b6b47,
    500 : #185127,
    600 : #154a23,
    700 : #11401d,
    800 : #0e3717,
    900 : #08270e,
    A100 : #63ff78,
    A200 : #30ff4b,
    A400 : #00fc21,
    A700 : #00e31e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
