$purple-primary: (
    50 : #eceaf4,
    100 : #cfcae4,
    200 : #afa7d2,
    300 : #8e83c0,
    400 : #7669b3,
    500 : #5e4ea5,
    600 : #56479d,
    700 : #4c3d93,
    800 : #42358a,
    900 : #312579,
    A100 : #c3baff,
    A200 : #9787ff,
    A400 : #6b54ff,
    A700 : #553bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
