@use '@angular/material' as mat;

$mat-white: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #eeeeee,
  300 : #eeeeee,
  400 : #bbbbbb,
  500 : #aaaaaa,
  600 : #999999,
  700 : #888888,
  800 : #777777,
  900 : #666666,
  A100 : #555555,
  A200 : #444444,
  A400 : #333333,
  A700 : #222222,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
