$white-accent: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
    50 : #ebe6ed,
    100 : #cdc1d3,
    200 : #ac98b5,
    300 : #8b6f97,
    400 : #725081,
    500 : #59316b,
    600 : #512c63,
    700 : #482558,
    800 : #3e1f4e,
    900 : #2e133c,
    A100 : #cd7aff,
    A200 : #ba47ff,
    A400 : #a814ff,
    A700 : #9d00f9,
    )
);
