$yellow-primary: (
  50 : #f2ece4,
  100 : #dfcfbc,
  200 : #caaf8f,
  300 : #b48f62,
  400 : #a47741,
  500 : #945f1f,
  600 : #8c571b,
  700 : #814d17,
  800 : #774312,
  900 : #65320a,
  A100 : #ffc097,
  A200 : #ffa164,
  A400 : #ff8231,
  A700 : #ff7218,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
