<div fxLayout="column" fxFlex="100" fxLayoutAlign="start start">
  <div fxFlex="33">
    <h4 fxLayoutAlign="start" class="font-bold-500">Lightning</h4>
    <div class="foreground-secondary-text">{{balances.lightning | number}} (Sats)</div>
  </div>
  <div fxFlex="24">
    <h4 fxLayoutAlign="start" class="font-bold-500">On-chain</h4>
    <div class="foreground-secondary-text">{{balances.onchain | number}} (Sats)</div>
  </div>
  <div fxFlex="43" fxLayoutAlign="start start" style="margin-left: -2rem;">
      <ngx-charts-bar-horizontal
      [view]="[360, 80]"
      [scheme]="colorScheme"
      [results]="totalBalances">
      </ngx-charts-bar-horizontal>
  </div>
</div>
