<div *ngIf="lookupResult" fxLayout="column">
  <mat-divider class="my-1" [inset]="true" />
  <div fxLayout="row">
    <div fxFlex="30">
      <h4 fxLayoutAlign="start" class="font-bold-500">Alias</h4>
      <span class="foreground-secondary-text">{{lookupResult?.alias}}<span class="ml-2" [ngStyle]="{'background-color': lookupResult?.rgbColor}">{{lookupResult?.rgbColor ? lookupResult?.rgbColor : ''}}</span></span>
    </div>
    <div fxFlex="70">
      <h4 fxLayoutAlign="start" class="font-bold-500">Pub Key</h4>
      <span class="foreground-secondary-text w-100">{{lookupResult?.nodeId}}</span>
    </div>
  </div>
  <mat-divider class="my-1" [inset]="true" />
  <div fxLayout="row">
    <div fxFlex="30">
      <h4 fxLayoutAlign="start" class="font-bold-500">Date/Time</h4>
      <span class="foreground-secondary-text">{{(lookupResult?.timestamp * 1000) | date:'dd/MMM/y HH:mm'}}</span>
    </div>
    <div fxFlex="70">
      <h4 fxLayoutAlign="start" class="font-bold-500">Features</h4>
      <span *ngFor="let activeFeature of lookupResult?.features.activated | keyvalue" class="foreground-secondary-text w-100"><div>{{nodeFeaturesEnum[activeFeature.key] || activeFeature.key}}: {{activeFeature.value | titlecase}}</div></span>
    </div>
  </div>
  <mat-divider class="my-1" [inset]="true" />
  <div fxLayout="row">
    <div fxFlex="100">
      <h4 fxLayoutAlign="start" class="font-bold-500">Signature</h4>
      <span class="foreground-secondary-text">{{lookupResult?.signature}}</span>
    </div>
  </div>
  <mat-divider class="my-1" [inset]="true" />
  <div fxLayout="column">
    <h4 fxFlex="100" fxLayoutAlign="start" class="font-bold-500 mb-1">Addresses</h4>
    <div fxLayout="row" fxFlex="100" class="table-container" [perfectScrollbar]>
      <table #table mat-table matSort class="overflow-auto" [dataSource]="addresses">
        <ng-container matColumnDef="address">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Address</th>
          <td *matCellDef="let address" mat-cell>{{address}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell>
            <div class="bordered-box table-actions-select btn-action" fxLayoutAlign="center center">Actions</div>
         </th>
         <td *matCellDef="let address" mat-cell fxLayoutAlign="end center">
          <div class="bordered-box table-actions-select" fxLayoutAlign="center center">
            <mat-select placeholder="Actions" tabindex="1" class="mr-0">
              <mat-select-trigger />
              <mat-option (click)="onConnectNode(address)">Connect</mat-option>
              <mat-option rtlClipboard [payload]="lookupResult?.nodeId + '@' + address" (copied)="onCopyNodeURI($event)">Copy URI</mat-option>
            </mat-select>
          </div>
        </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
  </div>
</div>
