<div fxLayout="row" fxLayoutAlign="start center" class="padding-gap-x page-title-container">
  <fa-icon [icon]="faUserCheck" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">Sign/Verify Message</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-tab-group>
        <mat-tab label="Sign"><rtl-sign></rtl-sign></mat-tab>
        <mat-tab label="Verify"><rtl-verify></rtl-verify></mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
  