<div fxLayout="column">
  <div fxFlex="100" class="padding-gap">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <h2>Forwarding History</h2>
          <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="space-between stretch" fxLayout.gt-md="row wrap"
          (ngSubmit)="fhForm.form.valid && onForwardingHistoryFetch()" #fhForm="ngForm" class="padding-gap">
          <div fxFlex="69" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="49" fxLayoutAlign="start">
              <input matInput [matDatepicker]="startDatepicker" placeholder="Start Date" [max]="yesterday"
                name="startDate" [(ngModel)]="startDate" tabindex="1" #strtDate="ngModel">
              <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatepicker [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="49" fxLayoutAlign="start">
              <input matInput [matDatepicker]="endDatepicker" [max]="today" placeholder="End Date" name="endDate"
                [(ngModel)]="endDate" tabindex="2" #enDate="ngModel">
              <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatepicker [startAt]="endDate"></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="30" fxLayoutAlign="space-between stretch">
            <button fxFlex="50" fxLayoutAlign="center center" mat-raised-button color="primary"
              [disabled]="fhForm.invalid" type="submit" tabindex="3">Fetch</button>
            <button fxFlex="50" fxLayoutAlign="center center" mat-raised-button color="accent" class="ml-2" tabindex="4"
              type="reset" (click)="resetData()">Clear</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="padding-gap">
    <mat-card>
      <mat-card-content class="table-card-content">
        <div perfectScrollbar class="table-container mat-elevation-z8">
          <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          <table mat-table #table [dataSource]="forwardingHistoryEvents" matSort
            [ngClass]="{'mat-elevation-z8 overflow-auto error-border': flgLoading[0]==='error','mat-elevation-z8 overflow-auto': true}">
            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
              <td mat-cell *matCellDef="let fhEvent">{{fhEvent.timestamp_str}}</td>
            </ng-container>
            <ng-container matColumnDef="chan_id_in">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Chan Id In</th>
              <td mat-cell *matCellDef="let fhEvent">{{fhEvent.chan_id_in}}</td>
            </ng-container>
            <ng-container matColumnDef="alias_in">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alias In</th>
              <td mat-cell *matCellDef="let fhEvent">{{fhEvent.alias_in}}</td>
            </ng-container>
            <ng-container matColumnDef="chan_id_out">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Chan Id Out</th>
              <td mat-cell *matCellDef="let fhEvent">{{fhEvent.chan_id_out}}</td>
            </ng-container>
            <ng-container matColumnDef="alias_out">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alias Out</th>
              <td mat-cell *matCellDef="let fhEvent">{{fhEvent.alias_out}}</td>
            </ng-container>
            <ng-container matColumnDef="amt_out">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Amount
                Out (Sats)</th>
              <td mat-cell *matCellDef="let fhEvent"><span fxLayoutAlign="end center">{{fhEvent.amt_out | number}}</span></td>
            </ng-container>
            <ng-container matColumnDef="amt_in">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Amount
                In (Sats)</th>
              <td mat-cell *matCellDef="let fhEvent"><span fxLayoutAlign="end center">{{fhEvent.amt_in | number}}</span></td>
            </ng-container>
            <ng-container matColumnDef="fee">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Fee
                (Sats)</th>
              <td mat-cell *matCellDef="let fhEvent"><span fxLayoutAlign="end center">{{fhEvent.fee | number}}</span></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: flgSticky;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="onForwardingEventClick(row, $event)"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>