<div fxLayout="column">
  <div class="padding-gap">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <h2>Verify and Send Payments</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="space-between stretch" fxLayout.gt-md="row wrap"
          #sendPaymentForm="ngForm">
          <div fxFlex="69" fxLayoutAlign="space-between stretch">
            <mat-form-field class="w-100">
              <input matInput placeholder="Payment Request" name="paymentRequest" [(ngModel)]="paymentRequest"
                tabindex="1" required #paymentReq="ngModel">
            </mat-form-field>
          </div>
          <div fxFlex="30" fxLayoutAlign="space-between stretch">
            <button fxFlex="48" fxLayoutAlign="center center" mat-raised-button color="primary"
              [disabled]="paymentReq.invalid" (click)="onSendPayment()" tabindex="2">
              <p *ngIf="paymentReq.invalid && (paymentReq.dirty || paymentReq.touched); else sendText">Invalid Req</p>
              <ng-template #sendText>
                <p>Send Payment</p>
              </ng-template>
            </button>
            <button fxFlex="48" mat-stroked-button color="accent" type="reset" tabindex="3" type="reset"
              (click)="resetData()">Clear</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="padding-gap">
    <mat-card>
      <mat-card-content class="table-card-content">
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field fxFlex="30">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <div perfectScrollbar class="table-container mat-elevation-z8">
          <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
          <table mat-table #table [dataSource]="payments" matSort
            [ngClass]="{'mat-elevation-z8 overflow-auto error-border': flgLoading[0]==='error','mat-elevation-z8 overflow-auto': true}">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let payment">{{payment?.id}}</td>
            </ng-container>
            <ng-container matColumnDef="bolt11">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Bolt11</th>
              <td mat-cell *matCellDef="let payment">{{payment?.bolt11 | slice:0:10}}...</td>
            </ng-container>
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
              <td mat-cell *matCellDef="let payment">{{payment?.created_at_str}}</td>
            </ng-container>
            <ng-container matColumnDef="destination">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
              <td mat-cell *matCellDef="let payment">{{payment?.destination | slice:0:10}}...</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let payment">{{payment?.status}}</td>
            </ng-container>
            <ng-container matColumnDef="msatoshi">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">mSatoshi</th>
              <td mat-cell *matCellDef="let payment"><span
                  fxLayoutAlign="end center">{{payment?.msatoshi | number}}</span></td>
            </ng-container>
            <ng-container matColumnDef="msatoshi_sent">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">mSatoshi Sent</th>
              <td mat-cell *matCellDef="let payment"><span
                  fxLayoutAlign="end center">{{payment?.msatoshi_sent | number}}</span></td>
            </ng-container>
            <ng-container matColumnDef="payment_hash">
              <th mat-header-cell class="pl-4" *matHeaderCellDef mat-sort-header>Payment Hash</th>
              <td mat-cell class="pl-4" *matCellDef="let payment">
                <div>{{payment?.payment_hash | slice:0:10}}...</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="payment_preimage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Pre Image</th>
              <td mat-cell *matCellDef="let payment">
                <div>{{payment?.payment_preimage | slice:0:10}}<span *ngIf="payment?.payment_preimage">...</span></div>
              </td>
            </ng-container>
            <ng-container matColumnDef="amount_msat">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount mSat</th>
              <td mat-cell *matCellDef="let payment">{{payment?.amount_msat}}</td>
            </ng-container>
            <ng-container matColumnDef="amount_sent_msat">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Sent mSat</th>
              <td mat-cell *matCellDef="let payment">{{payment?.amount_sent_msat}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: flgSticky;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [@newlyAddedRowAnimation]="(row.payment_hash === newlyAddedPayment  && flgAnimate) ? 'added' : 'notAdded'"
              (click)="onPaymentClick(row, $event)"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>