<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxFlex="50" fxLayoutAlign="start center">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center" class="page-title-container padding-gap-large">
      <mat-card-title class="font-size-300 font-bold-500">
        <fa-icon [icon]="faTimes" class="page-title-img mr-1"></fa-icon>
        <span class="page-title">Error {{error.errorCode}}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center" class="padding-gap-large">
      <div class="box-text font-size-120">{{error.errorMessage}}</div>
      <span fxLayout="row" fxLayoutAlign="center" fxFlex="80">
        <button mat-flat-button color="primary" class="mt-2" type="button" (click)="goToHelp()">Go To Help</button>
      </span>
    </mat-card-content>
  </mat-card>
</div>
