<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" class="padding-gap-x page-title-container">
    <fa-icon [icon]="faNetworkWired" class="page-title-img mr-1"></fa-icon>
    <span class="page-title">Network Information</span>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="padding-gap-x">
    <mat-card fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
      <mat-progress-bar *ngIf="flgLoading[1]===true" mode="indeterminate"></mat-progress-bar>
      <mat-card-content fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" class="card-content-gap">
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100" class="my-2">
          <div fxFlex="33">
            <h4 fxLayoutAlign="start" class="font-bold-330">Network Capacity</h4>
            <span class="foreground-secondary-text">{{networkInfo.total_network_capacity | number}} Sats</span>
          </div>
          <div fxFlex="33">
            <h4 fxLayoutAlign="start" class="font-bold-330">Number of Nodes</h4>
            <span class="foreground-secondary-text">{{networkInfo.num_nodes | number}}</span>
          </div>
          <div fxFlex="33">
            <h4 fxLayoutAlign="start" class="font-bold-330">Number of Channels</h4>
            <span class="foreground-secondary-text">{{networkInfo.num_channels | number}}</span>
          </div>
          <mat-divider fxFlex="100" class="w-100 mt-6"></mat-divider>        
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100" class="my-2">
          <div fxFlex="33">
            <h4 fxLayoutAlign="start" class="font-bold-330">Max Channel Size</h4>
            <span class="foreground-secondary-text">{{networkInfo.max_channel_size | number}}</span>
          </div>
          <div fxFlex="33">
            <h4 fxLayoutAlign="start" class="font-bold-330">Avg Channel Size</h4>
            <span class="foreground-secondary-text">{{networkInfo.avg_channel_size | number}}</span>
          </div>
          <div fxFlex="33">
            <h4 fxLayoutAlign="start" class="font-bold-330">Min Channel Size</h4>
            <span class="foreground-secondary-text">{{networkInfo.min_channel_size | number}}</span>
          </div>
          <mat-divider fxFlex="100" class="w-100 mt-6"></mat-divider>        
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100" class="my-2">
          <div fxFlex="33">
            <h4 fxLayoutAlign="start" class="font-bold-330">Max Out Degree</h4>
            <span class="foreground-secondary-text">{{networkInfo.max_out_degree | number}}</span>
          </div>
          <div fxFlex="33">
            <h4 fxLayoutAlign="start" class="font-bold-330">Avg Out Degree</h4>
            <span class="foreground-secondary-text">{{networkInfo.avg_out_degree | number:'1.0-2'}}</span>
          </div>
          <mat-divider fxFlex="100" class="w-100 mt-6"></mat-divider>        
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
