@import "constants";

@mixin change-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  $primary-lighter: mat-color($primary, lighter);
  $primary-darker: mat-color($primary, darker);
  $accent: map-get($theme, accent);
  $accent-color: mat-color($accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $foreground-base: mat-color($foreground, base);
  $foreground-text: mat-color($foreground, text);
  $foreground-secondary-text: mat-color($foreground, secondary-text);
  $foreground-disabled: mat-color($foreground, disabled);
  $foreground-divider: mat-color($foreground, divider);
  $background: map-get($theme, background);
  $hover-background: rgba(0, 0, 0, 0.04);

  .bg-primary {
    @include _mat-toolbar-color($primary);
  }

  .bg-accent {
    @include _mat-toolbar-color($accent);
  }

  .bg-warn {
    @include _mat-toolbar-color($warn);
  }

  .btn-primary-darker {
    background-color: $primary-darker;
    color: $accent-color;
    border-radius: 1.6rem;
    text-transform: capitalize;
  }

  &.night {
    .selected-color {
      border-color: $primary-lighter;
    }
  }
  &.day {
    .mat-stroked-button.mat-primary {
      border-color: $primary-color;
    }
    .ng-fa-icon, .mat-nested-tree-node-parent .mat-icon, .mat-form-field-suffix {
      color: $foreground-secondary-text;
    }
    .selected-color {
      border-color: $primary-darker;
    }
    .page-title-container, .page-sub-title-container {
      & .page-title-img {
        color: $foreground-disabled;  
      }
      color: $foreground-secondary-text;
    }
  }
  
  .foreground-secondary-text {
    color: $foreground-secondary-text !important;
  }

  .foreground.mat-progress-spinner circle, .foreground.mat-spinner circle {
    stroke: $foreground-text;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: $toolbar-height;
  }

  .lnd-info{
    border-bottom: 1px solid $foreground-divider;
  }

  a, .cc-data-block .cc-data-title {
    color: $primary-color;
  }

  .active-link, .active-link .fa-icon-small {
    color: $primary-color; 
    font-weight: 500;
    cursor: pointer;
    fill: $primary-color; 
  }

  .mat-tree-node:hover, .mat-nested-tree-node-parent:hover  {
    color: $primary-color; 
    cursor: pointer;
    background: $hover-background;
    & .ng-fa-icon, & .mat-icon {
      color: $primary-color;
    }
    & .sidenav-img svg {
      fill: $primary-color;
    }
  }

  .mat-tree-node .sidenav-img, .mat-nested-tree-node .sidenav-img, .mat-nested-tree-node-parent .sidenav-img,
  .page-title-container .page-title-img, svg.top-icon-small {
    fill:  $foreground-text;
  }

  .horizontal-button .fa-icon-small {
    fill: white;
    color: white;
  }

  .h-active-link {
    border-bottom: 2px solid white;
  }
  
  .ngx-charts {
    fill: $foreground-text;
    .bar {
      fill: $primary-color !important;
      cursor: default;
    }
  }

  .mat-primary .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
  .mat-primary .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
    background: none;
    font-weight: 900;
  }

  .validation-error-icon {
    position: relative;
    top: 2px;
    left: 0.4rem;
  }

  .genseed-message {
    width:10%;
    color: $primary-color;
  }

  .insecure-message {
    width:100%;
  }

  .page-title-container, .page-sub-title-container, .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    color: $foreground-text;
  }

  .material-icons.primary { color: $primary-color; }

  .material-icons.accent { color: $accent-color; }

  .validation-error-message {
    position: relative;
    margin-top: 0.5rem;
    width:100%;
    color: $accent-color;
  }

  .mat-vertical-content {
    padding: 0 0.4rem 0 1.2rem;
  }

  .row-disabled {
    background-color: gray;
    .mat-icon {
      cursor: not-allowed;
    }
  }

  .mat-menu-panel {
    min-width: 6.4rem;
  }
  
  .horizontal-button {
    height: $toolbar-height;
    border-radius: 0;
    &:hover {
      background: $primary-darker;
      color: $accent-color;
    }
  }

  .horizontal-button-show {
    background: white;
    border-radius: 12rem;
  }

  .mat-tab-label.mat-tab-label-active {
    color: $primary-darker;
  }

  .cc-data-block {
    margin-right: 3.2rem;
    & .cc-data-title {
      font-size: 80%;
      font-weight: 500;
    }
    & .cc-data-value {
      font-size: 120%;
      color: $foreground-secondary-text;
    }
  }
  
  .mat-cell, .mat-header-cell, .mat-footer-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid; 
    border-bottom-color: $foreground-divider;
  }

  table.mat-table {
    border: 1px solid $foreground-divider;
    border-radius: 4px;
    background: none;
    thead tr th {
      color: $foreground-base;
    }
  }

  .bordered-box {
    border: 1px solid $foreground-divider;
    border-radius: 4px;
    background: none;
  }

  .modal-info-header {
    color: $foreground-text;
    font-weight: 500;
    & .page-title-img svg {
      color: $foreground-text;
    }
  }

  .modal-qr-code-container {
    background: $foreground-divider;
  }

  .rtl-snack-bar {
    background: $primary-darker;
    & .mat-simple-snackbar {
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }

  .tab-badge {
    & .mat-badge-content {
      width: $dot-size * 1.5;
      height: $dot-size * 1.5;
      border-radius: $dot-size * 1.5;
      line-height: $dot-size * 1.5;
      margin-top: 1.2rem;
      font-size: 80%;
      font-weight: 500;
    }
  }

  .table-actions-select {
    padding: 0.5rem 1rem;
    margin: 0.7rem 0;
    & .mat-select-placeholder {
      color: $foreground-text;
    }
  }
}
