$font-family: 'Roboto', sans-serif;
$font-size: 14px;
$toolbar-height: 46px; 
$regular-sidenav-width: 250px;
$compact-sidenav-width: 185px;
$mini-sidenav-width: 100px;
$sidenav-info-height: 90px;
$settings-nav-width: 150px;
$gap: 8px;
$icon-size: 36px;
$pubkey-info-height: 15px;
