$font-family: 'Roboto', sans-serif;
$small-font-size: 1.2rem;
$medium-font-size: 1.4rem;
$large-font-size: 1.6rem;

$nodes-toolbar-height: 5.2rem;
$horizontal-toolbar-height: 6rem;

$font-size: 1.4rem;
$toolbar-height: 5rem; 
$regular-sidenav-width: 22rem;
$compact-sidenav-width: 20rem;
$mini-sidenav-width: 10rem;
$sidenav-info-height: 9rem;
$settings-nav-width: 15rem;
$gap: 0.8rem;
$icon-size: 3.6rem;
$pubkey-info-height: 1.5rem;
$tree-node-height:4rem;
$fa-icon-small-size: 2rem;
$fa-icon-regular-size: 4rem;

$yellow-color: #ffbd2e;
$yellow-alert-color: #856404;
$yellow-background-color: #fff3cd;
$green-color: #28ca43;
$green-background-color: #d4edda;;
$red-color: #c62828;
$red-background-color: #f8d7da;
$blue-color: #004085;
$blue-background-color: #cce5ff;
$grey-color: #AAAAAA;
$tiny-dot-size: 0.8rem;
$dot-size: 1.2rem;
$badge-size: 0.8rem;
