$font-family: 'Roboto', sans-serif;
$small-font-size: 1.2rem;
$regular-font-size: 1.4rem;
$large-font-size: 1.6rem;

$nodes-toolbar-height: 52px;
$horizontal-toolbar-height: 60px;

$font-family: 'Roboto', sans-serif;
$font-size: 1.4rem;
$toolbar-height: 48px; 
$regular-sidenav-width: 240px;
$compact-sidenav-width: 200px;
$mini-sidenav-width: 100px;
$sidenav-info-height: 90px;
$settings-nav-width: 150px;
$gap: 8px;
$icon-size: 3.6rem;
$pubkey-info-height: 15px;
$tree-node-height:48px;
$fa-icon-small-size: 2rem;
$fa-icon-regular-size: 4rem;