$font-family: 'Roboto', sans-serif;
$yellow-color: #ffbd2e;
$yellow-alert-color: #856404;
$yellow-background-color: #fff3cd;
$green-color: #28ca43;
$green-background-color: #d4edda;;
$red-color: #c62828;
$red-background-color: #f8d7da;
$blue-color: #004085;
$blue-background-color: #cce5ff;
$grey-color: #CCCCCC;

$nodes-toolbar-height: 3.2rem;
$horizontal-toolbar-height: 4rem;
$toolbar-height: 4rem; 
$regular-sidenav-width: 16rem;
$sidenav-info-height: 6rem;
$settings-nav-width: 10rem;
$gap: 0.5rem;
$icon-size: 2.25rem;
$pubkey-info-height: 1rem;
$tree-node-height:3.5rem;
$fa-icon-small-size: 1.25rem;
$fa-icon-regular-size: 2.5rem;
$tiny-dot-size: 0.5rem;
$dot-size: 0.8rem;
$badge-size: 0.5rem;
