// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin for_screensize($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 60rem) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 90rem) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 120rem) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 180rem) { @content };    //1800px
    }
}

@mixin afterBg {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
