@import "constants";
@import "mixins";

html {
  width: 100%;
  height: 99%;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: $font-family !important;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.rtl-container{
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
  .mat-menu-panel .mat-menu-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .mat-nested-tree-node-child>.mat-tree-node {
    padding-left: 4rem;
  }
}

.mat-sidenav-container .mat-sidenav-content {
  height: 94vh;
  min-height: 94vh;
}

.sidenav {
  width: $regular-sidenav-width;
  height: 100%;
  overflow: hidden !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.horizontal-menu{
  padding: 0;
  z-index: 999;  
  position: fixed;
  top: 0;
  height: $toolbar-height;
  overflow: visible;
}

.inner-sidenav-content {
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;  
  padding: $gap;
  min-height: calc(100% - (#{$toolbar-height} + #{$gap}*4));
  max-height: 90vh;
  @include for_screensize(tab-port) {
    padding: $gap $gap/2;
  }
  @include for_screensize(phone) {
    padding: $gap/2 $gap/4;
  }
}

.top-50 {
  top: 5rem;
}

*{
  margin: 0;
  padding: 0;
}

.rtl-spinner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 999999;
  visibility: visible;
  opacity: 1;
  h4{
    margin-top: 1rem;
  }
}

.padding-gap {
  padding: $gap !important;
  @include for_screensize(tab-port) {
    padding: $gap/2 !important;
  }
  @include for_screensize(phone) {
    padding: $gap/4 !important;
  }
}

.padding-gap-x {
  padding: 0 $gap 0 $gap !important;
  @include for_screensize(tab-port) {
    padding: 0 $gap/2 0 $gap/2 !important;
  }
  @include for_screensize(phone) {
    padding: 0 $gap/4 0 $gap/4 !important;
  }
}

.padding-gap-large {
  padding: $gap * 2 !important;
  @include for_screensize(tab-port) {
    padding: $gap !important;
  }
  @include for_screensize(phone) {
    padding: $gap/4 !important;
  }
}

.padding-gap-x-large {
  padding: 0 ($gap*2) 0 ($gap*2) !important;
  @include for_screensize(tab-port) {
    padding: 0 $gap 0 $gap !important;
  }
  @include for_screensize(phone) {
    padding: 0 $gap/4 0 $gap/4 !important;
  }
}

.padding-gap-bottom-large {
  padding-bottom: $gap*2 !important;
  @include for_screensize(tab-port) {
    padding-bottom: $gap !important;
  }
  @include for_screensize(phone) {
    padding-bottom: $gap/4 !important;
  }
}

.overflow-wrap {
  overflow-wrap: break-word !important;
  overflow: hidden;
}

.mat-card {
  padding: 0 !important;
  overflow: hidden;
  border-radius: 2px !important;
}

.mat-card-original {
  padding: 1.6rem !important;
  border-radius: 4px !important;
}

.mat-tab-body-wrapper, .card-content-gap {
  padding: $gap*1.2 $gap*2 !important;
  height: 100%;
  @include for_screensize(tab-port) {
    padding: $gap $gap !important;
  }
  @include for_screensize(phone) {
    padding: $gap/2 $gap/4 !important;
  }
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type,
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  @include for_screensize(tab-port) {
    padding-left: $gap/2 !important;
  }
  @include for_screensize(phone) {
    padding-left: $gap/4 !important;
  }
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type,
mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  @include for_screensize(tab-port) {
    padding-right: $gap/2 !important;
  }
  @include for_screensize(phone) {
    padding-right: $gap/4 !important;
  }
}

.routing-tabs-block .mat-tab-body-wrapper {
  padding: 0 !important;
  min-height: 10rem;
}

.mat-card-actions{
  display: block;
  margin-bottom: 1.6rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.mat-card-content, .mat-card-subtitle, .mat-card-title {
  display: block;
  margin-bottom: 1.6rem;
}

.mat-card-header-text {
  margin: 0 !important;
  line-height: 1;
}

.mat-form-field-wrapper {
  width: 100%;
}

.mat-select {
  margin: 0 1.5rem 0 0;
}

.green {
  color: #388e3c !important;
}

.yellow {
  color: #ffd740 !important;
}

.red {
  color: #c62828 !important;
}

.grey {
  color: #CCCCCC !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

.mt-1px {
  margin-top: 1px !important;
}

.mt-2px {
  margin-top: 2px !important;
}

.mt-5px {
  margin-top: 5px !important;
}

.my-2px {
  margin: 2px 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
  @include for_screensize(tab-port) {
    margin-top: 0.8rem !important;
  }
  @include for_screensize(phone) {
    margin-top: 0.8rem !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2px {
  margin-bottom: 2px !important;
}

.mb-5px {
  margin-bottom: 5px !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
  @include for_screensize(tab-port) {
    margin-bottom: 0.8rem !important;
  }
  @include for_screensize(phone) {
    margin-bottom: 0.8rem !important;
  }
}

.mb-6 {
  margin-bottom: 6rem !important;
  @include for_screensize(tab-port) {
    margin-bottom: 5rem !important;
  }
  @include for_screensize(phone) {
    margin-bottom: 5rem !important;
  }
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 1rem !important;
  @include for_screensize(tab-port) {
    margin-left: 0.4rem !important;
  }
  @include for_screensize(phone) {
    margin-left: 0.2rem !important;
  }
}

.ml-minus-1 {
  margin-left: -1rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-3px {
  margin-right: 0.3rem !important;
}

.mr-5px {
  margin-right: 0.5rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
  @include for_screensize(tab-port) {
    margin-right: 0.4rem !important;
  }
  @include for_screensize(phone) {
    margin-right: 0.2rem !important;
  }
}

.mx-1 {
  margin: 0 1rem !important;
  @include for_screensize(tab-port) {
    margin: 0 0.4rem !important;
  }
  @include for_screensize(phone) {
    margin: 0 0.2rem !important;
  }
}

.my-1 {
  margin: 1rem 0 !important;
  @include for_screensize(tab-port) {
    margin: 0.8rem 0 !important;
  }
  @include for_screensize(phone) {
    margin: 0.8rem 0 !important;
  }
}

.m-1 {
  margin: 1rem !important;
  @include for_screensize(tab-port) {
    margin: 0.8rem !important;
  }
  @include for_screensize(phone) {
    margin: 0.8rem !important;
  }
}

.mt-2 {
  margin-top: 2rem !important;
  @include for_screensize(tab-port) {
    margin-top: 1.6rem !important;
  }
  @include for_screensize(phone) {
    margin-top: 1.6rem !important;
  }
}

.mt-3 {
  margin-top: 3rem !important;
  @include for_screensize(tab-port) {
    margin-top: 2.4rem !important;
  }
  @include for_screensize(phone) {
    margin-top: 2.6rem !important;
  }
}

.mt-4 {
  margin-top: 4rem !important;
  @include for_screensize(tab-port) {
    margin-top: 3.4rem !important;
  }
  @include for_screensize(phone) {
    margin-top: 3.4rem !important;
  }
}

.mt-6 {
  margin-top: 6rem !important;
  @include for_screensize(tab-port) {
    margin-top: 4.8rem !important;
  }
  @include for_screensize(phone) {
    margin-top: 4.8rem !important;
  }
}

.mt-minus-1 {
  margin-top: -1rem !important;
  @include for_screensize(tab-port) {
    margin-top: -0.8rem !important;
  }
  @include for_screensize(phone) {
    margin-top: -0.8rem !important;
  }
}

.mt-minus-2 {
  margin-top: -2rem !important;
  @include for_screensize(tab-port) {
    margin-top: -1.6rem !important;
  }
  @include for_screensize(phone) {
    margin-top: -1.6rem !important;
  }
}

.mb-2 {
  margin-bottom: 2rem !important;
  @include for_screensize(tab-port) {
    margin-bottom: 1.6rem !important;
  }
  @include for_screensize(phone) {
    margin-bottom: 1.6rem !important;
  }
}

.mb-3 {
  margin-bottom: 3rem !important;
  @include for_screensize(tab-port) {
    margin-bottom: 2.4rem !important;
  }
  @include for_screensize(phone) {
    margin-bottom: 2.4rem !important;
  }
}

.mb-4 {
  margin-bottom: 4rem !important;
  @include for_screensize(tab-port) {
    margin-bottom: 3.2rem !important;
  }
  @include for_screensize(phone) {
    margin-bottom: 3.2rem !important;
  }
}

.ml-2 {
  margin-left: 2rem !important;
  @include for_screensize(tab-port) {
    margin-left: 0.8rem !important;
  }
  @include for_screensize(phone) {
    margin-left: 0.4rem !important;
  }
}

.mr-2 {
  margin-right: 2rem !important;
  @include for_screensize(tab-port) {
    margin-right: 0.8rem !important;
  }
  @include for_screensize(phone) {
    margin-right: 0.4rem !important;
  }
}

.ml-4 {
  margin-left: 4rem !important;
  @include for_screensize(tab-port) {
    margin-left: 1.6rem !important;
  }
  @include for_screensize(phone) {
    margin-left: 0.8rem !important;
  }
}

.mr-4 {
  margin-right: 4rem !important;
  @include for_screensize(tab-port) {
    margin-right: 1.6rem !important;
  }
  @include for_screensize(phone) {
    margin-right: 0.8rem !important;
  }
}

.mx-2 {
  margin: 0 2rem !important;
  @include for_screensize(tab-port) {
    margin: 0 0.8rem !important;
  }
  @include for_screensize(phone) {
    margin: 0 0.4rem !important;
  }
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-2 {
  margin: 2rem 0 !important;
  @include for_screensize(tab-port) {
    margin: 1.6rem 0 !important;
  }
  @include for_screensize(phone) {
    margin: 1.6rem 0 !important;
  }
}

.my-3 {
  margin: 3rem 0 !important;
  @include for_screensize(tab-port) {
    margin: 2.4rem 0 !important;
  }
  @include for_screensize(phone) {
    margin: 2.4rem 0 !important;
  }
}

.my-4 {
  margin: 4rem 0 !important;
  @include for_screensize(tab-port) {
    margin: 3.2rem 0 !important;
  }
  @include for_screensize(phone) {
    margin: 3.2rem 0 !important;
  }
}

.m-2 {
  margin: 2rem !important;
  @include for_screensize(tab-port) {
    margin: 1.6rem !important;
  }
  @include for_screensize(phone) {
    margin: 1.6rem !important;
  }
}

.pt-1 {
  padding-top: 1rem !important;
  @include for_screensize(tab-port) {
    padding-top: 0.8rem !important;
  }
  @include for_screensize(phone) {
    padding-top: 0.8rem !important;
  }
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
  @include for_screensize(tab-port) {
    padding-bottom: 0.8rem !important;
  }
  @include for_screensize(phone) {
    padding-bottom: 0.8rem !important;
  }
}

.pl-1 {
  padding-left: 1rem !important;
  @include for_screensize(tab-port) {
    padding-left: 0.4rem !important;
  }
  @include for_screensize(phone) {
    padding-left: 0.2rem !important;
  }
}

.pl-15px {
  padding-left: 1.5rem !important;
  @include for_screensize(tab-port) {
    padding-left: 0.6rem !important;
  }
  @include for_screensize(phone) {
    padding-left: 0.4rem !important;
  }
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 1rem !important;
  @include for_screensize(tab-port) {
    padding-right: 0.4rem !important;
  }
  @include for_screensize(phone) {
    padding-right: 0.2rem !important;
  }
}

.pr-3 {
  padding-right: 3rem !important;
  @include for_screensize(tab-port) {
    padding-right: 1.2rem !important;
  }
  @include for_screensize(phone) {
    padding-right: 0.6rem !important;
  }
}

.pr-4 {
  padding-right: 4rem !important;
  @include for_screensize(tab-port) {
    padding-right: 1.6rem !important;
  }
  @include for_screensize(phone) {
    padding-right: 0.8rem !important;
  }
}

.pr-4px {
  padding-right: 0.4rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-5px {
  padding: 0.5rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-1 {
  padding: 0 1rem !important;
  @include for_screensize(tab-port) {
    padding: 0 0.4rem !important;
  }
  @include for_screensize(phone) {
    padding: 0 0.2rem !important;
  }
}

.py-0 {
  padding: 1rem 0 !important;
  @include for_screensize(tab-port) {
    padding: 0.8rem 0 !important;
  }
  @include for_screensize(phone) {
    padding: 0.8rem 0 !important;
  }
}

.py-1 {
  padding: 1rem 0 !important;
  @include for_screensize(tab-port) {
    padding: 0.8rem 0 !important;
  }
  @include for_screensize(phone) {
    padding: 0.8rem 0 !important;
  }
}

.p-1 {
  padding: 1rem !important;
  @include for_screensize(tab-port) {
    padding: 0.8rem !important;
  }
  @include for_screensize(phone) {
    padding: 0.8rem !important;
  }
}

.p-16 {
  padding: 1.6rem !important;
  @include for_screensize(tab-port) {
    padding: 0.8rem !important;
  }
  @include for_screensize(phone) {
    padding: 0.4rem !important;
  }
}

.pt-2 {
  padding-top: 2rem !important;
  @include for_screensize(tab-port) {
    padding-top: 1.6rem !important;
  }
  @include for_screensize(phone) {
    padding-top: 1.6rem !important;
  }
}

.pt-3 {
  padding-top: 3rem !important;
  @include for_screensize(tab-port) {
    padding-top: 2.4rem !important;
  }
  @include for_screensize(phone) {
    padding-top: 2.4rem !important;
  }
}

.pb-2 {
  padding-bottom: 2rem !important;
  @include for_screensize(tab-port) {
    padding-bottom: 1.6rem !important;
  }
  @include for_screensize(phone) {
    padding-bottom: 1.6rem !important;
  }
}

.pl-2 {
  padding-left: 2rem !important;
  @include for_screensize(tab-port) {
    padding-left: 0.8rem !important;
  }
  @include for_screensize(phone) {
    padding-left: 0.4rem !important;
  }
}

.pt-4 {
  padding-top: 3.2rem !important;
  @include for_screensize(tab-port) {
    padding-top: 2.5rem !important;
  }
  @include for_screensize(phone) {
    padding-top: 2.5rem !important;
  }
}

.pl-3 {
  padding-left: 3rem !important;
  @include for_screensize(tab-port) {
    padding-left: 1.2rem !important;
  }
  @include for_screensize(phone) {
    padding-left: 0.6rem !important;
  }
}

.pl-4 {
  padding-left: 4rem !important;
  @include for_screensize(tab-port) {
    padding-left: 1.6rem !important;
  }
  @include for_screensize(phone) {
    padding-left: 0.8rem !important;
  }
}

.pr-2 {
  padding-right: 2rem !important;
  @include for_screensize(tab-port) {
    padding-right: 0.8rem !important;
  }
  @include for_screensize(phone) {
    padding-right: 0.4rem !important;
  }
}

.pr-5 {
  padding-right: 4rem !important;
  @include for_screensize(tab-port) {
    padding-right: 1.6rem !important;
  }
  @include for_screensize(phone) {
    padding-right: 0.8rem !important;
  }
}

.px-2 {
  padding: 0 2rem !important;
  @include for_screensize(tab-port) {
    padding: 0 0.8rem !important;
  }
  @include for_screensize(phone) {
    padding: 0 0.4rem !important;
  }
}

.px-3 {
  padding: 0 3rem !important;
  @include for_screensize(tab-port) {
    padding: 0 1.2rem !important;
  }
  @include for_screensize(phone) {
    padding: 0 0.6rem !important;
  }
}

.px-4 {
  padding: 0 4rem !important;
  @include for_screensize(tab-port) {
    padding: 0 1.6rem !important;
  }
  @include for_screensize(phone) {
    padding: 0 0.8rem !important;
  }
}

.py-2 {
  padding: 2rem 0 !important;
  @include for_screensize(tab-port) {
    padding: 1.6rem 0 !important;
  }
  @include for_screensize(phone) {
    padding: 1.6rem 0 !important;
  }
}

.p-2 {
  padding: 2rem !important;
  @include for_screensize(tab-port) {
    padding: 1.6rem !important;
  }
  @include for_screensize(phone) {
    padding: 1.6rem !important;
  }
}

.p-24 {
  padding: 2.4rem !important;
  @include for_screensize(tab-port) {
    padding: 1.2rem !important;
  }
  @include for_screensize(phone) {
    padding: 1rem !important;
  }
}

.m-1px {
  margin: 1px !important;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-auto {
  overflow: auto;
}

.mat-footer-row {
  & .mat-footer-cell {
    border-bottom: none !important;
  }
}

.mat-row:last-child {
  & .mat-cell {
    border-bottom: none !important;
  }
}

.flex-ellipsis {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 3rem;
}

.mat-list, .mat-list .mat-list-item .mat-list-item-content, .mat-nav-list, .mat-selection-list {
  padding: 0 !important;
}

.inline-spinner {
  display: inline-flex !important;
  top: 0.5rem !important;
}

.top-minus-5px {
  position: relative;
  top:-0.5rem;
}

.top-minus-15px {
  position: relative;
  top:-1.5rem;
}

.top-minus-25px {
  position: relative;
  top:-2.5rem;
  margin-bottom: -2.5rem !important;
}

.top-minus-30px {
  position: relative;
  top:-3rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.inline-flex {
  display: inline-flex !important;
}

.error-border {
  border: 1px solid red;
  box-shadow: 0 3px 1px -2px rgba(255,0,0,.2), 0 2px 2px 0 rgba(255,0,0,.14), 0 1px 5px 0 rgba(255,0,0,.12) !important;
}

.settings-container {
  h4{
    margin: 1.2rem 0 0.6rem 0;
  }
  .skin{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 0.5rem;
    &.selected-color {
      width: 1.75rem;
      height: 1.75rem;
      border: 0.25rem solid;
    }
    &.purple{
      background-color: #5e4ea5;
    }
    &.indigo{
      background-color:#3F51B5;
    }
    &.teal{
      background-color: #00695C;
    }
    &.pink{
      background-color: #D81B60;
    }
    &.yellow{
      background-color: #a1842c;
    }
  }
  
  .mat-radio-group{
    flex-direction: row;
    place-content: flex-start space-between;
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    .mat-radio-button {
      margin: 2px 0 2px 0;
    }
  }
  
  .mat-slide-toggle{
    padding: 0 1.4rem 0 0.4rem;
  }  

  .mat-flat-button {
    width: 100%;
    max-height: 3.6rem;
  }
}

.op-image{
  box-shadow: 0 0 2px #ccc;
  border: 2px solid;
  border-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.settings-icon{
  position: fixed;
  top: 30%;
  right: 0;
  width: 4.2rem;
  height: 4.2rem;
  opacity: 0.6;
  cursor: pointer;
  z-index: 999999;
}

.test-banner {
	padding-top: 2px;
  background-color: #FC7783;
  text-transform: uppercase;
  border-radius: 2px;
}

.fa-icon-small, .top-icon-small {
  min-width: $fa-icon-small-size;
  width: $fa-icon-small-size;
  max-width: $fa-icon-small-size;
}

.botlz-icon-sm {
  min-width: 1.6rem;
  width: 1.6rem;
  max-width: 1.6rem;
}

.copy-icon {
  position: relative;
  top: 0.5rem;
}

.copy-icon-smaller {
  position: relative;
  top: 2px;
}

.top-5px {
  position: relative;
  top: 0.5rem;
}

.animate-settings {
  -webkit-animation: animate-settings 10s linear infinite;
  -moz-animation: animate-settings 10s linear infinite;
  animation: animate-settings 10s linear infinite;
}
@keyframes animate-settings { 
  100% {transform: rotate(360deg)}
}
@-moz-keyframes animate-settings { 
  100% {-moz-transform: rotate(360deg)} 
}
@-webkit-keyframes animate-settings { 
  100% {-webkit-transform: rotate(360deg)} 
}

.mat-icon-button.top-toolbar-icon {
  margin-right: 2rem;
  & .top-toolbar-img {
    padding-right: 0.7rem;
    cursor:pointer;
  }
}

.mt-minus-5 {
  position: relative;
  margin-top: -0.5rem; 
}

.custom-card {
  padding: 0 0 0.8rem 0 !important;
}

.not-found-box {
  min-width: 50%;
}

.w-100 {
  width: 100% !important;
}

.w-96 {
  width: 96% !important;
}

.w-84 {
  width: 84% !important;
}

.h-100 {
  height: 100% !important;
}

.h-93 {
  height: 93% !important;
}

.h-40 {
  height: 40rem !important;
}

.h-46 {
  height: 46rem !important;
}

.h-10 {
  height: 10rem !important;
}

.h-4 {
  height: 4rem !important;
}

.h-35px {
  height: 3.5rem !important;
}

a {
  outline: none;
  text-decoration: none;
  text-decoration: underline;
}

.mat-tree {
  width: 100%;
}

.mat-tree-node, .mat-nested-tree-node-parent {
  min-height: 4rem;
  height: 4rem;
  padding: 0 1.2rem 0 1.2rem; 
  cursor: pointer;
}

.mat-tree-node:focus, .mat-tree-node:active, .mat-nested-tree-node:focus, .mat-nested-tree-node:active, .mat-nested-tree-node-parent:focus, .mat-nested-tree-node-parent:active,
.mat-tree-node span:focus, .mat-tree-node span:active, .mat-nested-tree-node-parent span:focus, .mat-nested-tree-node-parent span:active,
.mat-tree-node div:focus, .mat-tree-node div:active, .mat-nested-tree-node-parent div:focus, .mat-nested-tree-node-parent div:active,
.mat-tree-node .mat-icon:focus, .mat-tree-node .mat-icon:active, .mat-nested-tree-node-parent .mat-icon:focus, .mat-nested-tree-node-parent .mat-icon:active {
  outline: none;
}

.lnd-info {
  height: $sidenav-info-height;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.word-break {
  word-break: break-all !important;
}

.font-bold-500 {
  font-weight: 500 !important;
}

.font-bold-700 {
  font-weight: 700 !important;
}

.pubkey-info-top {
  flex-wrap: wrap;
  margin-top: 1px;
  min-height: $pubkey-info-height;
  cursor: pointer;
  display: flex;
  align-content: center;
}

.top-toolbar-icon.icon-pinned {
  width: 3rem; 
  height: 3rem;
  padding: 1rem 0 0 1.2rem;
  cursor:pointer;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.fa-icon-regular {
  min-width: $fa-icon-regular-size;
  width: $fa-icon-regular-size;
  max-width: $fa-icon-regular-size;
}

.icon-large {
  margin-left: -100%;
}

.icon-small {
  height: 2rem !important;
  width: 2rem !important;
}

.icon-smaller {
  height: 1rem !important;
  width: 1rem !important;
}

.mat-icon-36 {
  width: $icon-size !important;
  height: $icon-size !important;
}

.mat-select.multi-node-select {
  width: 87%;
}

.page-title-container {
  padding: 0 $gap*1.5;
  margin-bottom: $gap;
  @include for_screensize(tab-port) {
    padding: 0 $gap;
    margin: $gap 0;
  }
  @include for_screensize(phone) {
    padding: 0 $gap;
    margin: $gap 0;
  }
}

table {
  width:100%;
}

.dot {
  display: inline-flex;
  width: $dot-size;
  height: $dot-size;
  border-radius: $dot-size;
  margin: 0.4rem 1rem 0 0;
  &.tiny-dot {
    width: $tiny-dot-size;
    height: $tiny-dot-size;
    border-radius: $tiny-dot-size;
    margin: 0 0.6rem 0.1rem 0;
  }
  &.green {
    background-color: $green-color;
  }
  &.yellow {
    background-color: $yellow-color;
  }
  &.red {
    background-color: $red-color;
  }
  &.grey {
    background-color: $grey-color;
  }
}

.font-size-80 {
  font-size: 80% !important;
}

.font-size-90 {
  font-size: 90% !important;
}

.font-size-120 {
  font-size: 120% !important;
}

.font-size-300 {
  font-size: 300% !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.pre-wrap {
  white-space: pre-wrap !important;
}

.display-none {
  display: none !important;
}

.mat-vertical-stepper-header {
  padding: 1rem !important;
}

.ellipsis-child {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.blinker {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation { to { visibility: hidden; }}

@-webkit-keyframes blink-animation { to { visibility: hidden; }}

.mat-progress-bar.dashboard-progress-bar {
  height: 6px;
  min-height: 6px;
}

.alert {
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 4px;
}

.dashboard-vert-menu.mat-menu-panel {
  min-height: 4.8rem;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.dashboard-tabs-group .mat-tab-label {
  min-width: 32% !important;
}

.node-grid-tile.mat-grid-tile .mat-figure {
  align-items: start;
}

.mat-vertical-content-container {
  margin-left: 2rem !important;
}

.xs-scroll-y {
  overflow-y: scroll; 
  max-height: 600px;
}

.h-2 {
  min-height: 2rem !important;
}
.border-valid {
  border: 1px solid $green-color !important;
}

.border-invalid {
  border: 1px solid $red-color !important;
}

.icon-green {
  fill: $green-color;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.h-5 {
  height: 5rem;
}

.btn-sticky-container {
  height: 0rem;
  opacity: 0.5;
  & .mat-icon {
    animation: scrollDownAnimation 2s infinite;
  }
}

@keyframes scrollDownAnimation {
  0%   {transform: translateY(0)}
  10%  {transform: translateY(-20%)}
  20%   {transform: translateY(20%)}
  30%  {transform: translateY(-20%)}
  40%  {transform: translateY(20%)}
  50%  {transform: translateY(0)}
}

.mat-form-field-appearance-legacy.mat-form-field-disabled {
  & input, mat-select, .mat-select-trigger, .mat-select-value, .mat-select-arro-wrapper, textarea, .mat-form-field-infix {
    cursor: not-allowed;
  }
}

.ngx-charts-tooltip-content {
  &.type-tooltip {
    background: rgba(50, 50, 50, 0.9) !important;
  }
  & .tooltip-caret {
    border-top-color : rgba(50, 50, 50, 0.9) !important;
  }
}

.mat-card.dashboard-card {
  margin: $gap;
  padding: 1.2rem 2.4rem !important;
  @include for_screensize(tab-port) {
    padding: 0.5rem 1rem !important;
    margin-top: $gap*5 !important;
  }
  @include for_screensize(phone) {
    padding: 0.4rem 0.8rem !important;
    margin-top: $gap*5 !important;
  }
  &.p-0 {
    padding: 0 !important;
  }
  & .mat-card-header-text {
    width: 100%;
  }
}

.dashboard-card-content {
  text-align: left;
}

.mat-expansion-panel.flat-expansion-panel {
  box-shadow: none;
  padding: 0;
  border-radius: 4px;
  background: none;
  & .mat-expansion-panel-header {
    padding: 0 $gap*3 0 $gap*3;
    @include for_screensize(tab-port) {
      padding: 0 $gap 0 $gap;
    }
    @include for_screensize(phone) {
      padding: 0 $gap/2 0 $gap/2;
    }
  }
  & .mat-expansion-panel-body {
    padding: 0 $gap*3 $gap*2 $gap*3;
    @include for_screensize(tab-port) {
      padding: 0 $gap $gap $gap;
    }
    @include for_screensize(phone) {
      padding: 0 $gap/2 $gap/4 $gap/2;
    }
    & .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
      @include for_screensize(tab-port) {
        margin-right: $gap;
      }
      @include for_screensize(phone) {
        margin-right: $gap/2;
      }
    }
  }
}

