@import "constants";

html, body {
  width: 100%;
  height: 99%;
  font-family: $font-family !important;
  font-size: $font-size !important;
  line-height: 1.5;
  overflow-x: hidden;
}

.rtl-container{
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  .mat-menu-panel .mat-menu-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  &.horizontal {
    .horizontal-nav {
      margin-top: 1px;
    }
    .inner-sidenav-content {
      top: $gap;
    }
  }    
  &.compact {
    .sidenav{
      width: $compact-sidenav-width;
    }
    .mat-tree-node {
      height: 76px;
      padding: 0;
    }
  }
  &.mini {
    .sidenav {
      width: $mini-sidenav-width;
    }
    .mat-tree-node {
      padding: 0 8px 12px 8px;
      .mat-icon {
        font-size: $icon-size;
      }
    }
  }      
}

.mat-sidenav-container .mat-sidenav-content {
  height: 100vh;
}

.sidenav {
  width: $regular-sidenav-width;
  height: 100%;
  overflow: hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.font-9px {
  font-size: 9px !important;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.horizontal-menu{
  padding: 0;
  z-index: 999;  
  position: fixed;
  top: 0;
  height: $toolbar-height;
  overflow: visible;
}

.inner-sidenav-content {
  position: relative;
  top:10px;
  bottom:0;
  left:0;
  right:0;  
  padding: 4px;
  min-height: calc(100% - (#{$toolbar-height} + #{$gap}*4));
  max-height: 90vh;
}

.top-50 {
  top: 50px;
}

*{
  margin: 0;
  padding: 0;
}

.rtl-spinner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 999999;
  visibility: visible;
  opacity: 1;
  h4{
    margin-top: 10px;
  }
}

.mat-expansion-panel-header, .mat-menu-item, .mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
  font-size: $font-size !important;
}

.mat-raised-button {
  width: 100%;
  margin-top: 5px;
  max-height: 36px;
}

.padding-gap {
  padding: $gap !important;
}

.padding-gap-x {
  padding: 0 $gap 0 $gap !important;
}

.mat-raised-button {
  margin-top: 5px !important;
  max-height: 36px;
}

.logo {
  font-size: $font-size * 2;
  font-weight: 700;
  letter-spacing: 1px;
}

.mat-card {
  padding: 12px 24px !important;
  overflow: hidden;
  border-radius: 2px !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: $toolbar-height;
}

.mat-card-actions{
  display: block;
  margin-bottom: 16px;
  padding-left: 6px;
  padding-right: 6px;
}

.mat-card-content, .mat-card-subtitle, .mat-card-title {
  display: block;
  margin-bottom: 16px;
}

.mat-card-header-text {
  margin: 0 !important;
  line-height: 1;
}

.mat-form-field-wrapper {
  width: 100%;
  margin: 0 15px 0 0;
}

.mat-select {
  margin: 0 15px 0 0;
}

.green {
  color: #388e3c !important;
}

.red {
  color: #c62828 !important;
}

.yellow {
  color: #ffd740 !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mt-1px {
  margin-top: 1px !important;
}

.mt-1 {
  margin-top: 0.55rem !important;
}

.mb-1 {
  margin-bottom: 0.55rem !important;
}

.ml-1 {
  margin-left: 0.55rem !important;
}

.mr-1 {
  margin-right: 0.55rem !important;
}

.mx-1 {
  margin: 0 0.55rem !important;
}

.my-1 {
  margin: 0.55rem 0 !important;
}

.m-1 {
  margin: 0.55rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-minus-1 {
  margin-top: -0.5rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.ml-2 {
  margin-left: 1rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.ml-4 {
  margin-left: 2rem !important;
}

.ml-8 {
  margin-left: 4rem !important;
}

.mr-4 {
  margin-right: 2rem !important;
}

.mx-2 {
  margin: 0 1rem !important;
}

.my-2 {
  margin: 1rem 0 !important;
}

.m-2 {
  margin: 1rem !important;
}

.pt-1 {
  padding-top: 0.55rem !important;
}

.pb-1 {
  padding-bottom: 0.55rem !important;
}

.pl-1 {
  padding-left: 0.55rem !important;
}

.pr-1 {
  padding-right: 0.55rem !important;
}

.pr-4px {
  padding-right: 4px !important;
}

.p-0 {
  padding: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-1 {
  padding: 0 0.55rem !important;
}

.py-1 {
  padding: 0.55rem 0 !important;
}

.p-1 {
  padding: 0.55rem !important;
}

.pt-2 {
  padding-top: 1rem !important;
}

.pb-2 {
  padding-bottom: 1rem !important;
}

.pl-2 {
  padding-left: 1rem !important;
}

.pt-4 {
  padding-top: 2rem !important;
}

.pl-4 {
  padding-left: 2rem !important;
}

.pr-2 {
  padding-right: 1rem !important;
}

.pr-5 {
  padding-right: 2.5rem !important;
}

.px-2 {
  padding: 0 1rem !important;
}

.px-4 {
  padding: 0 2rem !important;
}

.py-2 {
  padding: 1rem 0 !important;
}

.p-2 {
  padding: 1rem !important;
}

.m-1px {
  margin: 1px !important;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-auto {
  overflow: auto;
}

.mat-footer-row, .mat-header-row, .mat-row {
  border-bottom-width: 0px;
}

.mat-cell, .mat-header-cell, .mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid; 
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.flex-ellipsis {
  padding-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-list, .mat-list .mat-list-item .mat-list-item-content, .mat-nav-list, .mat-selection-list {
  padding: 0 !important;
}

.inline-spinner {
  display: inline-flex !important;
  top: 5px !important;
}

.top-minus-5px {
  position: relative;
  top:-5px;
}

.top-minus-15px {
  position: relative;
  top:-15px;
}

.top-minus-25px {
  position: relative;
  top:-25px;
  margin-bottom: -25px !important;
}

.top-minus-30px {
  position: relative;
  top:-30px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.font-60-percent {
  font-size: 60%;
}

.inline-flex {
  display: inline-flex !important;
}

.error-border {
  border: 1px solid red;
  box-shadow: 0 3px 1px -2px rgba(255,0,0,.2), 0 2px 2px 0 rgba(255,0,0,.14), 0 1px 5px 0 rgba(255,0,0,.12) !important;
}

.settings{
  position: fixed;
  width: $settings-nav-width;
  .container{
    padding: 6px 14px;
    h4{
      border-bottom: 1px solid #ccc;
      margin: 12px 0 6px 0;
    }
    .skin{
      width:32px;
      height: 0px;
      padding: 0;
      overflow: hidden;
      cursor: pointer;  
      border: 16px solid;
			&.light-blue{
        border-top-color: #3F51B5;
        border-bottom-color: #3F51B5;
				border-left-color: #ffffff;
				border-right-color: #ffffff;
			}
			&.light-teal{
				border-left-color: #ffffff;
				border-right-color: #ffffff;
				border-top-color: #009688;
				border-bottom-color: #009688;
			}
			&.light-blue-gray{
				border-left-color: #ffffff;
				border-right-color: #ffffff;
				border-top-color: #37474F;
				border-bottom-color: #37474F;
			}
			&.dark-blue{
				border-left-color: #262626;
				border-right-color: #262626;
				border-top-color: #0277bd;
				border-bottom-color: #0277bd;
			}
			&.dark-green{
				border-left-color: #262626;
				border-right-color: #262626;
				border-top-color: #009688;
				border-bottom-color: #009688;
			}
			&.dark-pink{
				border-left-color: #262626;
				border-right-color: #262626;
				border-top-color: #D81B60;
				border-bottom-color: #D81B60;
			}
			&.gray-blue{
				border-left-color: #EEEEEE;
				border-right-color: #EEEEEE;
				border-top-color: #00BCD4;
				border-bottom-color: #00BCD4;
			}
			&.gray-lime{
				border-left-color: #EEEEEE;
				border-right-color: #EEEEEE;
				border-top-color: #DCE775;
				border-bottom-color: #DCE775;
			}
			&.gray-purple{
				border-left-color: #EEEEEE;
				border-right-color: #EEEEEE;
				border-top-color: #512DA8;
				border-bottom-color: #512DA8;
			}
			&.bluegray-amber{
				border-left-color: #CFD8DC;
				border-right-color: #CFD8DC;
        border-top-color: #FFA000;
        border-bottom-color: #FFA000;
			}
			&.bluegray-deeppurple{
				border-left-color: #CFD8DC;
				border-right-color: #CFD8DC;
				border-top-color: #5E35B1;
				border-bottom-color: #5E35B1;
			}
			&.bluegray-lightgreen{
				border-left-color: #CFD8DC;
				border-right-color: #CFD8DC;
				border-top-color: #689F38;
				border-bottom-color: #689F38;
			}
			&.self-gray{
				border-left-color: #FAFAFA;
				border-right-color: #FAFAFA;
				border-top-color: #9e9e9e;
				border-bottom-color: #9e9e9e;
			}
			&.self-green{
				border-left-color: #dbebd4;
				border-right-color: #dbebd4;
				border-top-color: #9ec78d;
				border-bottom-color: #9ec78d;
			}
			&.self-yellow{
				border-left-color: #fff2cc;
				border-right-color: #fff2cc;
				border-top-color: #ffda7c;
				border-bottom-color: #ffda7c;
			}
			&.self-blue{
				border-left-color: #cfe2f4;
				border-right-color: #cfe2f4;
				border-top-color: #83b0de;
				border-bottom-color: #83b0de;
			}
			&.self-brown{
				border-left-color: #f4dfcf;
				border-right-color: #f4dfcf;
				border-top-color: #dea983;
				border-bottom-color: #dea983;
			}
			&.self-pink{
				border-left-color: #f4d1d6;
				border-right-color: #f4d1d6;
				border-top-color: #de8692;
				border-bottom-color: #de8692;
			}
    }
  }
  
  .mat-radio-group{
    display: inline-flex;
    flex-direction: column;
    .mat-radio-button{
      margin: 2px 0;
    }
  }
  
  .mat-slide-toggle{
    padding: 0px 14px;
  }  

}

.op-image{
  box-shadow: 0 0 2px #ccc;
  border: 2px solid;
  border-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.settings-icon{
  position: fixed;
  top: 30%;
  right: 0;
  width: 42px;
  height: 42px;
  opacity: 0.6;
  cursor: pointer;
  z-index: 999999;
}

.test-banner {
	padding-top: 2px;
  background-color: #FC7783;
  text-transform: uppercase;
  border-radius: 2px;
}

.icon-large {
  font-size: 70px;
  margin-left: -100%;
}

.icon-small {
  height: 20px !important;
  width: 20px !important;
  font-size: 20px !important;
}

.icon-smaller {
  height: 10px !important;
  width: 10px !important;
  font-size: 10px !important;
}

.copy-icon {
  position: relative;
  top: 5px;
}

.copy-icon-smaller {
  position: relative;
  top: 2px;
}

.top-5px {
  position: relative;
  top: 5px;
}

.animate-settings {
  -webkit-animation: animate-settings 10s linear infinite;
  -moz-animation: animate-settings 10s linear infinite;
  animation: animate-settings 10s linear infinite;
}
@keyframes animate-settings { 
  100% {transform: rotate(360deg)}
}
@-moz-keyframes animate-settings { 
  100% {-moz-transform: rotate(360deg)} 
}
@-webkit-keyframes animate-settings { 
  100% {-webkit-transform: rotate(360deg)} 
}

.size-30 {
  font-size: 30px;
}

.size-16 {
  font-size: 16px;
}

.mt-minus-5 {
  position: relative;
  margin-top: -5px; 
}

.custom-card {
  padding: 0px 0px 8px 0px !important;
}

.not-found-box {
  min-width: 30%;
}

.w-100 {
  width: 100% !important;
}

.w-84 {
  width: 84% !important;
}

.h-100 {
  height: 100% !important;
}

a {
  outline: none;
  text-decoration: none;
}

.mat-tree {
  width: 100%;
}

.mat-tree-node {
  min-height: 38px !important;
  padding: 0 12px 0 12px; 
  cursor: pointer;
}

.mat-tree-node:focus, .mat-tree-node:active {
  outline: none;
}  

.lnd-info {
  height: $sidenav-info-height;
}

.horizontal-button {
  height: $toolbar-height;
}

.mat-icon-36 {
  width: $icon-size !important;
  height: $icon-size !important;
  font-size: $icon-size;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.word-break {
  word-break: break-all !important;
}

.qr-border {
  border: 2px solid white;
}

.pubkey-info-top {
  flex-wrap: wrap;
  margin-top: 1px;
  min-height: $pubkey-info-height;
  cursor: pointer;
  display: flex;
  align-content: center;
}

tr.mat-row:hover, .mat-tree-node:hover {
  box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(255,255,255,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
  cursor: pointer;
}

.mat-tree-node.active-link {
  box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(0,0,0,0.5), inset -0.1em -0.1em 0.1em 0 rgba(255,255,255,0.5);
  cursor: pointer;
}

.settings.mat-sidenav .mat-drawer-inner-container {
  overflow: hidden;
}