table {
  width:100%;
}

.ellipsis-parent {
  min-width: 20px;
  display: flex;
  padding: 13px 0 13px 24px;
}

.ellipsis-child {
  max-width:97%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
