.mat-column-path {
  padding-left: 10px;
}

.mat-expansion-panel-header {
  padding: 0;
}

.mat-accordion .mat-expansion-panel {
  padding: 0 10px;
}

.ml-minus-24px {
  margin-left: -24px;
}

.info-column {
	flex: 1 1 34%;
  box-sizing: border-box;
	max-width: 34%;
}

.info-value {
	flex: 1 1 64%;
	max-width: 64%;
	word-break: break-word;
}

table {
  width:100%;
}

.table-container {
  height: 68vh;
  overflow: auto;
}

@media screen and (max-width: 414px) {
  .table-container {
    max-height: 46vh;
    overflow: auto;
  }
}
