.mat-column-remote_alias {
  flex: 0 0 15%;
  width: 15%;
  & .ellipsis-parent {
    display: flex;
  }
}

.mat-column-balancedness {
  padding-left: 2rem;
  flex: 0 0 20%;
  width: 20%;
}

.mat-column-uptime, .mat-column-local_balance, .mat-column-remote_balance, .mat-column-total_satoshis_sent, .mat-column-total_satoshis_received {
  flex: 0 0 10%;
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-actions {
  min-height: 4.8rem;
}
