.mat-column-active {
  max-width: 1.6rem;
  width: 1.6rem;
  text-overflow: unset;
}

.mat-column-private {
  max-width: 1.6rem;
  width:1.6rem;
}

.mat-column-balancedness {
  padding-left: 2rem;
  min-width: 15rem;
  max-width: 30rem;
}
