@import "../../../shared/theme/styles/constants.scss";

.mat-column-status, .mat-column-group_status {
  max-width: 2.2rem;
  width: 2.2rem;
  text-overflow: unset;
}

.mat-column-group_actions {
  & .htlc-group-head, & .htlc-group-details {
    min-height: 3rem;
  }
  
  & .btn-htlc-expand {
    min-width: $table-actions-min-width;
    width: $table-actions-min-width;
    margin: 0;
  }

  & .btn-htlc-info {
    min-width: $table-actions-min-width - 1rem;
    min-width: $table-actions-min-width - 1rem;
    margin: 0;
  }
}

.mat-column-group_status, .mat-column-group_creation_date {
  .htlc-row-span:not(:first-of-type) {
    padding-left: 2rem;
  }
}

.htlc-row-span {
  min-height: 3rem;
  &.ellipsis-parent {
    display: flex;
    align-items: center;
  }
  & .dot {
    margin-top: -0.3rem;
    position: absolute;
  }
}

.mat-column-group_creation_date {
  min-width: 11rem;
}
