<div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
  <fa-icon [icon]="faTimes" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">Page Not Found</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column" class="padding-gap-large">
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="box-text">This page does not exist!</div>
        <span fxLayout="row" fxLayoutAlign="center" fxFlex="80">
          <button mat-flat-button color="primary" class="mt-2" type="button" (click)="goToHelp()">Go To Help</button>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
