<div fxLayout="column" fxFlex="100" class="overflow-x-hidden">
  <form fxLayout="column" fxLayoutAlign="start stretch" class="settings-container page-sub-title-container mt-1" #form="ngForm">
    <div *ngIf="!appConfig.enable2FA">
      <div>
        <mat-label>Secret: </mat-label>
        <mat-label style="font-weight: bold;">{{secret2fa}}</mat-label>
      </div>
      <qrcode [qrdata]="otpauth" [margin]="2" [width]="240" [errorCorrectionLevel]="'L'"></qrcode>
      <mat-form-field>
        <input autoFocus matInput placeholder="Token" type="text" id="token2fa" name="token2fa" [(ngModel)]="token2fa">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="onEnable()">Enable</button>
    </div>
    <button *ngIf="appConfig.enable2FA" mat-flat-button color="primary" (click)="onDisable()">Disable</button>
  </form>
</div>
<ng-template #emptyBlock><div fxLayout="row" fxFlex="30" fxLayoutAlign="start end"></div></ng-template>