<div fxLayout="column" class="padding-gap">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign="start stretch" class="page-sub-title-container">
    <div fxFlex="70"></div>
    <div fxFlex.gt-xs="30" fxLayoutAlign.gt-xs="space-between center" fxLayout="row" fxLayoutAlign="space-between stretch">
      <mat-form-field fxLayout="column" fxFlex="49">
        <mat-label>Filter By</mat-label>
        <mat-select tabindex="1" name="filterBy" [(ngModel)]="selFilterBy" (selectionChange)="selFilter=''; applyFilter()">
          <perfect-scrollbar><mat-option *ngFor="let column of ['all'].concat(displayedColumns.slice(0, -1))" [value]="column">{{getLabel(column)}}</mat-option></perfect-scrollbar>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxLayout="column" fxFlex="49">
        <mat-label>Filter</mat-label>
        <input matInput name="filter" [(ngModel)]="selFilter" (input)="applyFilter()" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column" fxFlex="100" class="table-container" [perfectScrollbar]>
    <mat-progress-bar *ngIf="apiCallStatus.status === apiCallStatusEnum.INITIATED" mode="indeterminate" />
    <table #table mat-table fxFlex="100" matSort [matSortActive]="tableSetting.sortBy" [matSortDirection]="tableSetting.sortOrder" [dataSource]="channels" [ngClass]="{'error-border': errorMessage !== ''}">
      <ng-container matColumnDef="announceChannel">
        <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Private"></th>
        <td *matCellDef="let channel" mat-cell>
          <span *ngIf="!channel?.announceChannel" class="mr-1" matTooltip="Private" matTooltipPosition="right"><fa-icon [icon]="faEyeSlash" /></span>
          <span *ngIf="channel?.announceChannel" class="mr-1" matTooltip="Public" matTooltipPosition="right"><fa-icon [icon]="faEye" /></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="shortChannelId">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Short Channel ID</th>
        <td *matCellDef="let channel" mat-cell>{{channel?.shortChannelId}}</td>
      </ng-container>
      <ng-container matColumnDef="channelId">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Channel ID</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.channelId}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="alias">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Alias</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.alias}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="nodeId">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Node ID</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '6rem' : colWidth}">
            <span class="ellipsis-child">{{channel?.nodeId}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="isInitiator">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Initiator</th>
        <td *matCellDef="let channel" mat-cell>{{channel?.isInitiator ? 'Yes' : 'No'}}</td>
      </ng-container>
      <ng-container matColumnDef="feeBaseMsat">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Base Fee (mSats)</th>
        <td *matCellDef="let channel" mat-cell><span fxLayoutAlign="end center">
            {{channel?.feeBaseMsat | number:'1.0-0'}} </span></td>
      </ng-container>
      <ng-container matColumnDef="feeProportionalMillionths">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Fee Rate (mili mSats)</th>
        <td *matCellDef="let channel" mat-cell><span fxLayoutAlign="end center">
            {{channel?.feeProportionalMillionths | number:'1.0-0'}} </span></td>
      </ng-container>
      <ng-container matColumnDef="toLocal">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Local Balance (Sats)</th>
        <td *matCellDef="let channel" mat-cell><span fxLayoutAlign="end center">
            {{channel?.toLocal | number:'1.0-0'}} </span></td>
      </ng-container>
      <ng-container matColumnDef="toRemote">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Remote Balance (Sats)</th>
        <td *matCellDef="let channel" mat-cell><span fxLayoutAlign="end center">
            {{channel?.toRemote | number:'1.0-0'}} </span></td>
      </ng-container>
      <ng-container matColumnDef="balancedness">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Balance Score</th>
        <td *matCellDef="let channel" mat-cell>
          <div fxLayout="row">
            <mat-hint fxFlex="100" fxLayoutAlign="center center" class="font-size-80">{{channel?.balancedness || 0 | number}}</mat-hint>
          </div>
          <mat-progress-bar mode="determinate" value="{{channel?.toLocal && channel?.toLocal > 0 ? ((+channel?.toLocal/((+channel?.toLocal)+(+channel?.toRemote)))*100) : 0}}" />
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>
          <div class="bordered-box table-actions-select" fxLayoutAlign="center center">
            <mat-select placeholder="Actions" tabindex="1" class="mr-0">
              <mat-select-trigger />
              <mat-option (click)="onChannelUpdate('all')">Update Fee Policy</mat-option>
              <mat-option (click)="onDownloadCSV()">Download CSV</mat-option>
            </mat-select>
          </div>
       </th>        
        <td *matCellDef="let channel" mat-cell fxLayoutAlign="end center">
          <div class="bordered-box table-actions-select" fxLayoutAlign="center center">
            <mat-select placeholder="Actions" tabindex="2" class="mr-0">
              <mat-select-trigger />
              <mat-option (click)="onChannelClick(channel, $event)">View Info</mat-option>
              <mat-option (click)="onChannelUpdate(channel)">Update Fee Policy</mat-option>
              <mat-option (click)="onCircularRebalance(channel)">Circular Rebalance</mat-option>
              <mat-option (click)="onChannelClose(channel, false)">Close Channel</mat-option>
              <mat-option (click)="onChannelClose(channel, true)">Force Close</mat-option>
            </mat-select>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="no_peer">
        <td *matFooterCellDef  mat-footer-cell colspan="5">
          <p *ngIf="numPeers<1 && (!channels?.data || channels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.COMPLETED">No peers connected. Add a peer in order to open a channel.</p>
          <p *ngIf="numPeers>0 && (!channels?.data || channels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.COMPLETED">No channel available.</p>
          <p *ngIf="(!channels?.data || channels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.INITIATED">Getting channels...</p>
          <p *ngIf="(!channels?.data || channels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.ERROR">{{errorMessage}}</p>
        </td>
      </ng-container>
      <tr *matFooterRowDef="['no_peer']" mat-footer-row [ngClass]="{'display-none': numPeers>0 && channels?.data && channels?.data?.length>0}"></tr>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <mat-paginator class="mb-1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="screenSize === screenSizeEnum.XS ? false : true" />
</div>
