<div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
  <fa-icon [icon]="faInfinity" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">Loop</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-tab-group fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" (selectedIndexChange)="onSelectedIndexChange($event)">
        <mat-tab label="Loop Out">
          <button mat-flat-button color="primary" (click)="onLoop(LoopTypeEnum.LOOP_OUT)" class="mt-1" type="button" tabindex="1">Start Loop Out</button>
        </mat-tab>
        <mat-tab label="Loop In">
          <button mat-flat-button color="primary" (click)="onLoop(LoopTypeEnum.LOOP_IN)" class="mt-1" type="button" tabindex="2">Start Loop In</button>
        </mat-tab>
      </mat-tab-group>
      <rtl-boltz-swaps fxLayout="row" fxFlex="100" [selectedSwapType]="selectedSwapType"></rtl-boltz-swaps>
    </mat-card-content>
  </mat-card>
</div>
