<div fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayout.gt-sm="row wrap">
    <div fxFlex="100" class="alert alert-warn">
      <fa-icon class="mr-1 alert-icon" [icon]="faExclamationTriangle"></fa-icon>
      <span>Save your backup files in a redundant location.</span>
    </div>
    <div fxFlex="100" class="alert alert-info">
      <fa-icon class="mr-1 alert-icon" [icon]="faInfoCircle"></fa-icon>
      <span><strong>Backup Folder Location: </strong>{{selNode.channelBackupPath}}.</span>
    </div>
    <div fxLayout="row" class="mt-2">
      <button mat-stroked-button class="mr-1" color="primary" tabindex="1" (click)="onVerifyChannels({})">Verify All</button>
      <button mat-flat-button class="mr-1" color="primary" tabindex="2" (click)="onBackupChannels({})">Backup All</button>
      <button mat-flat-button color="primary" tabindex="3" (click)="onDownloadBackup({})">Download Backup</button>
    </div>
  </div>
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign="start stretch" class="page-sub-title-container mt-2">
    <div fxFlex="70">
      <fa-icon class="page-title-img mr-1" [icon]="faArchive"></fa-icon>
      <span class="page-title">Backups</span>
    </div>
    <div fxFlex.gt-xs="30" fxLayoutAlign.gt-xs="space-between center" fxLayout="row" fxLayoutAlign="space-between stretch">
      <div fxFlex="49"></div>
      <mat-form-field fxLayout="column" fxFlex="49">
        <mat-label>Filter</mat-label>
        <input matInput name="filter" [(ngModel)]="selFilter" (input)="applyFilter()" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column" fxFlex="100" class="table-container" [perfectScrollbar]>
    <mat-progress-bar *ngIf="apiCallStatus.status === apiCallStatusEnum.INITIATED" mode="indeterminate"></mat-progress-bar>
    <table #table mat-table fxFlex="100" matSort [dataSource]="channels" [ngClass]="{'error-border': errorMessage !== ''}">
      <ng-container matColumnDef="channel_point">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Channel Point</th>
        <td *matCellDef="let channel" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'max-width': (screenSize === screenSizeEnum.XS) ? '25rem' : '60rem'}">
            <span class="ellipsis-child">{{channel?.channel_point}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>
          <div class="bordered-box table-actions-select" fxLayoutAlign="center center">Actions</div>
       </th>
        <td *matCellDef="let channel" mat-cell fxLayoutAlign="end center">
          <div class="bordered-box table-actions-select" fxLayoutAlign="center center">
            <mat-select placeholder="Actions" tabindex="1" class="mr-0">
              <mat-select-trigger></mat-select-trigger>
              <mat-option (click)="onChannelClick(channel, $event)">View Info</mat-option>
              <mat-option (click)="onBackupChannels(channel)">Backup</mat-option>
              <mat-option (click)="onDownloadBackup(channel)">Download Backup</mat-option>
              <mat-option (click)="onVerifyChannels(channel)">Verify</mat-option>
            </mat-select>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="no_channel">
        <td *matFooterCellDef  mat-footer-cell colspan="4">
          <p *ngIf="(!channels?.data || channels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.COMPLETED">No channel available.</p>
          <p *ngIf="(!channels?.data || channels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.INITIATED">Getting channels...</p>
          <p *ngIf="(!channels?.data || channels?.data?.length<1) && apiCallStatus.status === apiCallStatusEnum.ERROR">{{errorMessage}}</p>
        </td>
      </ng-container>
      <tr *matFooterRowDef="['no_channel']" mat-footer-row [ngClass]="{'display-none': channels?.data && channels?.data?.length>0}"></tr>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <mat-paginator class="mb-1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="screenSize === screenSizeEnum.XS ? false : true"></mat-paginator>
</div>
