.mat-column-value {
  padding-right: 1rem;
}

.mat-column-settled {
  padding-left: 1rem;
}

.chkbox-private:focus {
  outline: none !important;
}

table {
  width:100%;
  border-collapse: collapse;
}
