<div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch" class="padding-gap">
  <form fxLayout="column" fxLayoutAlign="space-between stretch" fxLayout.gt-sm="row wrap" #sendPaymentForm="ngForm">
    <mat-form-field fxFlex="100">
      <textarea matInput placeholder="Payment Request" name="paymentRequest" [(ngModel)]="paymentRequest" tabindex="1" (keyup)="onPaymentRequestEntry()" (paste)="onPasteInvoice($event)" required (matTextareaAutosize)="true" #paymentReq="ngModel"></textarea>
      <mat-hint *ngIf="paymentRequest && paymentDecodedHint !== ''">{{paymentDecodedHint}}</mat-hint>
      <mat-error *ngIf="!paymentRequest">Payment request is required.</mat-error>
    </mat-form-field>
    <div fxLayout="row" *ngIf="showDetails" class="mt-2">
      <button class="mr-1" mat-stroked-button color="primary" tabindex="2" type="reset" (click)="resetData()">Clear Field</button>
      <button mat-flat-button color="primary" (click)="onSendPayment();" tabindex="3">Send Payment</button>
    </div>
    <div fxLayout="row" *ngIf="!showDetails" class="mt-1">
      <button class="mr-1" mat-stroked-button color="primary" tabindex="2" type="reset" (click)="resetData()">Clear Field</button>
      <button mat-flat-button color="primary" (click)="onSendPayment();" tabindex="3">Send Payment</button>
    </div>
  </form>
  <div fxLayout="column" fxLayoutAlign="start stretch" [ngClass]="{'display-none': !showDetails}">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign="start stretch" class="padding-gap-x page-sub-title-container mt-2">
      <div fxFlex="70">
        <fa-icon [icon]="faHistory" class="page-title-img mr-1"></fa-icon>
        <span class="page-title">Payments History</span>
      </div>
      <mat-form-field fxFlex="30">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div perfectScrollbar fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="table-container w-100">
      <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
      <table mat-table #table fxFlex="100" [dataSource]="payments" matSort [ngClass]="{'overflow-auto error-border': flgLoading[0]==='error','overflow-auto': true}">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let payment">{{payment?.id}}</td>
        </ng-container>
        <ng-container matColumnDef="bolt11">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bolt11</th>
          <td mat-cell *matCellDef="let payment">{{payment?.bolt11 | slice:0:25}}...</td>
        </ng-container>
        <ng-container matColumnDef="created_at_str">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
          <td mat-cell *matCellDef="let payment">
            <span *ngIf="payment.status === 'complete'" class="dot green" matTooltip="Completed" matTooltipPosition="right" [ngClass]="{'mr-0': screenSize === screenSizeEnum.XS}"></span>
            <span *ngIf="payment.status !== 'complete'" class="dot yellow" matTooltip="Incomplete" matTooltipPosition="right" [ngClass]="{'mr-0': screenSize === screenSizeEnum.XS}"></span>
            {{payment?.created_at_str}}
          </td>
        </ng-container>
        <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
          <td mat-cell *matCellDef="let payment">{{payment?.destination | slice:0:25}}...</td>
        </ng-container>
        <ng-container matColumnDef="payment_hash">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Hash</th>
          <td mat-cell *matCellDef="let payment">
            <div>{{payment?.payment_hash}}</div>
          </td>
        </ng-container>
        <ng-container matColumnDef="msatoshi_sent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Sats Sent</th>
          <td mat-cell *matCellDef="let payment"><span
              fxLayoutAlign="end center">{{payment?.msatoshi_sent/1000 | number}}</span></td>
        </ng-container>
        <ng-container matColumnDef="msatoshi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Sats Received</th>
          <td mat-cell *matCellDef="let payment"><span
              fxLayoutAlign="end center">{{payment?.msatoshi/1000 | number}}</span></td>
        </ng-container>
        <ng-container matColumnDef="payment_preimage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Pre Image</th>
          <td mat-cell *matCellDef="let payment">
            <div>{{payment?.payment_preimage | slice:0:10}}<span *ngIf="payment?.payment_preimage">...</span></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="amount_msat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount mSat</th>
          <td mat-cell *matCellDef="let payment">{{payment?.amount_msat}}</td>
        </ng-container>
        <ng-container matColumnDef="amount_sent_msat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Sent mSat</th>
          <td mat-cell *matCellDef="let payment">{{payment?.amount_sent_msat}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="px-3">
            <div class="bordered-box table-actions-select">
              <mat-select placeholder="Actions" tabindex="1" class="mr-0">
                <mat-select-trigger></mat-select-trigger>
                <mat-option (click)="onDownloadCSV()">Download CSV</mat-option>
              </mat-select>
            </div>
          </th>
          <td mat-cell *matCellDef="let payment" class="px-3" fxLayoutAlign="end center">
            <button mat-stroked-button color="primary" type="button" tabindex="4" (click)="onPaymentClick(payment,$event)">View Info</button>          
          </td>
        </ng-container>
        <ng-container matColumnDef="no_payment">
          <td mat-footer-cell *matFooterCellDef colspan="4">
            <p *ngIf="!payments.data || payments.data.length<1">No payments available.</p>
          </td>
        </ng-container>
        <tr mat-footer-row *matFooterRowDef="['no_payment']" [ngClass]="{'display-none': payments.data && payments.data.length>0}"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: flgSticky;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [@newlyAddedRowAnimation]="(row.payment_hash === newlyAddedPayment && flgAnimate) ? 'added' : 'notAdded'"></tr>
      </table>
    </div>
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="screenSize === screenSizeEnum.XS ? false : true" class="mb-4"></mat-paginator>
  </div>
</div>
