.mat-column-bolt11 {
  flex: 1 1 20%;
  white-space: nowrap;
  overflow: hidden;  
  text-overflow: ellipsis;
}

.mat-column-actions {
  min-height: 4.8rem;
}

.mat-column-groupAction {
  min-height: 4.8rem;

  & .btn-mpp-expand {
    width: 9rem; 
  }

  & .btn-mpp-info {
    margin-top: 0.5rem; 
    width: 9rem; 
  }
}

.mpp-row-span {
  min-height: 4.2rem;
}

.mat-column-groupTotal {
  min-width: 17rem;
}
