<!-- <div fxLayout="row" fxLayoutAlign="start center" class="page-title-container">
  <fa-icon [icon]="faLayerGroup" class="page-title-img mr-1"></fa-icon>
  <span class="page-title">Services</span>
</div>
<div fxLayout="column" class="padding-gap-x">
  <mat-card>
    <mat-card-content fxLayout="column">
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch" class="mat-tab-body-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->
<router-outlet></router-outlet>
