@import './color-swatches/day-foreground.scss';
@import './color-swatches/day-background.scss';
@import '~@angular/material/theming';
@include mat-core();

@function create-custom-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $custom-day-theme-foreground,
    background: $custom-day-theme-background
  );
}

$blue-primary: mat-palette($mat-indigo, 800, 300, 900);
$blue-accent: mat-palette($mat-pink, A200, A100, A400);
$blue-warn: mat-palette($mat-red, 500);

$blue-day-theme: create-custom-theme($blue-primary, $blue-accent, $blue-warn);
$blue-night-theme: mat-dark-theme($blue-primary, $blue-accent, $blue-warn);
