@import './color-swatches/day-foreground.scss';
@import './color-swatches/day-background.scss';
@import './color-swatches/red-warn.swatch.scss';
@import '~@angular/material/theming';
@include mat-core();

$blue-primary: mat-palette($mat-blue, 700, 200, A200);
$blue-accent: mat-palette($mat-pink, A200, A100, A400);
$blue-warn: mat-palette($red-warn, 500);

$blue-day-theme: mat-light-theme($blue-primary, $blue-accent, $blue-warn);
$blue-night-theme: mat-dark-theme($blue-primary, $blue-accent, $blue-warn);
