@import './color-swatches/purple-primary.swatch.scss';
@import './color-swatches/white-accent.swatch.scss';
@import './color-swatches/blue-primary.swatch.scss';
@import '~@angular/material/theming';
@include mat-core();

$green-dark-primary: mat-palette($mat-teal, 800, 300, 900);
$green-dark-accent: mat-palette($mat-amber, A100, 900, A700);
$green-dark-warn: mat-palette($mat-red, A200);
$green-dark-theme: mat-dark-theme($green-dark-primary, $green-dark-accent, $green-dark-warn);

$alternate-green-dark-primary: mat-palette($blue-primary, 500, 300, 900);
$alternate-green-dark-accent:  mat-palette($white-accent, 800, 600, 900);
$alternate-green-dark-warn:    mat-palette($mat-red);
$alternate-green-dark-theme:   mat-dark-theme($alternate-green-dark-primary, $alternate-green-dark-accent, $alternate-green-dark-warn);

