$green-dark-primary: mat-palette($mat-green, 700, 600, 900);
$green-dark-accent: mat-palette($mat-amber, A100, 900, A700);
$green-dark-warn: mat-palette($mat-red, A200);

$green-dark-theme: mat-dark-theme($green-dark-primary, $green-dark-accent, $green-dark-warn);