@import './color-swatches/purple-primary.swatch.scss';
@import './color-swatches/white-accent.swatch.scss';
@import './color-swatches/blue-primary.swatch.scss';
@import '~@angular/material/theming';
@include mat-core();

$pink-dark-primary: mat-palette($mat-pink, 700, 400, 900);
$pink-dark-accent: mat-palette($mat-blue-grey, 700, 500, 900);
$pink-dark-warn: mat-palette($mat-red, A200);
$pink-dark-theme: mat-dark-theme($pink-dark-primary, $pink-dark-accent, $pink-dark-warn);

$alternate-pink-dark-primary: mat-palette($blue-primary, 500, 300, 900);
$alternate-pink-dark-accent:  mat-palette($white-accent, 800, 600, 900);
$alternate-pink-dark-warn:    mat-palette($mat-deep-orange);
$alternate-pink-dark-theme:   mat-dark-theme($alternate-pink-dark-primary, $alternate-pink-dark-accent, $alternate-pink-dark-warn);
