@import './color-swatches/purple-primary.swatch.scss';
@import './color-swatches/white-accent.swatch.scss';
@import './color-swatches/blue-primary.swatch.scss';
@import '~@angular/material/theming';
@include mat-core();

$purple-white-dark-primary: mat-palette($purple-primary, 500, 300, 900);
$purple-white-dark-accent:  mat-palette($white-accent, 800, 600, 900);
$purple-white-dark-warn:    mat-palette($mat-deep-orange);
$purple-white-dark-theme:   mat-dark-theme($purple-white-dark-primary, $purple-white-dark-accent, $purple-white-dark-warn);

$alternate-purple-white-dark-primary: mat-palette($blue-primary, 500, 300, 900);
$alternate-purple-white-dark-accent:  mat-palette($white-accent, 800, 600, 900);
$alternate-purple-white-dark-warn:    mat-palette($mat-deep-orange);
$alternate-purple-white-dark-theme:   mat-dark-theme($alternate-purple-white-dark-primary, $alternate-purple-white-dark-accent, $alternate-purple-white-dark-warn);
