$custom-dark-theme-background: (
  status-bar: map_get($mat-gray, 800),
  app-bar:    map_get($mat-gray, 700),
  background: map_get($mat-gray, 100),
  hover:      rgba(map_get($mat-grey, 900), 0.04), 
  card:       map_get($mat-gray, 200),
  dialog:     map_get($mat-gray, 200),
  disabled-button: rgba(map_get($mat-grey, 900), 0.12),
  raised-button: map-get($mat-gray, 600),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 800),
  selected-disabled-button: map_get($mat-grey, 600),
  disabled-button-toggle: map_get($mat-grey, 900),
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: map_get($mat-grey, 900)
);

$custom-dark-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

@function create-custom-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $custom-dark-theme-foreground,
    background: $custom-dark-theme-background
  );
}

$purple-gray-primary: mat-palette($mat-purple, 700, 100, 900);
$purple-gray-accent: mat-palette($mat-amber);
$purple-gray-warn: mat-palette($mat-red, A700);

$purple-gray-theme: create-custom-theme($purple-gray-primary, $purple-gray-accent, $purple-gray-warn);
