@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './color-swatches/red-warn.swatch.scss';
@import './color-swatches/white.swatch.scss';
@import '../styles/typography.scss';

$indigo-primary: mat.define-palette(mat.$indigo-palette, 500, 200, A200);
$indigo-accent:  mat.define-palette(mat.$gray-palette, 800, 600, 900);
$indigo-accent-night:  mat.define-palette($mat-white, 300, 600, 900);
$indigo-warn: mat.define-palette($red-warn, 500);
$indigo-warn-night: mat.define-palette($red-warn, A700);

$indigo-night-theme: mat.define-dark-theme((
    color: (
        primary: $indigo-primary,
        accent: $indigo-accent-night,
        warn: $indigo-warn-night
    ),
    typography: $medium-typography
));

$indigo-day-theme: mat.define-light-theme((
    color: (
        primary: $indigo-primary,
        accent: $indigo-accent,
        warn: $indigo-warn
    ),
    typography: $medium-typography
));
