@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './color-swatches/red-warn.swatch.scss';
@import './color-swatches/white.swatch.scss';

$pink-primary: mat.define-palette(mat.$pink-palette, 500, 300, A200);
$pink-accent:  mat.define-palette(mat.$gray-palette, 800, 600, 900);
$pink-accent-night:  mat.define-palette($mat-white, 300, 600, 900);
$pink-warn: mat.define-palette($red-warn, 500);
$pink-warn-night: mat.define-palette($red-warn, A700);

$pink-night-theme: mat.define-dark-theme((
    color: (
        primary: $pink-primary,
        accent: $pink-accent-night,
        warn: $pink-warn-night
    )
));

$pink-day-theme: mat.define-light-theme((
    color: (
        primary: $pink-primary,
        accent: $pink-accent,
        warn: $pink-warn
    )
));
