@use '@angular/material' as mat;
@use './color-swatches/purple-primary.swatch.scss' as *;
@use './color-swatches/red-warn.swatch' as *;
@use './color-swatches/white.swatch.scss' as *;
@use './color-swatches/gray.swatch.scss' as *;

$purple-primary: mat.m2-define-palette($purple-primary-palette, 500, 300, A200);
$day-accent: mat.m2-define-palette($gray-palette, 800, 600, 900);
$night-accent: mat.m2-define-palette($white-palette, 300, 600, 900);
$red-warn: mat.m2-define-palette($red-warn-palette, 500, 300, 200);

$purple-night-theme: mat.m2-define-dark-theme((
  color: (
    primary: $purple-primary,
    accent: $night-accent,
    warn: $red-warn,
  )
));

$purple-day-theme: mat.m2-define-light-theme((
  color: (
    primary: $purple-primary,
    accent: $day-accent,
    warn: $red-warn,
  )
));
