@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './color-swatches/purple-primary.swatch.scss';
@import './color-swatches/red-warn.swatch.scss';
@import './color-swatches/white.swatch.scss';
@import '../styles/typography.scss';

$purple-primary: mat.define-palette($purple-primary, 500, 300, A200);
$purple-accent: mat.define-palette(mat.$gray-palette, 800, 600, 900);
$purple-accent-night: mat.define-palette($mat-white, 300, 600, 900);
$purple-warn: mat.define-palette($red-warn, 500);
$purple-warn-night: mat.define-palette($red-warn, A700);

$purple-night-theme: mat.define-dark-theme((
    color: (
        primary: $purple-primary,
        accent: $purple-accent-night,
        warn: $purple-warn-night
    ),
    // typography: $medium-typography
));

$purple-day-theme: mat.define-light-theme((
    color: (
        primary: $purple-primary,
        accent: $purple-accent,
        warn: $purple-warn
    ),
    // typography: $medium-typography
));
