@import './color-swatches/purple-primary.swatch.scss';
@import '~@angular/material/theming';
@include mat-core();

$purple-primary: mat-palette($purple-primary, 500, 200, 800);
$purple-accent:  mat-palette($mat-gray, 800, 600, 900);
$purple-warn:    mat-palette($mat-red);

$purple-day-theme: mat-light-theme($purple-primary, $purple-accent, $purple-warn);
$purple-night-theme: mat-dark-theme($purple-primary, $purple-accent, $purple-warn);
