$custom-green: (
  50 : #f6faf5,
  100 : #e9f3e5,
  200 : #dbebd4,
  300 : #cce3c2,
  400 : #c1ddb5,
  500 : #b6d7a8,
  600 : #afd3a0,
  700 : #a6cd97,
  800 : #9ec78d,
  900 : #8ebe7d,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e7ffde,
  A700 : #d4ffc4,
    contrast: (
        50 : #ECEFF1,
        100 : #CFD8DC,
        200 : #37474F,
        300 : #37474F,
        400 : #37474F,
        500 : #607D8B,
        600 : #546E7A,
        700 : #455A64,
        800 : #37474F,
        900 : #263238,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-light-theme-background: (
  status-bar: map_get($mat-blue-gray, 300),
  app-bar:    map_get($mat-blue-gray, 300),
  background: map_get($custom-green, 50),
  hover:      rgba(black, 0.04),
  card:       map_get($custom-green, 100),
  dialog:     map_get($custom-green, 100),
  disabled-button: rgba(black, 0.12),
  raised-button: map_get($mat-blue-gray, 100),
  focused-button: $dark-focused,
  selected-button: map_get($mat-blue-gray, 300),
  selected-disabled-button: map_get($mat-blue-gray, 400),
  disabled-button-toggle: map_get($mat-blue-gray, 200),
  unselected-chip: map_get($mat-blue-gray, 300),
  disabled-list-option: map_get($mat-blue-gray, 200),
);

$custom-light-theme-foreground: (
  base:              map_get($mat-blue-gray, 900),
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(map_get($mat-blue-gray, 900), 0.26),
  disabled-text:     $dark-disabled-text,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(map_get($mat-blue-gray, 900), 0.54),
  icons:             rgba(map_get($mat-blue-gray, 900), 0.54),
  text:              rgba(map_get($mat-blue-gray, 900), 0.87),
  slider-min:        rgba(map_get($mat-blue-gray, 900), 0.87),
  slider-off:        rgba(map_get($mat-blue-gray, 900), 0.26),
  slider-off-active: rgba(map_get($mat-blue-gray, 900), 0.38),
);

@function create-custom-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $custom-light-theme-foreground,
    background: $custom-light-theme-background
  );
}

$green-primary: mat-palette($custom-green, 200, 50, 800);
$green-accent: mat-palette($mat-brown, 600, 300, 900);
$green-warn: mat-palette($mat-red, 500);

$green-theme: create-custom-theme($green-primary, $green-accent, $green-warn);