@import './color-swatches/light-dull-theme.scss';
@import './color-swatches/dark-bright-theme.scss';
@import './color-swatches/red-warn.swatch.scss';
@import './color-swatches/white.swatch.scss';
@import '~@angular/material/theming';

$teal-primary: mat-palette($mat-teal, 800, 300, A200);
$teal-accent:  mat-palette($mat-gray, 800, 600, 900);
$teal-accent-night:  mat-palette($mat-white, 300, 600, 900);
$teal-warn: mat-palette($red-warn, 500);

$teal-night-theme: create-dark-bright-theme($teal-primary, $teal-accent-night, $teal-warn);

$teal-day-theme: mat-light-theme($teal-primary, $teal-accent, $teal-warn);
