@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './color-swatches/red-warn.swatch.scss';
@import './color-swatches/yellow-primary.swatch.scss';
@import './color-swatches/white.swatch.scss';
@import '../styles/typography.scss';

$yellow-primary: mat.define-palette($yellow-primary, 500, 300, A200);
$yellow-accent:  mat.define-palette(mat.$gray-palette, 800, 600, 900);
$yellow-accent-night:  mat.define-palette($mat-white, 300, 600, 900);
$yellow-warn: mat.define-palette($red-warn, 500);
$yellow-warn-night: mat.define-palette($red-warn, A700);

$yellow-night-theme: mat.define-dark-theme((
    color: (
        primary: $yellow-primary,
        accent: $yellow-accent-night,
        warn: $yellow-warn-night
    ),
    // typography: $medium-typography
));

$yellow-day-theme: mat.define-light-theme((
    color: (
        primary: $yellow-primary,
        accent: $yellow-accent,
        warn: $yellow-warn
    ),
    // typography: $medium-typography
))
