.network-info-list .mat-list-item {
  height: 44px;
}

.mat-column-bytes_sent, .mat-column-bytes_recv, .mat-column-sat_sent, .mat-column-sat_recv, .mat-column-inbound, .mat-column-ping_time {
  flex: 0 0 8%;
  min-width: 80px;
}

.card-chnl-balances {
  min-height: 354px;
}

.channel-status-list {
  max-height: 46px !important;
}