<div fxLayout="column" fxFlex="100" class="padding-gap">
  <form #queryRoutesForm="ngForm" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayout.gt-sm="row wrap" (ngSubmit)="queryRoutesForm.form.valid && onQueryRoutes()">
    <div fxFlex="100" class="alert alert-warn">
      <fa-icon class="mr-1 alert-icon" [icon]="faExclamationTriangle"></fa-icon>
      <span>The actual routing fee on a payment can be different from the fee shown on query routes.</span>
    </div>
    <mat-form-field fxFlex="69" fxLayoutAlign="start end">
      <input #destPubkey="ngModel" matInput placeholder="Destination Pubkey" name="destinationPubkey" tabindex="1" required [(ngModel)]="destinationPubkey">
      <mat-error *ngIf="!destinationPubkey">Destination pubkey is required.</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="29" fxLayoutAlign="start end">
      <input matInput placeholder="Amount (Sats)" name="amount" tabindex="2" type="number" required [step]="1000" [min]="0" [(ngModel)]="amount">
      <mat-error *ngIf="!amount">Amount is required.</mat-error>
    </mat-form-field>
    <div fxLayout="row" class="mt-1">
      <button class="mr-1" mat-stroked-button color="primary" tabindex="3" type="reset" (click)="resetData()">Clear</button>
      <button mat-flat-button color="primary" type="submit" tabindex="4">Query Route</button>
    </div>
  </form>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayout.gt-sm="row wrap" class="page-sub-title-container mt-3 mb-1">
    <div fxFlex="70" fxLayoutAlign="start center">
      <fa-icon class="page-title-img mr-1" [icon]="faRoute"></fa-icon>
      <span class="page-title">Transaction Route</span>
    </div>
  </div>
  <div class="table-container mb-6" [perfectScrollbar]>
    <mat-progress-bar *ngIf="flgLoading[0]===true" mode="indeterminate"></mat-progress-bar>
    <table #table mat-table matSort [dataSource]="qrHops" [ngClass]="{'overflow-auto error-border': flgLoading[0]==='error','overflow-auto': true}">
      <ng-container matColumnDef="hop_sequence">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Hop</th>
        <td *matCellDef="let hop" mat-cell>{{hop?.hop_sequence}}</td>
      </ng-container>
      <ng-container matColumnDef="pubkey_alias">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Peer</th>
        <td *matCellDef="let hop" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '10rem' : colWidth}">
            <span class="ellipsis-child">{{hop?.pubkey_alias}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="pub_key">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Peer Pubkey</th>
        <td *matCellDef="let hop" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '10rem' : colWidth}">
            <span class="ellipsis-child">{{hop?.pub_key}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="chan_id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Channel ID</th>
        <td *matCellDef="let hop" mat-cell>
          <div class="ellipsis-parent" [ngStyle]="{'width': (screenSize === screenSizeEnum.XS) ? '10rem' : colWidth}">
            <span class="ellipsis-child">{{hop?.chan_id}}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="tlv_payload">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>TLV Payload</th>
        <td *matCellDef="let hop" mat-cell>{{hop?.tlv_payload ? 'Yes' : 'No'}}</td>
      </ng-container>
      <ng-container matColumnDef="expiry">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Expiry</th>
        <td *matCellDef="let hop" mat-cell><span fxLayoutAlign="end center">{{hop?.expiry | number}}</span></td>
      </ng-container>
      <ng-container matColumnDef="chan_capacity">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Capacity (Sats)</th>
        <td *matCellDef="let hop" mat-cell><span fxLayoutAlign="end center">{{hop?.chan_capacity | number}}</span></td>
      </ng-container>
      <ng-container matColumnDef="amt_to_forward_msat">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Amount To Fwd (Sats)</th>
        <td *matCellDef="let hop" mat-cell><span fxLayoutAlign="end center">{{hop?.amt_to_forward | number}}
          </span></td>
      </ng-container>
      <ng-container matColumnDef="fee_msat">
        <th *matHeaderCellDef mat-header-cell mat-sort-header arrowPosition="before">Fee (mSats)</th>
        <td *matCellDef="let hop" mat-cell><span fxLayoutAlign="end center">{{hop?.fee_msat | number}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>
          <div class="bordered-box table-actions-select" fxLayoutAlign="center center">Actions</div>          
       </th>
        <td *matCellDef="let hop" mat-cell fxLayoutAlign="end center">
          <button mat-stroked-button color="primary" type="button" tabindex="4" class="table-actions-button" (click)="onHopClick(hop, $event)">View Info</button>          
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
