<ng-container *ngTemplateOutlet="showPanel ? expansionPanelBlock : quoteDetailsBlock"></ng-container>
<ng-template #expansionPanelBlock>
  <mat-expansion-panel class="flat-expansion-panel mb-1" fxFlex="100" [expanded]="panelExpanded" [ngClass]="{'h-5':!flgShowPanel}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span fxLayoutAlign="start center" fxFlex="100">Quote for {{termCaption}} amount ({{quote.amount | number}} Sats)</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngTemplateOutlet="quoteDetailsBlock"></ng-container>
  </mat-expansion-panel>
</ng-template>
<ng-template #quoteDetailsBlock>
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch">
    <div fxLayout="row">
      <div fxFlex="25" matTooltip="The fee that the swap server is charging for the swap">
        <h4 fxLayoutAlign="start" class="font-bold-500">Swap Fee (Sats)</h4>
        <span class="foreground-secondary-text">{{quote?.swap_fee | number}}</span>
      </div>
      <div fxFlex="25" matTooltip="An estimate of the on-chain fee that needs to be paid to sweep the HTLC">
        <h4 fxLayoutAlign="start" class="font-bold-500">Miner Fee (Sats)</h4>
        <span class="foreground-secondary-text">{{quote?.miner_fee | number}}</span>
      </div>
      <div fxFlex="30" matTooltip="The part of the swap fee that is requested as a prepayment">
        <h4 fxLayoutAlign="start" class="font-bold-500">Prepay Amount (Sats)</h4>
        <span class="foreground-secondary-text">{{quote?.prepay_amt | number}}</span>
      </div>
      <div fxFlex="20" matTooltip="On-chain cltv expiry delta">
        <h4 fxLayoutAlign="start" class="font-bold-500">CLTV Delta</h4>
        <span class="foreground-secondary-text">{{quote?.cltv_delta | number}}</span>
      </div>
    </div>
    <mat-divider class="w-100 my-1"></mat-divider>        
    <div fxLayout="row">
      <div fxFlex="40" matTooltip="Maximum off-chain fee that may be paid for routing the payment amount to the server">
        <h4 fxLayoutAlign="start" class="font-bold-500">Max Off-chain Swap Routing Fee (Sats)</h4>
        <span class="foreground-secondary-text">{{(quote?.amount * 0.02) | number}}</span>
      </div>
      <div fxFlex="40" matTooltip="Maximum off-chain fee that may be paid for routing the pre-payment amount to the server">
        <h4 fxLayoutAlign="start" class="font-bold-500">Max Off-chain Prepay Routing Fee (Sats)</h4>
        <span class="foreground-secondary-text">36</span>
      </div>
      <div fxFlex="20" matTooltip="Waiting for Suheb to provide On-chain Fee Tooltip">
        <h4 fxLayoutAlign="start" class="font-bold-500">Max On-chain Fee (Sats)</h4>
        <span class="foreground-secondary-text">447</span>
      </div>
    </div>
    <mat-divider class="w-100 my-1"></mat-divider>
    <div fxLayout="row">
      <div fxFlex="100" matTooltip="Waiting for Suheb to provide Off-chain Swap Payment Destination Tooltip">
        <h4 fxLayoutAlign="start" class="font-bold-500">Swap Payment Destination</h4>
        <span class="foreground-secondary-text">{{quote?.swap_payment_dest}}</span>
      </div>
    </div>
  </div>
</ng-template>
